[2021-03-30 20:58] andrevenancio commented on #318
The API isn't returning anything for you.

[2021-03-30 21:00] andrevenancio commented on #280
Having the burn address in one of the collectors doesn't exclude it from your profile.

The only time we're excluding nft's from your profile is it your're the creator of the NFT and if that NFT is on the burn address.. That feature has been reverted today by @crzypatchwork so I'm not sure how to fix this.

[2021-03-30 21:14] andrevenancio commented on #311
Yes. the viewer is not logged in properly. they need to click on the sync button again.

[2021-03-30 21:15] andrevenancio commented on #311
you should expect viewer=false if people are looking at your nft and aren't logged in.

[2021-03-30 21:15] #311 closed, assigned to nobody

[2021-03-30 21:16] andrevenancio commented on #313
Seems like you burned it right?

[2021-03-30 21:18] andrevenancio commented on #310
I shouldn't be a problem afaik

[2021-03-30 21:50] arielm commented on #334
The minified script has been automatically generated by emscripten.

Using Safari, I'm able to see the line which caused the error:
[code]
The error occurs at the 2nd line of the function. It seems like this function is part of emscripten's inner machinery. I don't see what can be done here...

Except maybe trying to find the right Content Security Policy and apply it to the html page via meta tag

[2021-03-30 22:18] skenaja commented on #280
It did (before it was commented out/reverted in the latest hotfix to `pages/display/index.js` which has turned off all burn item filtering). The response of the `contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders` API call in [L76](https://github.com/hicetnunc2000/hicetnunc/blob/dcc6556672200e020bbc3ffcba633fdbd9c64ae3/src/pages/display/index.js#L91) contained at 1 instance of th

[2021-03-30 22:27] codewithfeeling commented on #250
The preview is still not working for me at all. Blank screen with this error:

[code]

Trying to mint then led to the transaction being backtracked.

[2021-03-30 22:44] arielm commented on #334
Update: It works now!
Here is a test made with emscripten: [OBJKT#17964](https://www.hicetnunc.xyz/objkt/17964)

The solution was to use -s NO_DYNAMIC_EXECUTION=1. One downside: embind stuff will be disabled.
More details [here](https://stackoverflow.com/a/64814360/50335).

[2021-03-30 23:01] pandar511 commented on #318
I was able to access this via an old link. It shows that I issued the OBJKT
but if hit the creation link it’s doesn’t show up.

On Tue, Mar 30, 2021 at 16:58 André Venâncio ***@***.***>
wrote:

[2021-03-30 23:07] SandroMiccoli commented on #311
Thanks for the reply @andrevenancio!

Sorry to come back at this, but something seems a little odd:

If I open one of these objects  ([15459](https://www.hicetnunc.xyz/objkt/15459) or [9340](https://www.hicetnunc.xyz/objkt/9340)), they display correctly, since I'm logged in properly.

But, if I click on my hash (the old "sync" button), I receive viewer=false. But I'm logged in.

On the print I pos

[2021-03-30 23:34] codewithfeeling commented on #327
This seems to be resolved now. I unchecked the asset in my Temple wallet, re-checked it and now it seems to be OK.

[2021-03-30 23:34] #327 closed, assigned to nobody

[2021-03-31 00:36] codewithfeeling opened #335 "Recently minted items are not appearing with titles in wallet"
Everything I have minted today is missing from my Temple wallet. I have unsynced and resynced, but it doesn't affect things.

Example: OBJKT#18027
The title is "Here and now"

![image](https://user-images.githubusercontent.com/262516/113073731-99347680-91c1-11eb-98dd-9f26cd2b8c80.png)

A search for this in the assets in the wallet gives no results.

![image](https://user-images.githubusercontent.c

[2021-03-31 02:19] #293 closed, assigned to andrevenancio

[2021-03-31 04:41] pichiste commented on #250
Which browser? Can you try hard refresh?

[2021-03-31 04:58] pichiste commented on #332
@crzypatchwork this can be closed, thanks!

[2021-03-31 05:19] pichiste commented on #250
@codewithfeeling The only place I can reproduce this is on Brave, is that what you're using? If so, disabling the shield for the site fixes the problem:

![Screen Shot 2021-03-31 at 7 14 42 AM](https://user-images.githubusercontent.com/111979/113094126-7326ca80-91f1-11eb-8d86-edae79315e95.png)

![Screen Shot 2021-03-31 at 7 15 02 AM](https://user-images.githubusercontent.com/111979/113094132-75892

[2021-03-31 05:26] pichiste opened #337 "Add alert message for Brave blocking service worker in HTML preview"
By default, Brave blocks the HTML preview's service worker, throwing the following error in the web console:
[code]

There's nothing we can do about this on our end, but we should let the user know that their browser settings are blocking this feature from working. Maybe something like:

"Your browser settings are blocking this feature from working. Please enable service workers for this site, or

[2021-03-31 06:23] tarwin commented on #59
@neverhood311 I think this is a "problem" with blockchains in general. Everything is public, because it's on the blockchain. To do this you'd need a few things:

a) a way for users to sign up to the site, and have a profile connected to an email address
b) a server that sends links to "hidden" files to these users once they have collected something

I'm guessing both of these kind of go against th

[2021-03-31 06:56] djangobits opened #338 "Networks of trust / decentralized trust"
Had seen the discussion (of verticalcryptoart) yesterday with the topic of (local) subcommunities and also thought a lot about decentralized verification. Imagine, you could 'link' your own address to another address in the sense of that link would mean 'I trust you'. So you simply send off a link operation and a smart contract records that relationship. You could at any time unlink yourself of a

[2021-03-31 06:57] djangobits commented on #338
And speaking about the idea of crediting if you reuse artworks of other people, that linkage could also be made for OBJKTs. You could simply put one or more links to other OBJKTS.

[2021-03-31 07:10] mescalina commented on #338
Sounds like a genial idea to me. You should develop it, it could be a standalone service that anybody could you to build up a trust score of addresses.

[2021-03-31 07:17] EMES77 commented on #338
That's a great idea. I've seen something similar in the Pi Network. They call it Security Circle and it's actually their core element of trust in building the whole network.

[2021-03-31 07:20] somaticbits commented on #338
Yes, I love that idea, I'm transferring from Discord for that - so the bad actors would create their own bad network. Actually it could also be interesting in terms of experimentations.. Like creating interactive on bad actors and let them eat themselves (I'm just rambling here)

Anyways, how would that look visually? a score? And what happens to the new creators, or the ones who want to stay anon

[2021-03-31 07:27] djangobits commented on #338
@somaticbits my real name is not Django Bits, so it's possible to stay anonymous and connect to other people, but of course it needs a minimum of social interactions. But it would even be enough to have a website, where you publish your hicetnunc profile. So people can verify and if they trust it, they might link to you. So anonymity shouldn't hinder it.

And yes, we evolved the idea a bit on disc

[2021-03-31 07:37] somaticbits commented on #338
I'm always wary of scores as they push a certain kind of competition, and it would probably be the same in this case (who would be the more trusted? weird but probably a real scenario) - so I agree to avoid qualifiers / quantifiers of any sort.

So would that mean we would have different types of feed, categorized by the n levels of trust? Or would those feeds with the lowest levels just be hidden

[2021-03-31 07:39] jacksonzumdish commented on #338
I think what you are describing is BrightID.

https://www.brightid.org

This was funded by and subsequently integrated in gitcoin.co

[2021-03-31 07:42] EMES77 commented on #338
To avoid overambition and too much competition the maximum number of trusted links could be limited to, say 6. If you have 6 links you are trustworthy 100%. And nobody would get into cpetitively collecting trust-links...

[2021-03-31 08:10] codewithfeeling commented on #250
I am indeed using Brave. Thanks for the info re shields - will do that and confirm.
On 31 Mar 2021, 06:20 +0100, Daniel Massey ***@***.***>, wrote:

[2021-03-31 08:48] arielm opened #339 "Stuck on burning"
Hi, I have tried to burn [OBJKT#15716](https://www.hicetnunc.xyz/objkt/15716) but it's stuck on "burning NFT" status for more than 10 hours.

[2021-03-31 09:18] timtrautmann commented on #338
Back in the days where PGP was a popular thing amongst some people in the tech community, we held PGP key signing parties. I could imagine that that works in this scenario as well. https://en.wikipedia.org/wiki/Key_signing_party

[2021-03-31 09:26] djangobits commented on #338
But would that mean a bad actor would only need 6 incoming Trustlinks to get a trusted flag?

We should not really focus on counting Trustlinks. You could do that but the plain number is not relevant at all. It's just relevant if a user is in the chain of Trustlinks from my own user. The UI would need to dynamically show if a user is in the chain of Trustlinks that start from my own outgoing Trust

[2021-03-31 09:34] EMES77 commented on #338
Ah Yes! I thought if trustlinks are "earned" by knowing each other from somewhere else bad actors wouldn't get 6 trustlinks. But maybe even those could flock together to get an amount of links... Following a chain of trustlinks to a level everybody can define sounds like the better way to go!

[2021-03-31 09:37] skenaja commented on #339
It's definitely burned (you can see the `tz1burnburn.,.` address on the collectors tab). It's showing on your profile page due to bug #330

[2021-03-31 09:39] djangobits commented on #338
These links would be unidirectional (except two people created a link to each other). So it doesn't matter from the users perspective how many people link to you. It only matters where the outgoing links point to. These target users will be accepted as trusted users. It's something each user has to actively curate. But he can profit of other people's outgoing Trustlinks if he says that he accepts

[2021-03-31 09:47] djangobits commented on #338
![image](https://user-images.githubusercontent.com/40259308/113125354-ccedbb80-9216-11eb-8aec-36044c6521a6.png)
That's a simplified chain of trust. In this case, if User E is a bad apple, I would only see his wallet as trusted, when I set the trust level I want to see to 3. In this case the UI would tell me this user has trust level 3. If my setting is set to max trust level 2, all wallets below 2

[2021-03-31 09:48] #272 closed, assigned to nobody

[2021-03-31 09:54] codewithfeeling commented on #250
Turning Shields off fixes the issue on Brave - thanks.

[2021-03-31 09:58] djangobits commented on #338
![image](https://user-images.githubusercontent.com/40259308/113126547-0e329b00-9218-11eb-8dea-7e6cf7d2b4fb.png)
getting more complex, it could look like that. So if I set my circle of trust size to 1. I would see the green and yellow users as trusted, but the UI would indicate if they are level 0 or 1. All below and inclusive of level 2 would be displayed as not trusted (which doesn't mean it's a

[2021-03-31 10:00] djangobits commented on #338
The lazy people who are too lazy to create trustlinks, could simply trust a user they know is very serious about checking who is trustworthy and rely on his/her judgement. In the above example user A profits of all trustlinks that ME has created if he sets his circle of trust to a size of 1 (level 0 + level 1). The UI could even be extended, so you could see which of your trusted users have truste

[2021-03-31 10:05] djangobits commented on #338
It would be a tool to give the user power, not to ban bad apples per se. Not restrictive, but empowering. Pulling the data together upon loading a page or a piece, might be a bit of a task here... lol.

[2021-03-31 10:11] spite opened #342 "Sale from artist and sale from second market should be differentiated"
A few examples we've encountered so far:

- NFT sold by 1 TEZ by the creator - sells out - someone resells by 25 TEZ - the original page shows 25 TEZ without indicating whether the creator set that price or someone else did
- NFT sold by 4 TEZ - not sold out - someone resells by 145 TEZ - the original page shows 145 while there are still purchasable by 4 - this sounds like an actual bug
- NFT put

[2021-03-31 10:18] EMES77 commented on #338
I like that approach a lot! It's open and nobody is excluded. The UI could be on hicetnunc's profile-pages where you simply click a "trust this user" button. I have to admit that I don't have enough knowledge of blockchain-tech. I still think in databases...
Do i understand it right: If these trustlinks are smart contracts, this tech could even be accessed by other NFT platforms right? Then it cou

[2021-03-31 10:22] spite commented on #342
An example of 2:

Info tab:
![image](https://user-images.githubusercontent.com/731885/113129939-65823c80-9213-11eb-8de6-78b55e23747a.png)

Owners tab:
![image](https://user-images.githubusercontent.com/731885/113129858-4be0f500-9213-11eb-8f54-0525d74fa05f.png)

[2021-03-31 10:24] jacksonzumdish commented on #338
What you describe is literally what https://www.brightid.org built...

They even have an interactive 3D trust map in the app...

[2021-03-31 10:24] djangobits commented on #318
@pandar511 It is because your wallet is banned.

It was because of this piece:
https://www.hicetnunc.xyz/objkt/3266

Minted here:
https://tzstats.com/onfrrCHtncvTbFE85AUz5SaS7snnq4juBRHAnSvKu7cPceHKZpm/42880990

on IPFS here:
https://ipfs.tzstats.com/ipfs/QmTvyUjjXqLzoM7fgavqTEXU7Cjrtt2RpRrhrtJ1Jm9xCz

Google reverse search shows that it it is a widely distributed wallpaper image, that can be foun

[2021-03-31 10:54] mikedotalmond opened #343 "Allow local data: and blob: protocols in the Content-Security-Policy for HTML assets"
Would it be possible to modify the Content-Security-Policy tag that gets injected into the uploaded index.html to allow local loading of `data:` and `blob:` types like:

`<meta http-equiv="Content-Security-Policy" content="default-src data: blob: 'self' 'unsafe-inline';">`

I have a project that loads base64 encoded images using `data:` and audio as a binary `blob:` - in my testing I needed to upd

[2021-03-31 11:01] #334 closed, assigned to nobody

[2021-03-31 11:09] pandar511 commented on #318
Yes I am the original creator. This image is something I created over 10
years ago

On Wed, Mar 31, 2021 at 06:24 Django Bits ***@***.***> wrote:

[2021-03-31 11:12] djangobits commented on #338
@EMES77 Trustlinks could be implemented via smart contracts and yes, then it could be used by any other application or portal. There are data structures available. But queries might be tricky to do efficient, the deeper you want to query these trust chains.

AFAIK @crzypatchwork did try to not use external centralized databases, so a smart contract integration would make sense it it's possible to

[2021-03-31 11:25] djangobits commented on #318
Well @pandar511 anonymous accounts posting widely available wallpapers (and nothing else) are usually three red flags. Is there a portfolio or a website or an instagram account where you have other works?

[2021-03-31 11:30] Quasimondo opened #344 "HTML minting preview fails with html-template zip"
![image](https://user-images.githubusercontent.com/182098/113137511-ea298680-9224-11eb-8343-21616508858d.png)

When trying to mint an HTML template the preview always throws an "index.html" is missing alert box even though the file is included in the zip and even when trying it with the default provided html_template.zip from the repositoy.

This is on Chrome/Linux Version 88.0.4324.182 (Official

[2021-03-31 11:30] pandar511 commented on #318
If it’s wide usage is cause for an issue I can unmint that particular piece
and stick to some of my more recent non-commercial art

On Wed, Mar 31, 2021 at 06:24 Django Bits ***@***.***> wrote:

[2021-03-31 11:32] pandar511 commented on #318
My Twitter handle is ziggo511 and that is NOT the only thing that I had
minted. That was my second piece that I minted and then I minted a third
that was an original hand drawn image.

On Wed, Mar 31, 2021 at 07:30 Laura Wares ***@***.***> wrote:

[2021-03-31 11:34] pandar511 commented on #318
And the first image I minted was an original photo of campfire using copper
to alter to colors of the flame.

On Wed, Mar 31, 2021 at 07:32 Laura Wares ***@***.***> wrote:

[2021-03-31 11:40] jacksonzumdish commented on #338
They have an API as far as I know to integrate it, Gitcoin use it to keep the platform sybil-resistant. I mean if you wanna build it for fun I get that, I have done as much in the past, but what you describe is literally what it is...

https://dev.brightid.org

[2021-03-31 11:50] flygohr commented on #330
+1

[2021-03-31 11:51] staus commented on #255
Hey, haven't had time to read through the whole thread, but really love that this conversation is happening.
Wanted to share a case example of exactly the problem you're describing. Maybe you all know it, but doesn't seem to be mentioned:
MarbleCards features a thumbnail of any URL inside their nfts, but of course that's most of the time other artists pictures. Simon Stålenhag called them out and

[2021-03-31 12:18] Quasimondo opened #345 "Sorting order of sales offers is still not perfect yet"
![image](https://user-images.githubusercontent.com/182098/113142725-83f43200-922b-11eb-9727-1e9eaf16ff48.png)

Whilst the "show lowest price" mostly works now for the "collect" button I just encountered this issue where when the issuer puts multiple swaps for the same OBJKT but for different prices in at the same time, not the lowest offer is displayed, but seemingly the last one.

In this example

[2021-03-31 12:29] arielm opened #346 "Getting "The transaction is invalid and the node did not accept it" when swapping"
Hi, I'm trying to swap [OBJKT#18435](https://www.hicetnunc.xyz/objkt/18435) but I'm getting "The transaction is invalid and the node did not accept it". Here are the details:
[code]
It's not clear to me: I want to have 25 pieces at 5 tezos each. Should the swap operation cost something?

[2021-03-31 12:29] codewithfeeling commented on #335
Additionally, I minted 10 of [OBJKT 17989](https://www.hicetnunc.xyz/objkt/17989). This does not appear in my wallet at all, and in fact only 7 editions are showing. I originally put 3 up for swap and cancelled it, but this has not returned the items to me.

[2021-03-31 12:36] pichiste commented on #344
@Quasimondo do you have any chrome extensions enabled? If so, could you try turning them off and/or trying in an incognito window? This was the issue for someone else.

Is there anything printed to the console?

Thanks

[2021-03-31 12:42] pichiste commented on #343
I think we need to look at the security implications first. From the docs:

![Screen Shot 2021-03-31 at 2 40 57 PM](https://user-images.githubusercontent.com/111979/113145789-2bbf2f00-922f-11eb-8dca-3d1b621dcbca.png)

source: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/img-src#sources

Does it need to be loaded in that format? Can you load files instead?

[2021-03-31 13:02] arielm commented on #346
Update: I think I know what the problem is...
I minted an amount of 1. But then, I asked to swap 25 pieces.

So I minted again ([OBJKT#18474](https://www.hicetnunc.xyz/objkt/18474)), this time with an amount of 10. Then I asked to swap 10 pieces and the transaction did seem to work.

But now, after some time: I still see "Not for sale" after refreshing the objkt page.

[2021-03-31 13:08] djangobits commented on #318
@pandar511 all good. Sorry for having blocked your pictures. I did it because I've seen so many red flags. If the picture is your, then it's Ok. It's just one of the situations that shows us the limits of checking (a task I hate anyway).

[2021-03-31 13:10] djangobits commented on #318
I removed it, should be visible within some minutes.

[2021-03-31 13:10] #318 closed, assigned to crzypatchwork

[2021-03-31 13:10] arielm commented on #339
Thanks. You're right.

But I also tried to burn [OBJKT#15699](https://www.hicetnunc.xyz/objkt/15699) and [OBJKT#14601](https://www.hicetnunc.xyz/objkt/14601) and after a while, it still didn't transfer ownership to tz1burnburn...

[2021-03-31 13:17] Quasimondo commented on #344
@pichiste I do have a color picker extension, MetaMask and TempleWallet running. I will try again with those fixes, but do you think this is something that can be fixed on our side, since I believe extensions are quite common. At least it would be a good idea to add that to the warnings that are returned.

[2021-03-31 13:20] pandar511 commented on #318
Thank you kindly :) I’m sure you guys constantly have to be on your toes
checking for these things. It’s got to be tiring at times. Thanks for your
work :)

On Wed, Mar 31, 2021 at 09:10 Django Bits ***@***.***> wrote:

[2021-03-31 13:26] pichiste commented on #344
hopefully we can catch the error and provide a clearer alert, but hard to say without being able to recreate. Haven't been able to do so here. Could you maybe try disabling one by one to see if it helps? It could also be a different issue, service workers seem to be kind of finicky, but necessary for the preview to work (it's how we're able to serve the zip file contents locally before uploading)

[2021-03-31 13:35] pichiste commented on #344
@Quasimondo anything you see in the web console would be of great help, thanks!

[2021-03-31 13:38] pichiste commented on #250
@crzypatchwork you can close this issue, thanks

[2021-03-31 13:40] Quasimondo commented on #344
Okay here is an error message I see in the dev console and I can also see that MetaMask is interacting with the page.
![image](https://user-images.githubusercontent.com/182098/113152522-814b0a00-9236-11eb-9fbc-142d72e5f778.png)

So it looks to me like the error must happen in this line
`const fileData = await requestFileData(uid)`
Where the fileData returned is somehow not the right. Unfortunately

[2021-03-31 13:45] pichiste commented on #344
@Quasimondo thanks, one last thing, could you try in a different browser? firefox for example?

[2021-03-31 13:46] Quasimondo commented on #344
Okay - I found the culprit: it is MetaMask. My workaround that fixes it is to right click the MetaMask Icon, select "This can read and write site data" and pick "When you click the extension"

[2021-03-31 13:46] pindarvanarman opened #348 "Object appears as [Unknown token] in wallet and can not be sent or sold"
Minted https://www.hicetnunc.xyz/objkt/18210

In my Kukai wallet it appears as [Unknown token]

Can't send it to anyone.  Also can't burn it.

Why is it an unknown token?

[2021-03-31 13:49] pindarvanarman commented on #333
Hapenning to me also.

[2021-03-31 13:50] pichiste commented on #344
Thanks for tracking this down! 🙏

From our side, I think we can at least catch that the file data is empty because of this, and we can display a less confusing alert!

What we really need is some proper documentation for all things HTML NFT. Will try to get that together soon.

[2021-03-31 13:51] pichiste commented on #344
@crzypatchwork you can close this, thanks

[2021-03-31 13:52] #344 closed, assigned to nobody

[2021-03-31 14:14] neverhood311 commented on #59
@tarwin Yeah, I think you're probably right.

I'm thinking the best workaround might be to require the buyer to register their tzkt account with some contact information and send a DM.

[2021-03-31 14:17] mikedotalmond commented on #343
Ok, yeah that seems senssible, hadn't seen/read that doc - sorry.

I think for this case I will be able to work around it by pulling that data out of the code and loading it as a file instead as you suggested. Thanks.

I think having the ability to load a Blob will still be quite useful though, and there doesn't seem to be the same concerns there..?

[2021-03-31 14:18] arielm commented on #346
Update: I tried to swap again but without success (The transaction is [here](https://tzkt.io/opMuzD5UNCqzwygGx2Za3n5A2ZUF5BHfDF6kPM76Q3aN6bf8LVg))

It has been backtracked with error "Storage quota exceeded for the operation". What does it mean?

[2021-03-31 14:19] pichiste commented on #344
@Quasimondo FYI, found a workaround for this actually! Proper fix coming in next release. Thanks again for helping track this down

[2021-03-31 14:26] pichiste commented on #343
Just to understand the use case, how are you inlining the Blob?

[2021-03-31 14:39] arielm commented on #346
Update: I tried to swap again and it finally worked.

[2021-03-31 14:39] #346 closed, assigned to nobody

[2021-03-31 15:20] mikedotalmond commented on #343
I went back to double check what's going on and I think I misread or misattributed the error messages. I think the actual cause was triggering subsequent errors that lead me down the wrong path. Apologies.

It looks like, rather than coming from a data/blob load of an image and audio stream that I thought it was, it's coming from some 3rd party code that is building a Worker JS file at runtime, en

[2021-03-31 16:11] n1ckfg opened #351 "Can't access mp4 in HTML upload"
HTML upload can't access a small (~8MB) local mp4. Going directly to the ipfs link:
https://cloudflare-ipfs.com/ipfs/QmajcLymiXcy6duNtXT2MpKomCNYuCuUmNNh7QvCZrWk4b/bicycle_360.mp4
...returns the message "ipfs: video streaming is not allowed"

Sample objkt:
https://www.hicetnunc.xyz/objkt/18084

Working (non-flat) example:
https://n1ckfg.github.io/threejs_depth_eqr

[2021-03-31 16:15] pichiste commented on #343
Well you raise a good point that some 3rd party lib people use might need :blob support... we will consider it but need to look at it more closely when there's a chance.

Can you close the ticket actually? I'm an external contributor (focused on html stuff) and can't! thanks

[2021-03-31 16:30] jimfetterley opened #352 "It appears I can swap & burn objkts I do not own"
<img width="1747" alt="Screen Shot 2021-03-31 at 9 24 19 AM" src="https://user-images.githubusercontent.com/81703984/113178462-75922000-9203-11eb-8176-b21eb60e058f.png">

I appears I can swap & burn objkts I do not own, and that doesn't seem right.

Am I reading this GUI wrong?  See screenshot.

thanks,

jim

[2021-03-31 16:35] mikedotalmond commented on #343
Ok great 👍😋 thanks, will do!

[2021-03-31 16:35] #343 closed, assigned to nobody

[2021-03-31 17:03] jimfetterley commented on #255
HI all-

(EDIT here):  I have removed parts of my initial post to take my 1st personal account out of the discussion and update references as I've been learning and getting educated on the issues with copyright I was experiencing and thinking about. Of course, appropriation art can be sold on the blockchain, and it may hold up to a Fair Use case if a copyright holder would like to send a cease and

[2021-03-31 19:17] fraguada opened #353 "expand allowed domains"
We already have some useful domains to call from interactive nfts. I'm opening this issue to discuss the expansion of this list:

- http://ipinfo.io/ (or similar) - would allow an nft to know about the location of the client... more or less. It isn't super accurate, could be completely wrong in cases with proxys, but could at least allow for nfts with some geolocation without allowing the geolocat

[2021-04-01 07:08] pichiste commented on #343
FYI, had a closer look and looks safe, data: and blob: support coming soon: https://github.com/hicetnunc2000/hicetnunc/pull/354

[2021-04-01 08:17] FDF01 opened #355 "Collectors ID is not showing into the list with Collectors also not showing in Temple Wallet between all others"
Picked up several pieces yesterday, with 2 of them my ID (https://tzkt.io/tz1PYJbuAbc14ZBLbD7jQszoVDDEbMBpjYKG) is not showing up on the collectors tab below the artwork, these works are also not appearing in my Temple Wallet, other works I bought yesterday are showing up.

They DO appear in my collection tab (https://www.hicetnunc.xyz/tz/tz1PYJbuAbc14ZBLbD7jQszoVDDEbMBpjYKG)  but my ID is missing

[2021-04-01 08:24] Quasimondo opened #356 "Placement of fullscreen button"
![image](https://user-images.githubusercontent.com/182098/113264987-e99bf900-92d3-11eb-9213-90616e6e936b.png)

I am wondering if it is a technical constraint that the placement of the new fullscreen button is on top of the artworks themselves or if this is a design decision? Whilst I am extremely happy that we have this option now I also feel that it now "encroaches" on the artworks themselves. Al

[2021-04-01 08:33] mattebb commented on #356
I agree, I think it would be much less disruptive to the art if it were outside the artwork itself.

[2021-04-01 08:34] samuelebonaffino commented on #356
Outside would be the better solution, or at least adjust it with a low opacity when moving the mouse on the canvas. I bet devs already took it into account though. We should open a request feature [here](https://hicetnunc.featureupvote.com/) as well.

[2021-04-01 08:48] dreizehnutters commented on #356
I would suggest to auto make it disappear/auto hide on the full screen view and to make the overlay transparent.
Currently on colorful pieces it is quit disturbing -> https://www.hicetnunc.xyz/objkt/14852

[2021-04-01 08:50] samuelebonaffino commented on #356
I've also added a feature request [here](https://hicetnunc.featureupvote.com/suggestions/175692/moving-fullscreen-button-outside-of-the-canvas), feel free to upvote if you want.

[2021-04-01 09:27] scalemodal commented on #356
Agree, on mouseover with opacity or outside.

On this objkt this button is moving now, on different browser resolutions:
https://www.hicetnunc.xyz/objkt/19510

![image](https://user-images.githubusercontent.com/81647978/113273619-20c2d800-92dd-11eb-91d5-42a052daa7c7.png)

[2021-04-01 09:36] andrevenancio commented on #356
seems like an easy enough feature for some of you trying to get into open source. I dont think we have enough contributors to all the requested changes. so extra help will be appreciated.

[2021-04-01 09:38] Quasimondo commented on #356
Uh, that is a bit ugly, isn't it?

[2021-04-01 09:40] Quasimondo commented on #356
Maybe someone can chime in whether there are technical constraints. I know that with our iframe construct there are certain things that can only be done from the "outside" and others can likely only be done from the "inside". So my main question is, if that button is actually part of the iframe or part of the containing page.

[2021-04-01 09:46] andrevenancio opened #357 "Contributors 👋🏻"
Hi everyone. We're a very small amount of maintainers trying to go through all the different things happening with the platform from new features, bug fixes, support people, peer code review, github issues sorting etc.

Would be nice to have some new contributors reaching out and taking some of the burden out. I personally only work on this part-time and there's not enough hours in the day to go t

[2021-04-01 09:50] scalemodal commented on #356
I would make this stroke thinner also.

Option A:  thinner+opacity on mouseover. Can be a good option, because full screen button is usually placed on the picture, just common UX (without this button movement glitch)
Outside is harder to find a suitable place. On the right side we have editions and price. Left side is an issuer.

However, option C seems to me could have a bit better perspective, b

[2021-04-01 09:53] andrevenancio commented on #356
By parts:
So the button is a feature from the platform. What it does, is to request the hicetnunc website itslef to enter fullscreen and it hides other content like the text descriptions or the menu once it enters fullscreen mode. its never the art itself that has the button.

Safari (iOS) does NOT support fullscreen API. That is not a bug on our end, its a poor design decision on Apple's part. Th

[2021-04-01 10:03] Quasimondo commented on #356
First of all: a big thank you for implementing this @andrevenancio ! It is a great feature to have! Also thanks for clarifying where the button is "living". So that means we can place it anywhere on the page.

Personally my favorite would be the placement of option B in @denscimonk 's proposals. And C as the runner-up.

Admittedly with it being on top of the OBJKT it is easier for most people to d

[2021-04-01 10:06] scalemodal commented on #356
@andrevenancio I'm a UI/UX designer, I can assist you and other devs on these efforts.

Option B, I don't see as in ideal solution,  but rather a quicker fix, we can test it.
This button should be as close to the picture as possible, in the same time I would not mix it with prices/editions.

[2021-04-01 10:08] scalemodal commented on #356
Yep, it's a bit better for UX, but it's not a big deal, because artwork is more important, than common UX patterns.

[2021-04-01 10:11] andrevenancio commented on #356
there's a designer starting looking at the site. Come to discord and I'll introduce you. I'm trying to focus more on code than visuals but i agree the importance ui/ix needs. And how it can change the experience for the best. But I need to focus on my day job and I only have an hour or so a day for  hic, which normally I dedicate to build new features instead of focusing on doing my own art which

[2021-04-01 11:22] ertdfgcvb opened #358 "Fullscreen not working on Safari"
Safari throws:
TypeError: document.documentElement.requestFullscreen is not a function.
(In 'document.documentElement.requestFullscreen()', 'document.documentElement.requestFullscreen' is undefined)

Unfortunately the Fullscreen API on Safari still uses the vendor prefix `.webkitRequestFullscreen`…

[2021-04-01 11:40] andrea-benatti opened #359 "BURN OBJECT"
DOSEN'T WORK !!

Burning will remove all OBJKT#16364 from your possession to a burn address.

[2021-04-01 13:47] Quasimondo commented on #359
Are you referring to #330? It is more helpful if you provide some details what doesn't work for you. And please do not shout.

[2021-04-01 13:50] Quasimondo commented on #345
It looks to me like this was fixed in the latest update. Closing this issue.

[2021-04-01 13:50] #345 closed, assigned to nobody

[2021-04-01 13:55] Quasimondo opened #360 "Sorting order of OBJKTs in creations tab?"
I am trying to understand the logic behind the order in which OBJKTs that I have minted appear in my own "creations" tab. There seems to be a mixture of various ordering methods happening at the same time. It is not by OBJKT number or time minted. Maybe there is some hDAO weighting happening? Or is it based on sales prices? I can't figure it out and to be honest I also do not like the order.

Of c

[2021-04-01 15:31] andrea-benatti commented on #359
Thanks and sorry

[2021-04-01 15:31] #359 closed, assigned to nobody

[2021-04-01 15:42] scalemodal opened #361 "OBJKT detail page: UI/UX improvements."
Hi,
I have a suggestion how to update the OBJKT detail page, in order to improve user experience and design maturity, since we are working on it already.
I'm looking for a dev here to collaborate and implement these changes, I will provide needed assets.

Have a look my design below.

Suggestions:
- Artwork title is moving to the main part
- Issuer is moving a bit down, second priority
- Tezos add

[2021-04-01 17:02] neverhood311 opened #362 "Image doesn't fully load"
I have several OBJKTs that are not fully loading, neither in the gallery view, nor in the page for the OBJKT itself.
![image](https://user-images.githubusercontent.com/4615170/113328507-9dec4e00-92d9-11eb-8dd4-65b8814324e3.png)
Here are the links:
https://www.hicetnunc.xyz/objkt/5073
https://www.hicetnunc.xyz/objkt/5076
https://www.hicetnunc.xyz/objkt/5088

What could be going on here?

[2021-04-01 17:06] neverhood311 opened #363 "OBJKT sold, but doesn't show the collector's address"
There are two OBJKTs of mine that sold today, but I'm not able to see the address of the collector:
https://www.hicetnunc.xyz/objkt/15099
https://www.hicetnunc.xyz/objkt/19714

What's going on?

[2021-04-01 18:40] mathMakesArt opened #364 "Dark Mode: Address of collector issuing swap doesn't change"
### CLARIFICATION: Title should read "doesn't change color". This issue is about a non-functional color change.

![image](https://user-images.githubusercontent.com/68834165/113338261-dfd7bd00-92f6-11eb-9a8e-f65959badaf3.png)

I noticed that in the new "dark mode", addresses normally are readable on the "Collectors" tab. **However if an address has initiated a swap, the color does not respond to da

[2021-04-01 18:54] mathMakesArt commented on #364
After some further investigation, it seems that [**/src/components/owner-swaps/index.js**](https://github.com/hicetnunc2000/hicetnunc/blob/main/src/components/owner-swaps/index.js) is the file that renders this page content.

Specifically, I think the problem comes from [**line 14**](https://github.com/hicetnunc2000/hicetnunc/blob/54c2a2709f0edca1069a0939e01076b6249261db/src/components/owner-swaps

[2021-04-01 19:32] martinpospech opened #365 "sound control in a video disappears"
When trying to adjust audio volume in a video, the volume bar disappears and can't be adjusted (tested in Chromium).

[2021-04-01 20:05] mathMakesArt commented on #364
The `walletPreview()` function appears to originate from [**/src/utils/string.js**](https://github.com/hicetnunc2000/hicetnunc/blob/main/src/utils/string.js) and is probably unrelated to coloring
<br />
The `<Primary>` tag appears to originate from [**line 54**](https://github.com/hicetnunc2000/hicetnunc/blob/54c2a2709f0edca1069a0939e01076b6249261db/src/components/button/index.js#L54) of [**/src/c

[2021-04-01 20:10] neverhood311 commented on #363
I did some digging, and it looks like the buyer (tz1YNUNArBDYWu8evZj73HR9vE6y5FQkaj5M) purchased several of my OBJKTs, then was added to the wallet blacklist two hours later (https://github.com/hicetnunc2000/hicetnunc/commit/54c2a2709f0edca1069a0939e01076b6249261db, committed by @djangobits). However, there's no reason given for why they were added to the list.

This brings up a concern. If a wall

[2021-04-01 20:30] mathMakesArt commented on #364
Because line 20 of the file (quoted above) already reads as follows:
`color: var(--text-color);`
Specifically, because it already uses the `--text-color` variable, I'm not sure why this one aspect of color-changing behavior is broken.

### For now I will leave the issue unresolved, and hopefully my notes are enough for someone more knowledgeable to figure this out.

[2021-04-01 21:03] pichiste commented on #358
This one is fixed in PR, just awaiting merge: https://github.com/hicetnunc2000/hicetnunc/pull/354

[2021-04-01 23:00] mathMakesArt commented on #315
In observing the same NFT referenced in the original post, I've noticed that it now displays my lowest-priced swap as the primary listing.

I'm not sure how this would play out in the presence of secondary swaps, **but it appears to be fully-functional for now, so I'm closing the issue**.

[2021-04-01 23:00] #315 closed, assigned to nobody

[2021-04-01 23:06] tomburtonwood opened #366 "mp4 not loading"
mp4 file is not loading
[https://www.hicetnunc.xyz/objkt/14869 ](https://www.hicetnunc.xyz/objkt/14869 )
it was working previously - not sure why it has stopped. Help!
other mp4 files i have uploaded are working. very odd. sad i  am.

[2021-04-02 01:08] mathMakesArt commented on #366
It's loading for me at the time of this comment!

[2021-04-02 01:11] mathMakesArt commented on #365
Can you be more specific?
Does this happen in every single video on HicEtNunc, regardless of other context, as long as you're using the Chromium browser?

I don't want to completely jump to conclusions, but this seems more likely to be a Chromium (or OS-specific) issue than a problem with the HicEtNunc sound control

[2021-04-02 01:16] mathMakesArt commented on #360
I was under the impression that the order is as follows (from the top of the page down):

1. Mints which you have never listed for a swap
(these are sorted in descending OBJKT number order)
then
2. Mints which you have listed for one or more swaps
(also sorted in descending OBJKT number order)

That being said, I don't think much hDAO (if any) has been used to interact with my pieces. So if hDAO w

[2021-04-02 01:19] andrevenancio commented on #356
I've tried to replicate the behaviour of the video player for the fullscreen:
On rollover it shows and on rollout it goes away. It doesn't look good with the icon outside the art.

There's a designer starting to have a look at the overall site, so this can be revisit soon.
On mobile because ios safari doesn't support fullscreen api its been removed.

[2021-04-02 01:19] #356 closed, assigned to andrevenancio

[2021-04-02 01:20] andrevenancio commented on #366
tested on Chrome and Safari and works fine.

[2021-04-02 01:20] #366 closed, assigned to nobody

[2021-04-02 01:21] mathMakesArt commented on #325
It can take some time for the web UI to update and reflect new transactions. Typically this takes 5 minutes or less, but in my experience it can sometimes take longer.

Could you respond to indicate whether this issue is still occurring after 2 days?
If not, can the issue be closed?

[2021-04-02 01:21] andrevenancio commented on #365
that's expected when a video has no sound the controls have the audio disabled.

[2021-04-02 01:21] #365 closed, assigned to nobody

[2021-04-02 01:25] andrevenancio commented on #364
Hi @mathMakesArt thank you for the very insightfull issue report. This has been fixed. I'm waiting on @crzypatchwork to deploy tonight and hopefully fix it. Really appreciate the insightful issue.

[2021-04-02 01:25] #364 closed, assigned to andrevenancio

[2021-04-02 01:26] andrevenancio commented on #363
@djangobits ☝🏻

[2021-04-02 01:28] andrevenancio commented on #362
You should be able to properly debug by opening your chrome dev tools and have a look at the requests tab. My educated guess is that its depending on your speed. At the moment if someone mints at high resolution that's the resolution we serve it. In the future we're going to address this issue by including smaller thumnails but for now if someone uploads a 4k image, we're serving that 3k image eve

[2021-04-02 01:28] #362 closed, assigned to nobody

[2021-04-02 01:33] andrevenancio commented on #361
Appreciate the feedback and apologies for not being clear but Github issues should be more for feature requests and bug reports. A complex suggestion like this, involving multiple design changes and multiple features will not be great to track on github. There's also a designer currently having a look at the site, and this suggestions are better to keep on Discord on the #design channel.

[2021-04-02 01:33] #361 closed, assigned to nobody

[2021-04-02 01:35] andrevenancio commented on #360
I'm not totally sure. They already come ordered from the API which is on another repository. maybe @crzypatchwork can weight. I'm thinking it might be a good idea to order it by number maybe?

[2021-04-02 01:42] mathMakesArt commented on #364
Wow, thanks for the fix! I'm very glad that my reported information was helpful.

I'm not the most talented web dev, but I certainly have the skills to report issues at this level. I'll continue to create reports like this in the future for any other problems that I investigate!

[2021-04-02 01:43] andrevenancio commented on #358
I ended up deciding against pushing that code. on touch devices fullscreen is going to be disabled for now. there was a lot of other considerations to have, specially a around a new AR piece that Raphael published https://twitter.com/sableRaph/status/1377757889868275718?s=20 on mobile there was an overlap of the AR logo and the fullscreen. We can revisit the fullscreen again once Safari supports i

[2021-04-02 01:43] #358 closed, assigned to andrevenancio

[2021-04-02 01:57] andrevenancio commented on #353
@veqtor ☝🏻

[2021-04-02 02:02] andrevenancio commented on #351
that seems to be a ipfs configuration. We're considering which server to serve html from, but this will impact other users. I'm not sure if there's a resolution. @pichiste ☝🏻

[2021-04-02 02:03] tomburtonwood commented on #366
Great! Thank u all! Sorry!

 typos are mine

[2021-04-02 02:05] andrevenancio commented on #348
this one is showing up without any owners @crzypatchwork ☝🏻

[2021-04-02 02:09] #332 closed, assigned to nobody

[2021-04-02 02:22] pindarvanarman commented on #348
Can you please either burn it or make me owner so I can burn it.

[2021-04-02 02:31] crzypatchwork commented on #348
the unkown token is just a misconfiguration in parsing the token info which we have addressed to wallet developers already. the burn issue is being solved today.

[2021-04-02 04:42] n1ckfg commented on #351
Ha--I can do it with base64 encoded text, as long as I leave the dataurl header off the text file, and add it only when finally loading the video in jS! https://www.hicetnunc.xyz/objkt/20543

[2021-04-02 04:53] mescalina opened #367 "Alert box in the header of the website"
It would be nice to have an alert box on top of the HEN website (That you can choose to close and doesn't pop up again unless there are new messages to display) where you can show any kind of alert regarding active bugs/problems. So when people open the page they immediately know if burn is not working or anything else going on. I guess it would also save a lot of time and energy from discord and

[2021-04-02 06:15] ertdfgcvb commented on #358
This affects also the desktop version of Safari!
The fix is a one-liner and it'd be a pity to disable the functionality for Safari users and not directly related to AR.
The vendor prefix fullscreen is like this since many years and I suspect it's a long forgotten issue in webkit land. I wouldn't rely on them (I'll open an issue in webkit, in any case).
Please re-open, eventually.

[2021-04-02 06:41] pichiste commented on #358
@andrevenancio  Re-implemented this to target only desktop in this PR: https://github.com/hicetnunc2000/hicetnunc/pull/369

This still honors the iOS check.

There were issues also with other browsers because of several vendor-specific event/element naming conventions.

[2021-04-02 07:06] pichiste commented on #343
@mikedotalmond just an update on this, data: and blob: has been enabled for media files

[2021-04-02 07:09] pichiste commented on #351
I don't think there's anything we can do on Cloudlfare side... need to investigate further.

@n1ckfg clever workaround! Just FYI data: and blob: have been been enabled in latest release so you shouldn't have to do the dataurl header fix going forward :)

[2021-04-02 07:11] pichiste commented on #351
@n1ckfg sorry I misinterpreted, if you want to load from an external file then I think your solution is basically the way to go!

[2021-04-02 07:20] scalemodal commented on #356
@andrevenancio Sure, I'm already there under the same name: denscimonk

[2021-04-02 08:20] pichiste commented on #274
Re: how this all gets saved in the metadata if we're trying to follow the [spec](https://tzip.tezosagora.org/proposal/tzip-21/):

Currently the `displayUri` field is used for HTML cover images, so I guess that should be the same across other media types.

The `thumbnailUri` field is what is displayed in wallets and is meant to be thumbnail size. Maybe we can auto-generate this one too? Currently i

[2021-04-02 08:51] codewithfeeling commented on #335
Also bought multiples of [https://www.hicetnunc.xyz/objkt/19486](https://www.hicetnunc.xyz/objkt/19486). I can see the swap button but my name is not in the collectors list, can't see the asset in my wallet.

[2021-04-02 08:55] codewithfeeling commented on #335
This asset has appeared in the wallet. There was a delay of about 24 hours before it showed up.

[2021-04-02 08:55] #335 closed, assigned to nobody

[2021-04-02 08:58] codewithfeeling commented on #363
I think this might have happened to me. I purchased multiples of https://www.hicetnunc.xyz/objkt/19486. I swapped one, and can in fact still see the swap button... but my ID is not in the collectors list and the asset is not showing in my wallet.

![image](https://user-images.githubusercontent.com/262516/113400501-cdfb2600-9399-11eb-8dbe-38481dd7109d.png)

Swap showing, but not in the collectors l

[2021-04-02 10:40] skenaja commented on #339
Looks like the L2 data that HEN uses is not up-to-date. Raised a query with the upstream BCD API maintainers via their Telegram group:

[2021-04-02 11:00] arielm opened #376 "Deformation when switching html content to full-screen (Chrome)"
Hi, I have tried the new full-screen button on [OBJKT#18474](https://www.hicetnunc.xyz/objkt/18474) and it's causing a deformation (it's like the original iframe square is stretched on all the screen's width.)

Note that it's not a html/css problem because the html page in question looks great when browsing  via [cloudflare-ipfs.com](https://cloudflare-ipfs.com/ipfs/QmZgiBVCKHYmic9kDHVqJEWTfW8oC9P

[2021-04-02 11:05] arielm opened #377 "Full screen button doesn't work for html content (Safari)"
Hi, I have tried the new full-screen button on [OBJKT#18474](https://www.hicetnunc.xyz/objkt/18474) and it's not working.

The following error is showing in the JS console:

It occurs on Safari 13.1.1 / macOS.

[2021-04-02 11:09] skenaja commented on #313
One of the 5 copies [was burned](https://api.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=14211), so it's a duplicate of #280

[2021-04-02 12:18] Pamicel commented on #377
Hi, this is a duplicate of issue #358 addressed by [pull request 369](https://github.com/hicetnunc2000/hicetnunc/pull/369)

[2021-04-02 12:25] arielm commented on #376
Update: On the other hand, this [html content](https://www.hicetnunc.xyz/objkt/12672) works as intended when switching to full-screen.

After all, the problem does seem to be with my html/css/js. I'm puzzled for now...

[2021-04-02 12:53] skenaja commented on #339
@arielm Looks like the API is now returning correct results, those 2 are now showing as being owned by the burn address.

[2021-04-02 13:12] arielm commented on #339
Correct, thanks for updating. Now waiting for bug #330 to be solved.

[2021-04-02 13:13] #377 closed, assigned to nobody

[2021-04-02 13:13] arielm commented on #376
Update: my bad, it was a problem in my C++/OpenGL code (camera was not updated upon resize)

[2021-04-02 13:13] #376 closed, assigned to nobody

[2021-04-02 13:20] skenaja commented on #363
@neverhood311 there was an issue affecting an upstream API which meant there was a delay in the collectors tab getting updated. This has now been resolved, and the collectors should now be showing up.

[2021-04-02 13:20] Nek opened #378 "Can't swap"
**Describe the bug**
A newly minted OBJKT has empty "Editions:" field and can't be swapped. The swap results in "The transaction is invalid and the node did not accept it.".

**To Reproduce**
Steps to reproduce the behavior:
1. Mint an OBJKT
4. See error

**Expected behavior**
I expect swapping to work.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://

[2021-04-02 13:22] Quasimondo commented on #378
Maybe if you could also share the OBJKT# and maybe the tezos transaction links connected with that one it might help tracking down the cause of the error?

[2021-04-02 13:23] #339 closed, assigned to nobody

[2021-04-02 13:25] Quasimondo commented on #378
Also: did you actually try to use the swap tab? Whilst the empty display of "Editions" is admittedly confusing I believe that swapping should work fine - at least I could just do it for one of mine, even though it displays the same view as in your screenshot.

[2021-04-02 13:26] Quasimondo opened #379 "Activate "Projects" and "Wiki" here"
I think those could be useful tools to keep better track of tasks as well as to collect other useful knowledge regarding the api or FAQs.

[2021-04-02 13:52] andrevenancio commented on #274
can we store it all in the same place? The wallets check a certain property and that's what they use to show the preview of the asset. I think its displayUri. Why not use the same for all media? Also, based on my experience I would NOT automate the process to create screenshots for videos. I would get the user to supply the frame they like. Otherwise we then need to implement a way of them changin

[2021-04-02 14:03] pichiste commented on #274
I think wallets grab `thumbnailUri`, at least Kukai does (it's the little black dot):

![Screen Shot 2021-04-02 at 3 55 07 PM](https://user-images.githubusercontent.com/111979/113421822-0156a880-93cc-11eb-9358-40df99db6fdf.png)

https://ipfs.io/ipfs/QmNrhZHUaEqxhyLfqoq1mtHSipkWHeT31LNHb1QEbDHgnc/

All I meant to say is that the `thumbnailUri` should just be an (auto-generated) mini version of `dis

[2021-04-02 14:15] Nek commented on #378
Absolutely. Just let me figure out how to do this 😅
And no, swapping doesn't work for me 😞

[2021-04-02 14:18] pichiste commented on #274
Hm, using displayUri might end up breaking something on a wallet if they are expecting an image actually.

Maybe the preview video ref should just be added to `attributes`?
https://tzip.tezosagora.org/proposal/tzip-21/#attributes-array

[2021-04-02 14:25] Nek commented on #378
https://www.hicetnunc.xyz/objkt/17477
Just tried to set a swap of 10 items for 3 Tezos.
![image](https://user-images.githubusercontent.com/132011/113424088-d8d0ad80-93cf-11eb-9e41-2e2f862c6b48.png)
![image](https://user-images.githubusercontent.com/132011/113424128-e7b76000-93cf-11eb-8448-39ccb144234e.png)

Can I provide any other info? Also, what would be a good resources to learn how to develop

[2021-04-02 14:49] Quasimondo commented on #378
it says "Insufficient Balance" - do you have any tezos in your wallet?

[2021-04-02 15:14] Nek commented on #378
14.716938 tez

[2021-04-02 15:14] mescalina commented on #378
But is there any reason why the total editions are gone or is it just a bug? Before it was saying 1/10 if 1 of 10 was for sale.

[2021-04-02 15:42] malaventuraNFT opened #381 "Can´t upload items heavier than 40Mb"
I can't upload items heavier than 40Mb
Just that, It would be great to have a higher limit to upload files. Trying to put my videoarts there but don't want to have to downsize the files so the quality can be acceptable. Thanks in advance.

[2021-04-02 16:06] Quasimondo commented on #378
So it looks like you minted 5 OBJKTs but are trying to swap 10? At least that is how I interpret the "collectors" tab and which would explain the "insufficient balance" error. You cannot swap more OBJKTS that you have originally minted.

![image](https://user-images.githubusercontent.com/182098/113432694-22c09000-93de-11eb-979b-e1a4e11d09f6.png)

[2021-04-02 16:10] Quasimondo commented on #381
That is a limit by IPFS and within the normal allowed maximum of pretty much all crypto platforms. Would surely be nice to have more, but  it is not just about flipping a switch.

[2021-04-02 16:12] Quasimondo commented on #378
If you minted 10 and it displays 5 there then this sounds like a problem with the API which currently is still being worked on and which will hopefully stabilize soon.

[2021-04-02 16:12] mikesizz commented on #280
Hello! I have a PR in review to deal with burned NFT's. It doesn't seem like a big problem to hide a brand new NFT that was burned (just ensure that the burn addr has all of them). What I am trying to finalize is when an objkt is owned by one other person and the issuer burns the rest of their copies. Is this a case where we would also want to hide it from the creations list?

https://github.com/h

[2021-04-02 16:12] oldominion commented on #381
You can always promise to send owners high quality copies on request.

[2021-04-02 16:15] Nek commented on #378
Thanks! I think I'm confused about several things at once. Let me look more into it.

[2021-04-02 16:15] codewithfeeling commented on #363
I can confirm that I can now see my purchases in the collector tab for the piece in question.

I'm not "jenHP" and have never taken more than one free copy of anything. My ID is tz1YJv...hbUQ - the whole point of my post was that my ID was NOT showing up.

[2021-04-02 16:16] malaventuraNFT commented on #381
Thanks Mario for your quick response. I didn't know that that limitation comes from the IPFS network. Hope that switch can be flipped sometimes in a near future, as you said it would be nice, specially for narrative pieces.

[2021-04-02 16:40] andrevenancio commented on #381
I've implemented ISSUE / FEATURE Requests templates. Please don't disregard the templates next time. They help us act faster. thanks.

[2021-04-02 16:40] #381 closed, assigned to nobody

[2021-04-02 16:45] malaventuraNFT commented on #381
Awesome. Sorry for not following the template but the issue was just that. Next time I'll follow the instructions. Thanks

[2021-04-02 16:51] andrevenancio opened #382 "PLEASE READ: before submitting an issue"
Hi everyone. We're excited to have you here.

Help us manage our code repository by being thoughtful when submitting an issue.

If you're here to report a bug, please make sure there isn't already a bug open for the same issue you're experiencing. If there is one, read it and add your own input if it contributes towards the resolution. Having multiple issues that are duplicates is actually counter

[2021-04-02 16:52] #357 closed, assigned to nobody

[2021-04-02 17:56] martinpospech commented on #365
I am talking about videos that actually have sound. However it seems to work in Firefox and today it also worked fine in Chromium so it was probably some Chromium issue that's already fixed.

[2021-04-02 20:09] violetforest commented on #379
I made some wiki markdown files but I don't really know how to contribute them. My google search says that you can't do pull requests for wikis. But there is a separate repo for them that you can clone here

https://github.com/violetforest/hicetnunc.wiki.git

[2021-04-02 21:56] skenaja commented on #379
The github project admins would need to switch them on in the project settings, and create at least 1 wiki page.

@violetforest you'd then be able to directly push your pages to the parent repo (as you have `contributor` rights).
https://gist.github.com/larrybotha/10650410

[2021-04-02 22:03] tz1ZyS8RyMnTNUjrFehu6onMv75Mmtj1QhEJ opened #384 "WHY THIS?"
Why this message?

IMPORTANT:

Your zip file must contain an index.html file.
You must also include a cover image and reference it in a meta tag like this:
<meta property="og:image" content="path/to/image.jpg">
Access to external resources is high restricted at the moment. Please include everything in your zip file (libraries, assets, etc).

HTML support is experimental – please report bugs on Git

[2021-04-02 22:21] andrevenancio commented on #384
That is a warning with instructions every time you try to upload a html NFT. was showing up when other media was being minted. but you can ignore it.

[2021-04-02 22:21] #384 closed, assigned to nobody

[2021-04-02 22:21] andrevenancio commented on #379
This is a good idea. @violetforest is in charge! She'll be updating these in the next few days. thanks for the suggestion

[2021-04-02 22:21] #379 closed, assigned to violetforest

[2021-04-02 23:53] tarwin commented on #274
`thumbnailUri`: we could always create small animated GIFs or even better WebP from videos. Choose 10 frames from throughout the video and recompress.

[2021-04-03 05:04] pindarvanarman commented on #348
Has the burn issue been solved.

If it has, this is a different burn issue.

I can not burn this token.

[2021-04-03 08:35] mathMakesArt commented on #355
@FDF01 I just checked both of the OBJKTs in question and they seem to both now list your ID.
Sometimes it can take a while for the collectors list to be updated.

As for temple wallet, are they showing up now? Often some of my assets take more than a day to show up in Temple if I've collected a lot of them in a short time period

### Would you be okay with this issue being closed?

**In general, A

[2021-04-03 08:39] mathMakesArt commented on #367
Hi @mescalina, I think this is a great idea! But it's better suited as a feature request, not an issue report. The HEN [**Community Feature Request**](https://hicetnunc.featureupvote.com/) page is great for submitting these and I think the community would upvote this idea a lot there.

In the meantime, would you be okay with this issue being closed?

[2021-04-03 08:40] mathMakesArt commented on #333
Hi @ninjaspirulina and @pindarvanarman, could you provide more information about the nature of the problem?

What wallet software are you using? What platform (mobile device or computer) are you browsing the website from?

As a further suggestion, I find that the site's features work best when I sync to begin with, then click the button (as opposed to relying on the button click to initiate the sy

[2021-04-03 09:27] Quasimondo opened #387 "Going "back" from minting preview loses all previously entered data"
**Is your feature request related to a problem? Please describe.**
The preview feature after entering the minting data is very nice, but unfortunately if one notices an error and clicks on "back" one has to enter all the title, description and tag data again.

**Describe the solution you'd like**
It would be desirable if the last entered data in those text fields would be stored in local storage a

[2021-04-03 09:39] Quasimondo opened #388 "When HTML minting pre-check fails the page ends up in an infinite alert box loop"
**Describe the bug**
When the minting-pre-check detects a problem with the provided zip file (in this case the missing image meta tag inside of index.html) it keeps popping up "missing cover image!" alert boxes, requiring a reload of the page to end it.

**To Reproduce**
Steps to reproduce the behavior:
1. Mint an OBJKT using the HTML-folder zip, which does not have all the required elements
2. Cl

[2021-04-03 10:02] paulo60pg commented on #17
Any chance for this to get implemented ?

[2021-04-03 10:06] Quasimondo commented on #356
I think the fullscreen button is actually interfering with the normal behavior of HTML folder OBJKTs by capturing the mouse events.

This piece for example should be showing a scrollbar since the text is longer than the viewport but the way it is currently being show the lower part of the text is inaccessible:

https://www.hicetnunc.xyz/objkt/21617

So here is my plea to place the button on the pa

[2021-04-03 10:18] Quasimondo opened #389 "HTML OBJKTS are not scrollable"
**Describe the bug**
HTML-based OBJKTs that are deliberately bigger than the viewing area do not show scrollbars and are not scrollable

**To Reproduce**
Steps to reproduce the behavior:
1. Create an OBJKT using the HTML template that is longer than the viewport
2. Check Preview
3. Preview works fine and shows scrollbars
4. Mint it
5. Go to the OBJKT page
6. no scrollbars visible, also no scrollin

[2021-04-03 10:34] Quasimondo commented on #379
Thank you - I can see the wiki now! One important page that I would like to see is "How to contribute to this wiki" since I am actually not sure about the procedure. I guess I will have to clone it locally and then submit pull requests? A step-by-step tutorial would be very nice to have.

[2021-04-03 11:11] murbard commented on #338
Look up SybilGuard and SybilInfer.

[2021-04-03 13:14] andrevenancio commented on #389
fixed. should be up in the next deployment

[2021-04-03 13:14] #389 closed, assigned to nobody

[2021-04-03 13:52] #367 closed, assigned to nobody

[2021-04-03 13:54] veqtor commented on #353
Do we really want this though?

[2021-04-03 13:58] andrevenancio commented on #353
I'm closing this issue. I think the general consensus after a chat on Discord is that this feature should be transparent to the user. The user needs to explicitely authorise the permission to share location.

It will come in play when we figure out the best way of implementing https://github.com/hicetnunc2000/hicetnunc/pull/219 which has been in PR limbo until we weight in all privacy concerns.

[2021-04-03 13:58] #353 closed, assigned to andrevenancio

[2021-04-03 15:02] FDF01 commented on #355
Ok thanks, I will close it, I saw another issue that the API was late the last few days, probably that is the reason that they did not show up, as it took > 12 hours ... but apparently I was not alone with this issue, but as you said, if the transaction got processed it ok, I just need some patience probably ;)

[2021-04-03 15:02] #355 closed, assigned to nobody

[2021-04-03 15:05] skenaja commented on #379
I think the permissions need to be loosened to allow other contributors - I get a 403 error when pushing a change to the wiki:

[code]

https://docs.github.com/en/communities/documenting-your-project-with-wikis/changing-access-permissions-for-wikis

[2021-04-03 17:55] mescalina opened #390 "HEN api error on objkt 1117 & 5115"
HI,

If I call the HEN api to get objkt **1117** data at this endpoint: https://51rknuvw76.execute-api.us-east-1.amazonaws.com/dev/objkt
I get an answer with total_amount=0 and swaps[0]->objkt_amount=10
But if I try to open it on HEN website it says there are 10 Editions all swapped: https://www.hicetnunc.xyz/objkt/1117

How is it possible that the api says there is 0 in total_amount?

**Edit:**
S

[2021-04-03 19:23] mescalina commented on #363
Banned addresses cannot interact anymore with the website UI but I guess they can send a token they bought to a new whitelisted address from their wallet if they want to be able to resell it, and if they don't copymint again with the new address I suppose they are fine and the items are back on the market. Somebody corrects me if I'm wrong.

[2021-04-03 19:56] codewithfeeling opened #391 "So many failing / pending transactions - what happens to these tez?"
I am losing quite a lot of tez with transactions that don't complete (they stay on Pending) or I get a failure notice. In this case 6 tez have left my wallet, but 3 transactions have failed.

![image](https://user-images.githubusercontent.com/262516/113489906-d436f280-94be-11eb-8453-ebeb2b1f077f.png)

After 6 minutes:

![image](https://user-images.githubusercontent.com/262516/113489931-f92b6580-94

[2021-04-03 20:44] onurshafak opened #392 "still burned art work on my profile"
i know you recently sorted it out burn problem but still i can see one my old work and i can't do anything. it looks like in my wallet and at the same time it's in burn wallet.

https://www.hicetnunc.xyz/objkt/18419

<img width="1280" alt="Screenshot 2021-04-03 at 21 41 28" src="https://user-images.githubusercontent.com/81525876/113491030-ba4cde00-94c5-11eb-9f7b-344af9e2f089.png">

[2021-04-03 20:57] NFTScape opened #393 "swap issue"
Hi, I'm tried to swap this objkt for resale. It appears to have disappeared from my collection.

Operation group
ooa8RvNXvBcbxQkpdZL8bQJu3xmqp2Y3CkVPGX3ywnTDzchqKhy
Date & time
Apr 3, 3:53:47 PM
Block level
1413359
Status
Applied
Operation content (2)
Transaction content
Sender
tz1eRS4s2da82Lev6QqjTe6JcM3FzXQdYTcx
Counter
11983222
Baker fee
0.009931 ꜩ
Gas used
68352 / 96166 [71.1%]
Storage fee
0.0

[2021-04-03 20:58] #392 closed, assigned to nobody

[2021-04-03 20:58] onurshafak commented on #392
sorted it out.

[2021-04-03 22:36] matangkuwago commented on #280
It looks like this is now fixed! Thank you @LeithBA, @andrevenancio, @skenaja, and @mikesizz + @crzypatchwork for the fix!

[2021-04-03 22:36] #280 closed, assigned to crzypatchwork

[2021-04-04 00:45] atimtakus opened #394 "augmented reality viewer and usdz support"

[2021-04-04 01:33] mescalina commented on #360
Sometimes I feel the need of a Project parameter in the tokens so authors could be able to sort objkts keeping different projects separate. Tags could be used for such a function, in that case people should be able to order their creations depending on a specific tag list.

[2021-04-04 03:42] mescalina opened #395 "Removing hashtags from tags"
Pulling data from the api I've noticed that some people are adding the # symbol to each tag and it gets saved together with the data.
Wouldn't be better to remove it from the tags before saving them?
Also maybe tags should be always saved as lower case and without special characters (Maybe allowing allow only - and _ )?

[2021-04-04 05:43] jacksonzumdish opened #396 "Gyro+Accelerometer access for nft iframe"
I've been working on a collab with a fellow artist that uses the accelerometer+gyro but I think we need that feature enabled for the iframe?

Here is an actual .zip nft that has been added to hic et nunc: https://www.hicetnunc.xyz/objkt/22459

Pressing gyro button should request permission for sensor access.

Loading the nft directly without the iframe (ie on an iPhone) works as expected: https://

[2021-04-04 08:23] pichiste commented on #388
@Quasimondo this should be closed in latest release, can you close? thanks

[2021-04-04 08:25] pichiste commented on #351
@n1ckfg update: loading video files works in latest release
https://www.hicetnunc.xyz/objkt/18084

[2021-04-04 08:45] #388 closed, assigned to nobody

[2021-04-04 08:48] Quasimondo commented on #395
I think this is rather something that those who work creatively with tags or analyze them should do in a post-processing step. In general I would vote against making changes to the tags that people create since those are also means of individual creative expression and by "normalizing" them, in particular if that is not obvious to the people who create the tags we limit the possibilities.

[2021-04-04 08:51] Quasimondo commented on #394
Can you please change the title of this issue so it reflects the feature you want to get? "Feature request" is too generic and very likely people will not even bother to read it. Also please use the template for feature requests and ideally provide some more details  like where to find info about the format you want to have supported.

[2021-04-04 08:57] Quasimondo commented on #390
Looks to me like the /objkt endpoint is wrong and the site is right. When I use my own script to check the operations related to #1117 I see these 3 actions:

[code]
For #5115 it looks like this:
[code]

Both have in common that there was an "uncurate" action taken, so maybe the /objkt endpoint somehow does not handle those correctly yet.

[2021-04-04 09:01] skenaja commented on #395
I'm adding namespaces to my tags, eg artist:xxxx, copyright:all_rights_reserved

I'd be wary about removing special characters too, especially for users writing in multi byte characters.

[2021-04-04 09:09] Wilco1975 commented on #317
Well whatever fix you made , made it appear on my creations page again and then I just reswapped the OBJKT and everything is fine now. Thank you.

[2021-04-04 09:22] Quasimondo commented on #391
Looking at your general stats it looks to me like the majority of your transactions go through fine:
https://tzstats.com/tz1YJvMiZyXnzvV9pxtAiuCFvaG7XoBZhbUQ

But I also noticed more "backtracked" transactions than lets say 3 weeks ago and I would like to know why those happen - is it due to more general traffic or is there some miscalculation in the contract that tries to estimate the required ga

[2021-04-04 10:14] fjenett commented on #360
Since yesterday (?) it seems randomly ordered all of a sudden. Did some change happen?

My creations are pretty curated in terms of order (groups of 2 or 4). So now it is all chaos … not so happy with that.

[2021-04-04 10:21] mescalina commented on #390
Good catch, I think you could be definitely right, let's see if somebody can give us a definitive answer.
I thought the website was using that same endpoint, but I guess it's not.
Thanks for looking into it.

[2021-04-04 10:26] mescalina commented on #395
Yes, I see your point, and I totally agree. So maybe it would be better to have an info box under the tags field explaining that the # symbol is not needed.
Otherwise if I tag "#fish" but what I meant was just "fish" any platform interacting with the data has to make a decision, it could remove starting hashes, to find the correct "fish" tag, but anyway it would introduce a normalization that woul

[2021-04-04 10:48] Quasimondo commented on #395
I always liked the way that flickr is using tags creatively. And ultimately once they are actually being used on the site for categorization or search I believe that certain standards will evolve by itself. For your own analysis I think you could employ techniques like levenshtein distance or BERT to group tags by their various similarities.

[2021-04-04 11:05] scalemodal commented on #387
Yes.
We, actually, had a good thing before, when you can see the preview and form in the same time, even the "back" button is not needed here. It's more convenient to see the output on the same page.

I would also make the description field much bigger, one line is not enough.

[2021-04-04 11:14] scalemodal opened #399 "Larger description field"
Could you, please, make the description field larger.
One line is not enough, I can't see the whole text I'm writing there.

![image](https://user-images.githubusercontent.com/81647978/113506750-f96f4380-9546-11eb-80e3-7831a681c853.png)

[2021-04-04 11:16] #399 closed, assigned to nobody

[2021-04-04 11:17] scalemodal commented on #399
Similar request: https://github.com/hicetnunc2000/hicetnunc/issues/186

[2021-04-04 12:32] n1ckfg commented on #351
Amazing! So the IPFS provider switch worked?

[2021-04-04 13:16] capoluiz opened #400 "OBJKT was created but the content is not displayed"
OBJKT#22703 was created but the content, video file, is not displayed.

https://www.hicetnunc.xyz/objkt/22703

[2021-04-04 14:29] pichiste commented on #351
Yep, Infura allows video streaming! It was a Cloudflare-specific limitation

[2021-04-04 14:30] pichiste commented on #351
@n1ckfg Could you close this issue? (I don't have admin access) Thanks!

[2021-04-04 14:30] #351 closed, assigned to nobody

[2021-04-04 15:04] andrevenancio commented on #400
![image](https://user-images.githubusercontent.com/1734502/113513022-6abaf080-955f-11eb-82a6-e17ae3fdd8c7.png)

[2021-04-04 15:04] #400 closed, assigned to nobody

[2021-04-04 15:06] andrevenancio commented on #396
This is disabled by design. We're evaluating security concerns.

[2021-04-04 15:06] #396 closed, assigned to nobody

[2021-04-04 16:16] zmnv opened #402 "Interesting behaviour when fullscreen button toggle"
**Describe the bug**
Unexpected behaviour of the fullscreen mode.

**To Reproduce**
See the VIDEO: https://imgur.com/VlxHLNI

Steps to reproduce the behavior:
1. Go to any object
2. Click on FULLSCREEN icon-button
3. You will see the same cropped view.
4. Leave the fullscreen and see actually fullwidth image
5. I can't do anything because the interface is blocked that image

**Expected behavior**

[2021-04-04 16:46] andrevenancio commented on #379
Permissions will likely not change. You can clone the repository to your own account and do a pull request from there to hicetnunc repository.

[2021-04-04 16:50] andrevenancio commented on #402
I had noticed this before. I think this is Google's <model-viewer> component we use that isn't taking in consideration the fullscreenchange event. If you resize the browser after you exit fullscreen it fixes it. I've tried to had a chat with one of the Google developers we have on the platform but it's not clear yet it how to resolve this.

[2021-04-04 17:04] andrevenancio commented on #394
You're hired @Quasimondo 😅. But even with that test I do not understand what the request is. Please provide further information using the template provided, closing this

[2021-04-04 17:04] #394 closed, assigned to nobody

[2021-04-04 17:10] scalemodal opened #403 "Title typo: hic en nunc"
![image](https://user-images.githubusercontent.com/81647978/113516110-d198d380-9578-11eb-8d82-6dcf9c5c7911.png)

Google

![image](https://user-images.githubusercontent.com/81647978/113516219-508e0c00-9579-11eb-8eec-98452bf0844b.png)

[2021-04-04 17:11] mescalina commented on #403
lol

[2021-04-04 18:03] mikesizz commented on #390
@Quasimondo What endpoint/script logic gives you the correct number? I was working on a hotfix to correct the ordering of creations and this came up in the discord.

I am not super familiar with the APIs being used to get this data, but I am all about adding a fix if you point me in the right direction.

[2021-04-04 19:27] skenaja commented on #379
@andrevenancio Unfortunately, pull requests aren't available for wiki content....

Some workarounds listed here: https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github#:~:text=5%20Answers&text=GitHub%20doesn't%20support%20pull,but%20I%20can%20understand%20it).&text=Manually%20create%20a%20fork%20of,repository%20on%20your%20github%20account.

[2021-04-04 20:53] Quasimondo commented on #390
I am using a mixture between api.better-call.dev and api.tzstats.com. I am not at my machine right now so don't have the exact endpoints at hand, but  I am first getting all transactions related to a token from BCD and then i am getting the details of each tx by searching for the tx hash on tzstats and combine the relevant data from both calls. It's not the fastest method for sure.

[2021-04-04 21:00] SandroMiccoli commented on #311
Hey @andrevenancio, sorry to keep insisting on this, but I strongly believe that somethings is not right here...

I just minted a new object ([23092](https://www.hicetnunc.xyz/objkt/23092)) and it's behaving the same way. I added a different logic to it, creating a conditional to test if the viewer value was "null" or "false", and apparently, that's happening when the user clicks on their ID to tr

[2021-04-04 21:21] mikesizz commented on #360
Issue:
https://github.com/hicetnunc2000/hicetnunc-api/issues/25

Fix:
https://github.com/hicetnunc2000/hicetnunc-api/pull/24

[2021-04-04 22:01] atimtakus commented on #394
I was trying to issue a feature request but i couldn't succeed. I think an ar viewer feature for glb and usdz files would be super cool .

[2021-04-04 22:23] mikesizz commented on #390
So we can definitely get the same information from better-call.dev's transfers endpoint. This technically would give us the info we need to generate the correct object count. The issue still stands that the owners list is empty, so this indicates to me that some corrective action needs to be taken beyond fudging the count.

Perhaps the API just needs to force these tokens to be under the issuer so

[2021-04-04 22:29] #403 closed, assigned to nobody

[2021-04-04 22:34] andrevenancio commented on #393
What's the objkt ID?

[2021-04-04 22:39] arielm opened #406 "It should be possible to open links in a new tab from interactive OBJKTs"
I have a [html-based OBJKT](https://www.hicetnunc.xyz/objkt/23180) which features a UI made of clickable links. The expected behaviour would be to have the links opened in a new tab, but it's currently not working.

The error obtained is:

Would it be possible to "allow popups"? I think it would be helpful in a lot of interactive OBJKTs.

Note: It's only about allowing popups generated via a click

[2021-04-04 22:42] mikesizz commented on #330
This can be closed now.

https://github.com/hicetnunc2000/hicetnunc-api/pull/23

[2021-04-04 23:00] andrevenancio commented on #403
Toke me a while to see that! You are right!! Fixed. Awaiting deployment

[2021-04-04 23:04] andrevenancio commented on #406
You created an NFT made in HTML. If on the NFT you are sending the user outside, you are no longer on the NFT.

does that make sense?

HTML NFT are sandboxes for se security reasons. You cant't do everything you would be able to in a normal HTML file. And that's by design. If there's any questions in the future check out on Discord before minting. The HTML is meant to be used as a self contained p

[2021-04-04 23:04] #406 closed, assigned to nobody

[2021-04-04 23:24] arielm commented on #406
The original NFT is still available in its own tab. So yes, I'm sending the user outside (by opening a new tab) but it's always possible to display the NFT by switching to the previous tab.

Real-world demonstration of the concept [here](https://chronotext.s3.amazonaws.com/ubu/v1.htm).

[2021-04-04 23:41] NFTScape commented on #393
Here is one Objkt #16201

[2021-04-05 00:18] NFTScape commented on #393
Here is the other one Objkt #13861

[2021-04-05 00:50] mikesizz commented on #360
@andrevenancio @crzypatchwork ☝️

[2021-04-05 03:18] mescalina commented on #390
André Venâncio on Discord said:

_Based of your screenshot it doesn’t have an owner
Which means it was minted over the 45minute period when we launch HTML where the creators were not defined (a bug was defining them as undefined)
So that means that if you are the person who minted it, you have it in your possession and it shows in your collections
But because it doesn’t have a creator “we” don’t k

[2021-04-05 04:51] mikesizz commented on #390
Thanks for adding that here @mescalina. I've been trying to piece this one together since yesterday.

[2021-04-05 05:37] #330 closed, assigned to crzypatchwork

[2021-04-05 05:37] Matan100100 commented on #330
Thanks!

[2021-04-05 06:36] sombriodasilva commented on #391
I also had a few backtracked transactions yesterday. I haven't been able to mint anything yet because of that.

https://tzkt.io/tz1cXTbeSsxtCjQ5jqu3WubJQNvkSU9FzXji

[2021-04-05 10:44] yuradmt commented on #393
Have the same issue with objkt #3030.
No longer see it in my collection after listing.

https://www.hicetnunc.xyz/tz/tz1WJjnVE8UUdvyvF6vQ5XKTXajaDRtok3Yj

[2021-04-05 11:12] skenaja commented on #393
When you swap a item for resale, under the hood it's transferred to the `Hic et Nunc Minter` account's collection (wallet address `KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9`) ready to be sold on your behalf which is why it no longer appears in your collection.

For the initial case logged by @NFTScape, you can see the objkt ID here (I searched by Operation Group) https://better-call.dev/mainnet/opg/ooa

[2021-04-05 11:15] yuradmt commented on #393
Yeah, having a UI for managing your listed Objekts seems important. Definitely better than writing down my listed Objekt IDs on a piece of paper or something.

[2021-04-05 11:20] NFTScape commented on #393
Right, that UI is important. Thanks for your response.

On Apr 5, 2021 6:15 AM, "Yura Sherman" ***@***.***> wrote:

[2021-04-05 12:41] mrgingey opened #409 "Allow embedding on other websites"
**Describe the solution you'd like**
It would be great to be able to embed the animation/image/video/html application to your own personal website.

**Describe alternatives you've considered**
I have tried iframe but this takes the whole webpage instead of just the art piece.

[2021-04-05 13:15] Mobtais opened #410 "Error When Minting"
**Describe the bug**
I get this message when i try to mint:

Storage quota exceeded for the operation

A script or one of its callee wrote more bytes than the operation said it would

The file is only 3,5 MB

**To Reproduce**

Mint an item

**Expected behavior**

Minting the item

**Screenshots**

<img width="389" alt="Skærmbillede 2021-04-05 kl  15 13 39" src="https://user-images.githubuserconten

[2021-04-05 14:27] skenaja commented on #409
For images at least, they can be displayed as plain `<img>`. On the [objkt page](https://www.hicetnunc.xyz/objkt/21706), right-click on the image, inspect, then pick the URL containing the IPFS hash, eg `<img src="https://cloudflare-ipfs.com/ipfs/QmQecQvWVrA5YUJjxknvxcb3QEJfDVmWZY54C2GZJAHRAb">`

Other IPFS providers are available. https://ipfs.github.io/public-gateway-checker/

[2021-04-05 14:37] cdaein commented on #391
~My transactions have also been failing since yesterday, saying "storage quota exceeded", but the file size is 3.1MB. And I don't think I did anything different. Any guide would be much appreciated.
https://tzkt.io/oo7WgLWDEHfDraQZTF5bjSarVPTjFuBQFN4W4crmR9hFWjiKfN3~

I had similar problems of failing transactions a few times in a row. Read discord conversations and the general recommendation is j

[2021-04-05 14:39] #393 closed, assigned to nobody

[2021-04-05 14:39] capoluiz commented on #400
Hi,
the video disappear again.

https://www.hicetnunc.xyz/objkt/22703

Att.

*Capo Luiz*
UX designer
(11) 96316-0894

www.capoluiz.com
***@***.***

On Sun, Apr 4, 2021 at 12:04 PM André Venâncio ***@***.***>
wrote:

[2021-04-05 18:27] borisdiakur opened #411 "Content Security Policy issue when using DRACOLoader"
Hello :wave:
I'm trying to publish an interactive game made with Three.js and I'm getting errors in the preview. The game loads a heavy GLTF model and uses the DRACOLoader for that (see https://threejs.org/docs/#examples/en/loaders/DRACOLoader). I suspect that the loader uses workers under the hood. And it seems that hicetnunc is blocking access to those workers with the error message

I think tha

[2021-04-05 19:34] ZOOTGHOST commented on #410
I'm having the same issue. Tried twice and got the same error.
![Screen Shot 2021-04-05 at 20 34 08](https://user-images.githubusercontent.com/11487291/113617514-4ee24800-964e-11eb-9797-71f9aaec90f5.png)

[2021-04-05 20:59] #337 closed, assigned to pichiste

[2021-04-05 21:09] #402 closed, assigned to nobody

[2021-04-05 22:01] capoluiz opened #412 "Content not displayed"
**Describe the bug**
The content is still not displayed. Memos after they acted on.

https://www.hicetnunc.xyz/objkt/22703

[2021-04-05 22:42] andrevenancio commented on #412
@pichiste Didn't you changed the video URL?

[2021-04-06 01:28] #352 closed, assigned to nobody

[2021-04-06 01:28] jimfetterley commented on #352
Figured it out. Thanks

[2021-04-06 02:04] drycounty opened #418 "FAQ link missing"
FAQ currently goes to:

https://github.com/hicetnunc2000/hicetnunc/blob/main/FAQ.md

Which is a 404.  Just curious when it will be back, thanks!

[2021-04-06 02:29] andrevenancio commented on #412
Seems like you uploaded a `mov` file @capoluiz Have you tried to upload a `mp4`?

[2021-04-06 02:43] andrevenancio commented on #418
It will NOT be back. We're waiting on a deployment to fix this. The new FAQ is a WIKI. lives here: https://github.com/hicetnunc2000/hicetnunc/wiki

[2021-04-06 02:43] #418 closed, assigned to nobody

[2021-04-06 02:44] andrevenancio commented on #395
I improve the messaging on the mint page. Hopefully it wont be confusing to users. but it does say `tags` not `hashtags` :)

[2021-04-06 02:44] #395 closed, assigned to nobody

[2021-04-06 03:25] matangkuwago opened #419 "Swapping an objkt for 4.1 tez produces an error "Error: Unrecognized error: F" on Kukai"
**Describe the bug**
Just a minor bug, it seems you cannot swap an objkt with a 4.1 tez price

**To Reproduce**
Steps to reproduce the behavior:
1. Swap an objkt
2. Enter price as 4.1 tez
3. Kukai would show the error "Error: Unrecognized error: F"

[2021-04-06 05:38] veqtor commented on #363
@djangobits , any recollection on why tz1YNUNArBDYWu8evZj73HR9vE6y5FQkaj5M was banned?

[2021-04-06 06:00] djangobits commented on #303
I'll close this for now.

[2021-04-06 06:00] #303 closed, assigned to nobody

[2021-04-06 06:11] djangobits opened #421 "Add a warning next to the buy button"
Next to the buy button there should be an icon like a warning sign ⚠. Clicking on it takes you to an overlay or another site where warnings can be displayed, eg:

--------

Be careful, when buying artworks on hicetnunc. Due to the open nature of the platform, bad actors can upload artworks they have taken from other artists and sell them as their own. Before buying, do some due diligence:

- has t

[2021-04-06 07:55] mathMakesArt commented on #421
Thank you so much @djangobits! I made a similar [**Feature Request**](https://hicetnunc.featureupvote.com/suggestions/176545/increase-the-prominence-of-the-anticopyminting-warnings-for-buyers) on the community platform earlier and I think these fit together nicely.

The one thing I would add to your third bullet is: **does the artist social media link to this same tezos address?**

[2021-04-06 10:57] andrevenancio commented on #421
that's quite a long text to be next to a already crouded area...

maybe clicking on `collect for X tez` should launch a prompt with a warning and then the user can CANCEL or BUY ANYWAY?

[2021-04-06 11:57] skenaja opened #422 "FAQ: update `hdao.md`"
@violetforest I've rewritten this page somewhat to make it a little clearer. Preview at my forked copy: https://github.com/skenaja/hicetnunc/wiki/hDAO

Markdown:

[code]

[2021-04-06 12:02] capoluiz commented on #412
Yes, I tried to upload in mp4 and mov, but I had to try more than once
until I was successful

*Capo Luiz*
UX designer
(11) 96316-0894

www.capoluiz.com
***@***.***

On Mon, Apr 5, 2021 at 11:29 PM André Venâncio ***@***.***>
wrote:

[2021-04-06 12:06] violetforest commented on #422
@crzypatchwork can you review this info about how hDAO works? Thank you :)

[2021-04-06 13:35] djangobits commented on #363
@veqtor yes, this user is know under the name of owsleyseeds / owsleybeats. He was one of those who selfishly took dozens of freebies during objkt4objkt. While I thought that was not enough for a ban (some users requested it), I confronted him with the selfishness of his actions on discord. owsley decided that he would just start to throw shit after me instead of offering an explanation. A heated

[2021-04-06 15:02] veqtor commented on #363
Ouff, that sure sounds like the correct decision!

[2021-04-06 15:20] neverhood311 commented on #410
I get this error almost daily

[2021-04-06 15:34] neverhood311 opened #426 "My work doesn't appear in buyer's collection"
**Describe the bug**
Someone bought one of my single-edition NFTs. Within the OBJKT view, they are listed as the collector. However, when viewing their collection, my OBJKT doesn't appear in their list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/objkt/19719 and view the collectors page
2. Notice that the wallet tz1TBa2Me3L4C7RATgRtRRWpi9EP1gqJEvuq is list

[2021-04-06 17:44] mescalina opened #427 "Url to access directly the collection tab"
I think it would be nice to have the possibility to access directly the collection tab of an address with an url. It could be a different url from the creations tab or just a GET variable like ?tab=collection.

If you send the link of your collection to somebody you need to specify to click the button which is annoying. Same if you want to share the link somewhere.

Also it could be that, if there

[2021-04-06 19:03] santi-grau commented on #333
Can't burn:

"[amount] Value is not a number: NaN"

Synced with Temple Wallet.
tz1TQDnNCwU6DYTGFY7HZrFHivNBJW1LthbS
https://www.hicetnunc.xyz/objkt/24221

[2021-04-06 19:11] santi-grau opened #428 "FAQ dead link"
**Describe the bug**
Clicking link to FAQ directs you to an empty github (404) page
url : https://github.com/hicetnunc2000/hicetnunc/blob/main/FAQ.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to menu
2. Click on about
3. Scroll down to 'FAQ's are available here'
4. Click on 'here'

**Expected behavior**
Fix link to FAQ

Please include the wallet address (tz...) and/or the OBJKT numb

[2021-04-06 19:41] skenaja commented on #428
This is fixed in https://github.com/hicetnunc2000/hicetnunc/commit/db70a385a15c32af55518df96310a9c9314b20df which is awaiting deployment to the website by the core team.

[2021-04-06 19:45] skenaja commented on #426
They're offering it for resale, and when it's still on re-sale the objkt was transferred to a Hic et Nunc escrow wallet ready to be passed on to the buyer at the point of sale. This is why they're no longer visible in the owner's collection. The ability to keep them visible is a feature that's been requested a few times - feel free to upvote https://hicetnunc.featureupvote.com/suggestions/175980/k

[2021-04-06 19:59] skenaja commented on #419
Temple wallet gives this confirmation request for 4.1 tez (but not 4.2 or 4.0) "Warning! Transaction is likely to fail".

JSON shows a type mismatch int `4099999.9999999995`

![image](https://user-images.githubusercontent.com/510285/113770957-b5cd3300-971a-11eb-87ab-6622e6110a66.png)

[code]

[2021-04-06 21:09] skenaja commented on #419
The error is here [swap.js#L28](https://github.com/hicetnunc2000/hicetnunc/blob/9ffec08a086520c85874fc5024ee8454a50f36ab/src/pages/objkt-display/tabs/swap.js#L28)

4099999.9999999995

[2021-04-06 22:33] andrevenancio commented on #419
merged! thanks @skenaja

[2021-04-06 22:33] #419 closed, assigned to nobody

[2021-04-07 01:55] #294 closed, assigned to andrevenancio

[2021-04-07 01:56] #210 closed, assigned to crzypatchwork

[2021-04-07 01:56] #170 closed, assigned to nobody

[2021-04-07 01:56] #333 closed, assigned to nobody

[2021-04-07 01:57] #317 closed, assigned to nobody

[2021-04-07 01:58] #348 closed, assigned to crzypatchwork

[2021-04-07 01:59] #313 closed, assigned to nobody

[2021-04-07 01:59] #226 closed, assigned to nobody

[2021-04-07 02:00] #257 closed, assigned to nobody

[2021-04-07 02:00] #314 closed, assigned to nobody

[2021-04-07 02:01] #269 closed, assigned to nobody

[2021-04-07 02:04] #56 closed, assigned to crzypatchwork

[2021-04-07 02:04] #428 closed, assigned to nobody

[2021-04-07 02:06] andrevenancio commented on #411
@pichiste

[2021-04-07 02:07] andrevenancio commented on #410
The error is on the wallet level. Not on hic et nunc. Just try again 🙏🏻

[2021-04-07 02:07] #410 closed, assigned to nobody

[2021-04-07 02:09] andrevenancio commented on #390
They can't be sold but they can be burned and you can mint again.

[2021-04-07 02:11] #325 closed, assigned to nobody

[2021-04-07 02:12] andrevenancio commented on #310
I changed the default branch to be develop, but someone else changes it back to main. I'm assuming @crzypatchwork

[2021-04-07 02:12] #310 closed, assigned to nobody

[2021-04-07 02:13] #296 closed, assigned to andrevenancio

[2021-04-07 02:13] #267 closed, assigned to nobody

[2021-04-07 02:14] #3 closed, assigned to crzypatchwork

[2021-04-07 02:14] #6 closed, assigned to crzypatchwork

[2021-04-07 02:24] ALIENGHOST420 opened #430 "Unable to Burn item or change the price of the piece itself"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-04-07 03:47] mescalina opened #431 "42 objects with NULL or empty creators"
Hi,

there are 42 objkts that shows an empty creators array (Sometimes the api gives NULL, others an empty string), both on the website and pulling the data from the HEN api.
Those are the ids:
12123,12126,12323,12326,12332,12330,12333,12334,12335,12336,12337,12339,12338,12340,12341,12342,12344,12345,12343,12346,12348,12347,12349,12350,12352,12351,12353,12354,12355,12357,12358,12361,12367,12368,12

[2021-04-07 06:43] kenokenobingo opened #432 "FAQ are gone"
The link to the FAQ on [the website](https://www.hicetnunc.xyz/about) doesn’t work: <https://github.com/hicetnunc2000/hicetnunc/blob/main/FAQ.md>.

[2021-04-07 07:06] mathMakesArt commented on #432
The FAQ has been replaced with the Wiki, [**which you can find here**](https://github.com/hicetnunc2000/hicetnunc/wiki).

I do agree that this should be made more visible. I'll put together a simple pull request to modify the FAQ link on the website to point to the Wiki instead. Thanks for reporting the issue!

[2021-04-07 07:09] mathMakesArt commented on #432
Never mind, as stated by @skenaja [**here**](https://github.com/hicetnunc2000/hicetnunc/issues/428#issuecomment-814391011) this has already been fixed and is awaiting deployment to the live website.

Thanks HEN team!

[2021-04-07 07:57] kenokenobingo commented on #432
Ah thanks, couldn’˝t find it on my own! Good to hear that the changes will be deployed soon!

[2021-04-07 07:57] #432 closed, assigned to nobody

[2021-04-07 08:07] pichiste commented on #411
Hey @borisdiakur, this is caused by the current Content Security Policy that gets applied, which restricts what sources a worker can have using the [worker-src directive](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/worker-src). Adding `blob:` to this fixes the issue – I'll roll this change into an upcoming PR and post here when it's done.

[2021-04-07 08:51] Quasimondo opened #433 "The battle against copyminters: a possible solution"
With hic et nunc being an open platform that has no gatekeepers or vetting process we can observe that there is a small minority of people who abuse the trust by minting and trying to sell works that are not theirs. This is annoying and some find it even sheds a negative light on the platform. Personally I think it is a price to pay for the freedom we enjoy and would not like to limit that freedom

[2021-04-07 09:00] borisdiakur commented on #411
@pichiste Sounds great! In the meantime I have managed to reduce the weight of my model by almost 80% using meshlab 😅  so I won't need to use the DRACOLoader anymore. But for future project the issue is still important 😉
Thank you! 🙏

[2021-04-07 09:02] chilltulpa commented on #433
I am in complete agreement with such a solution on this particular matter. Copyminting is definitely a problem which has the potential to grow as the platform grows, and this seems like a worthwhile solution to the overall future of hic et nunc to implement/regardless of how long it would take or intensive/strenuous it would be.

[2021-04-07 09:06] codewithfeeling commented on #433
This is a brilliant solution if it can be implemented and I support it 100%.

The main problem is that abuse spreads like wildfire on socials so the "1%" thing isn't really relevant. The damage done to the reputation of Hic Et Nunc in the eyes of higher level artists does far more harm than I think is perceived.

I am more than happy to accept some risk as part of early adoption, but I do think ev

[2021-04-07 09:09] mrgingey commented on #433
I am in total agreement with this! There definitely needs to be some form of verification for accounts used for selling art.
Another thing that I think should be put in place to stop this/slow them down is that you must fill in the profile form before you have the ability to sell?

[2021-04-07 09:11] staus commented on #433
Not only is this a great suggestion, I think it could also be one more thing that sets Hisetnunc apart from other platforms, strengthening its brand.

[2021-04-07 09:16] Quasimondo commented on #433
Thanks for adding your thoughts to this!

I think a purely time-based solution can be very easily circumvented by some bot script that just waits long enough to mint the next piece. I really think the only way to establish trust is that it has to be given by those who already earned it.

The issue with the current way profiles work is that it is also not yet 100% safe and by playing it right it ca

[2021-04-07 09:18] somaticbits commented on #433
100% agree with that solution, I'd definitely volunteer for that - it's already what I'm doing manually for the copy minting accounts (searching sources and reporting abuse)

[2021-04-07 09:18] SableRaf commented on #433
This sounds like a good solution. I'm trying to think of ways this could be abused. For example, what would stop a small group of motivated hackers from creating a large amount of wallets and run a 51% attack on the approval process? I suppose this would be quickly detected and mitigated but could it be prevented?

[2021-04-07 09:25] pichiste commented on #411
It's a good thing to fix regardless as many packages might be creating workers this way. Fix is on its way.

[2021-04-07 09:32] Quasimondo commented on #433
@SableRaf Yes, it is good to think about ways how this system could be circumvented. I was hoping that by that by using this formula that defines how much weight a vote has this kind of 51% attack is made harder. Also I could imagine that the amount of "punishment" that is been dealt out for casting false votes is also percentual to the amount of trust an account has. Maybe taking inspriation from

[2021-04-07 09:33] AliaK77 commented on #433
sounds good to me. would it need N number of trusted votes to approve/proceed with (or even disapprove/cancel) the transaction or is a single vote enough. perhaps a note to the approval eg "I know/know of this person" could help also

[2021-04-07 09:35] mattebb commented on #433
This sounds like a good idea - and maybe you could instantly raise your trust level as a new user by doing the tktz verification too, to avoid going in the escrow queue.

One potential issue could be a huge backlog, what happens when there's far too many new works minted for the available volunteer base?

I think with all of these potential measures it's going to be somewhat of a tradeoff - it's i

[2021-04-07 09:36] Quasimondo commented on #433
The way I see it a single vote by a very trusted member of the community could be enough, but maybe having at least 3 votes might be safer since everyone can make mistakes or pass a too-quick judgement. This would be something where the exact mechanism is something that has to be refined in practice.

Also the vetting queue would need some form of comments or accountability log so all decisions ca

[2021-04-07 09:36] scalemodal commented on #433
I really like this concept as a liberal form of verification and curating!
At some point, we will have to figure out how to sort and display objects on the homepage and other important pages. This idea can be applied in these cases.

I'm thinking, if it's not overdoing for just copyminters? It looks like a global concept of curating, which is good.
Time-bases solutions can be quickly integrated no

[2021-04-07 09:38] Quasimondo commented on #433
I believe that this is something that could be sorted out by the "market" - if the rewards for volunteering in the vetting process are attractive enough there will be enough people who will want to do this.

[2021-04-07 09:40] crcdng opened #435 "Website - About - Link to FAQ -> 404"
**Describe the bug**

The link to the FAQ on page https://www.hicetnunc.xyz/about to the FAQ is broken (404)

Text:
"FAQ's are available here"

Link:
https://github.com/hicetnunc2000/hicetnunc/blob/main/FAQ.md

[2021-04-07 09:45] AliaK77 commented on #422
thanks for this, I was wondering how my balance was increasing. it mentions 'until mid-april' above - will there be a change after this point? thanks

[2021-04-07 10:06] mescalina commented on #433
What about the fees people would need to pay in order to cast their vote? Why should people spend money to do it?

[2021-04-07 10:12] veqtor commented on #433
This is a very good idea, keep them in the contract and we can slash em if they're misbehaving

[2021-04-07 10:16] Quasimondo commented on #433
This could be solved by having voters get rewarded for successful votes. I estimate that the transaction cost for a vote would be somewhere in the 0.02 tez range, so if you get 0.08 out I think that would even be an incentive. The funds for this could be taken out of the regular platform fees or - and that is probably a less popular option - could be added as an additional minting fee to the escro

[2021-04-07 10:23] staus commented on #433
I think, as long as it's only the first time mint that has this added cost, it should be fine. Might also discourage trixters.

In terms of circumventing this, I guess all it would take is someone to train a GAN or even just simply generate random perlin noise to make unique pieces as their first image. That would assure them approval 100% of the times, right?

[2021-04-07 10:34] Quasimondo commented on #433
The way I see it, vetting is not only for a single work but is also to establish trust for a profile and the process of gaining that trust is not by passing just one vote, but it should require multiple. So if someone mints a few GANs on an anonymous account maybe not many people will be willing to invest their trust into that profile. I actually think besides "I trust this" and "I don't trust thi

[2021-04-07 11:02] Beppe commented on #433
This solution may mitigate the problem you care about, but it's systemic effects goodness depends on the axiology involved.

Seen from my values scale there are some concerns:
- While such a process may give safety to many, especially the "aristocracy", it can also make the weakest ones being victims of their own weakness (or volunteers idiocy). In addition " they will also lose some trust points

[2021-04-07 11:25] Quasimondo commented on #433
@Beppe As I see it the system we have right now is based on good intentions, volunteering and the assumption of innocence. I am actually fine with how it works so far and see the small percentage of people who abuse that trust as a price to pay for freedom, but it looks like it does not make everybody happy and the copyminter issue seems to be one of the biggest points of discontent with the site

[2021-04-07 11:32] mathMakesArt commented on #433
Very good distinction, important point so I'm highlighting it in this reply for any potential implementation.

I'd also like to express agreement with the idea, expressed by many people already, that we need to be careful to build this in a way that will prevent it from devolving into a bureaucracy.

In general, I'm in favor of any solution as long as it doesn't impose barriers that make it more d

[2021-04-07 11:42] Quasimondo commented on #433
Since the overall responses seem to be in favor of a solution in that direction, maybe we can start thinking about how a measure of trust could be established and weighted for those who are already on the platform. Ideally we can find a balance there that does not favor the rich or famous overly. Let me start by just re-listing some of the points I mentioned above:

- time since first mint/collect

[2021-04-07 11:55] mathMakesArt commented on #433
The entirety of your list are great points, but these three stand out to me as potentially the most important or most useful in building a quantified trust metric.

### **The one other distinction I'd like to make, which I think could be valuable for this "measure of trust":**
What if "number of OBJKTs collected" and "hDAOs earned" are restricted to "number of OBJKTs collected ***from trusted arti

[2021-04-07 12:16] Quasimondo commented on #433
What I somehow see in my head is a graph structure in which trust flows from one node to another and the stronger a node is connected the more trust it implies - it has some similarities Google's page rank algorithm I think. Trying out some graph-based algorithms that are based on the various transaction types that are available through the APIs might give us a better picture of possible outcomes.

[2021-04-07 12:20] Beppe commented on #433
@Quasimondo I am a pragmatist too. It's only a matter of different values and insights, things that in the right spirit and quantity make a conversation if not useful, at least interesting.

So instead of "insurance companies" I can see there will be business opportunities for optimization consultants, art managers, agencies and guilds :)

Anyway there is no valid reason the world should be the wa

[2021-04-07 12:23] Quasimondo commented on #433
You have my full agreement here that I do not want this to happen. Favoritism, corruption or any ways that people can profit from becoming enablers is what I really want to avoid at all means.

[2021-04-07 12:37] andrevenancio opened #436 "implementing displayUri across the different sections of the site"
**Is your feature request related to a problem? Please describe.**
With the introduction of thumbnails, we need to adjust it across the site

**Describe the solution you'd like**
the function that renders which media to display, needs to receive an extra parameter that will likely be router location. Its important to know which route we're in in order to decide which asset to load from IPFS

**Add

[2021-04-07 12:38] andrevenancio commented on #411
Closing this. approving PR which will fix this issue. will go into the next deployment cycle

[2021-04-07 12:38] #411 closed, assigned to nobody

[2021-04-07 12:39] andrevenancio commented on #435
we're aware. if you look at the closed issues you see this is just waiting on a deployment to be fixed.

[2021-04-07 12:39] #435 closed, assigned to nobody

[2021-04-07 12:43] crcdng commented on #435
When I try to be helpful by reporting a currrent issue, I look for open issues. Therefore I suggest to close an issue after it is actually fixed in deployment.

[2021-04-07 12:48] Beppe commented on #433
How to disagree?
This goes far beyond what I was meaning. I was only enumerating respectable "superstructure" activities  (said using dusty Marx terminology). But yes, everywhere there is a lot of money and some rules there is somebody interested in getting it despite the rules - that's the starting problem.
Ok that's all I can say to contribute.

[2021-04-07 12:52] skenaja opened #437 "Attempting to burn an objkt that is not in your wallet should generate an error message"
**Is your feature request related to a problem? Please describe.**
When a user tries to burn an item that is not in their wallet, the burn operation will appear to be running, and won't return an error.

This can be demonstrated here: https://github.com/hicetnunc2000/hicetnunc/blob/main/src/context/HicetnuncContext.js#L197
When tz.address <> amount.key then amount[tz.address] = undefined, so parse

[2021-04-07 12:57] Mobtais commented on #410
Hey, thanks, but every time i try it happens again, and the tez are being withdrawn from my account...

[2021-04-07 13:07] skenaja commented on #433
Acting as bad actor, here are my ways to circumvent these (sorry!).

* time since first mint/collect - set up "sleeper" account, collect 1 item, return after 6 months. Also used by real world fraudsters, aged accounts can make you look respectable.
* profile data set up - probably not unless this is used to verify the user has control of the accounts submitted.
* number of OBJKTs minted - could be

[2021-04-07 13:28] Quasimondo commented on #433
@skenaja very good points! Let me try to counter:

- sleeper account: possible, but takes a lot of dedication and criminal energy. Could be countered by reactivating the escrow contract if an account has been inactive for a certain duration.
- yes profile verification is currently still a weak factor, would be stronger if verified with a verification tweet
- minting lots: surely not a factor that

[2021-04-07 13:47] mathMakesArt commented on #433
I think @Quasimondo covered most of my own thoughts. Regardless @skenaja I think your points are very true and important, no need to apologize!

I do agree that a lot of these "verification methods" are simple to circumvent. I think it mostly comes down to @Quasimondo's point about "if it is possible to track the source" when it comes to things like hDAO and the count of OBJKTS collected.

Whateve

[2021-04-07 14:21] andrevenancio commented on #435
this was deployed now! Thanks

[2021-04-07 14:33] andrevenancio commented on #437
Assigned to you and you should be able to use labels and do some triage!

[2021-04-07 14:33] andrevenancio commented on #437
there's a few parseInt on the HicetnuncContext that I suspect should probably be parseFloat too

[2021-04-07 15:37] glitch003 commented on #433
@Quasimondo Look up "Token Curated Registry" aka "TCR".  This idea has been around for about 3-4 years and IIRC the hardest part is getting people to participate in the curation.  Typically, you reward the curators with DAO tokens.  That said, many projects attempted this, and I believe some were successful.  I imagine there are many learnings you can pick up from them.  Some that I can recall off

[2021-04-07 15:37] crzypatchwork commented on #276
it's needed a third tab on the tz profile with information about swaps so it won't disappear

[2021-04-07 15:40] crzypatchwork commented on #301
royalty at 100% is not a possibility in this version of the contract. the way to go would be make a sort of club factory with permissions in another smart contract.

[2021-04-07 15:48] jagracar commented on #119
Hi! Until this is implemented, you can use this tool :)

https://www.hicetnunc.xyz/objkt/25459

[2021-04-07 16:01] Quasimondo commented on #433
@glitch003 Thanks, I had not heard of those yet and sounds well thought through. I just read this description which sounds like what you decribe: https://medium.com/@tokencuratedregistry/a-simple-overview-of-token-curated-registries-84e2b7b19a06

The points I find a bit difficult in our context:
- Applicants have to buy DAO tokens to apply to the "list" (or in our case to be vetted), this sounds l

[2021-04-07 16:24] aelisedavis opened #438 "Can't Swap"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.hicetnunc.xyz/objkt/25497'
2. Click on 'Swap'
3. Scroll down to '....'
4. See error - "The swap is invalid"

**Expected behavior**
A clear and concise description of what you expected to happen.

To set a price on my piece.

**Screenshots**
If applicable

[2021-04-07 17:14] skenaja commented on #438
Issue solved in Discord. Noting solution here for people searching for error message.

Error message shown when you click "swap it" when leaving the amount & price blank. Both need to be entered

![image](https://user-images.githubusercontent.com/510285/113907098-e1a8f100-97cc-11eb-8158-7e8f61ba147f.png)

[2021-04-07 17:38] #438 closed, assigned to nobody

[2021-04-07 17:45] skenaja commented on #207
PDF now supported, closing.

[2021-04-07 17:45] #207 closed, assigned to andrevenancio

[2021-04-07 17:55] aleixfc opened #439 "Do not allow download videos and hi res images if you are not the a creator or the collector"
Right now everyone can download the video files in a very easy way uploaded to Hicetnunc using the button download.
It would be probably fairer if only the creator and the collectors of the artwork had access to the option 'download'.
This would be great as well applied to .gif's and images. It may prevent some fraudulent re-uploads by protecting the hi-resolution version of the image.

[2021-04-07 18:01] JarrodWoodard opened #440 "Add support for epub and KPF (kindle) formats for ebooks."
KPF is the kindle package format.

More info on the epub format can be found here: https://www.w3.org/publishing/epub32/

[2021-04-07 18:02] #439 closed, assigned to nobody

[2021-04-07 18:10] JarrodWoodard commented on #59
I have a very large content creator that wants to escape Ethereum for their NFT's but also wants this feature or at least the capacity to confirm someone bought/owns the content which then gives them a redirect to a page of the creators choice for a private 'thank you' or something like that.

[2021-04-07 18:14] tarwin commented on #59
I'd suggest you have something in the comment saying "hey message me once you've bought" or similar.
Example: https://www.hicetnunc.xyz/objkt/18577

[2021-04-07 18:15] JarrodWoodard commented on #59
How would one verify that they did make the purchase?

[2021-04-07 19:01] tarwin commented on #59
Good question. Contacting the buying back and asking them to send a very specific amount of TEZ from the same wallet to you ie "Please send 0.035236 TEZ to Wallet XXXX to confirm". That could work. But it's really a bit of a mess I'd agree.

[2021-04-07 19:02] andrevenancio commented on #440
Aren't these proprietary formats? Is there an example you can point me where these works in a browser?

[2021-04-07 19:04] tarwin commented on #59
Again, this is a problem of privacy on blockchains in general. The other thing you could do was set up a secondary service which a user can log in to using their TEZ wallet, which would confirm purhcase of specific OBJKTs and send users details to registered seller?

[2021-04-07 19:05] andrevenancio commented on #431
Thank you! This is pretty useful.

I'm not totally sure what we can do with this info because I suspect the original owners though not credited in the api response, should be able to burn them.

All we can do is add these to a block list but not burn them directly as they aren't in out possession but in the possession of who minted them. If that makes sense.

@djangobits @crzypatchwork what are yo

[2021-04-07 19:05] #430 closed, assigned to nobody

[2021-04-07 19:06] andrevenancio commented on #430
This description is not useful. It is a template for you to provide us more information.

[2021-04-07 19:56] ALIENGHOST420 commented on #430
Hey Andre,

I would like to BURN one of my minted items i uploaded to your platform yesterday. Your user interface is rather difficult to navigate and I am getting a ERROR each time i attempt to remove it from the blockchain. Is this a more concise question to have asked? hopefully you can help.

cheers,

sam

[2021-04-07 20:03] skenaja commented on #430
Hi @ALIENGHOST420
The template asks for information that help us diagnose your problem.
Please could you confirm:
* the objkt ID
* The error message - what was it?
  * was it on the hicetnunc website or in the wallet popup?

[2021-04-07 20:09] skenaja commented on #378
Closing for now. @Nek let me know if this is still an ongoing issue, and I'll re-open it.

[2021-04-07 20:09] #378 closed, assigned to nobody

[2021-04-07 20:10] zmnv commented on #402
fixed now. thanks!

[2021-04-07 20:18] skenaja commented on #363
Closing issue for now - let me know if there is anything outstanding that requires a fix here.

There is also a possible feature request that could come out this - I've added here - feel free to upvote/comment https://hicetnunc.featureupvote.com/suggestions/177097/collections-list-and-blacklisted-wallets

[2021-04-07 20:18] #363 closed, assigned to crzypatchwork

[2021-04-07 20:24] skenaja commented on #270
https://hicetnunc.featureupvote.com/suggestions/175393/add-option-to-make-an-offer-for-items-that-are-currently-not-for-sale

[2021-04-07 20:25] skenaja commented on #200
Closing for now. Let me know if you experience this issue again & I'll re-open.

[2021-04-07 20:25] #200 closed, assigned to nobody

[2021-04-07 20:43] idlebit1 commented on #433
@Quasimondo Great idea to use trust networks in this way.

I have a suggestion to avoid huge approval backlogs. Let a transaction be auto-approved if it is not flagged or approved within N days. If a transaction is flagged, it goes to the front of the cue for consensus and possible rejection.

This community is already great at discovering copymint sales after the fact. So put untrusted transactio

[2021-04-08 01:57] dribnet commented on #32
Why this limit on royalties? Having the platform enforce any particular royalty limit seems like an unnecessary restriction.

[2021-04-08 02:04] joshyzen commented on #433
Wow we are trying to build a trust algo for trustless technology! The most simple solution is to warn buyers before purchase they are looking at something created by a suspected copyminters. (Makes me think of fake news with warnings from fact checkers) E.g. place a warning label over the purchase button "Anonymous Minter. Proceed at your own risk."  This warning puts added responsibility on the p

[2021-04-08 03:11] raynt commented on #32
Now that royalty rates are adjustable up to 25% it should be listed on the OBJKT sale page.

[2021-04-08 05:05] fraguada commented on #433
I agree with @joshyzen. Adding a trust component to a trustless system seems to go against the fundamental design of the technology. I believe it is an important problem, but I wonder if there is a trustless way to solve it?

In general, we know of a few trustless mechanisms like PoW, PoS, and PoST, they all require something significant from the potential agent, mostly to offer a significant amou

[2021-04-08 07:46] djangobits commented on #433
Great discussion, thanks @Quasimondo. I already thought countless hours how we could establish a good system that keeps the platform as open as possible but still secure and immune to attacks and copyminters. The current system can only be temporary and it's not effective. Also I fear that in the future some people might start to attack the platform by uploading really (and I mean REALLY) bad stuf

[2021-04-08 08:35] inertdruid opened #445 "the home page doesnt load"
After I uploaded my first mint, the website's homepage doesnt  load. I tryed in the Brave browser and Opera browser. If I click on a direct link to a job posted to discord or facebook groups the job loads. The problem is that I can't load the website's homepage.
![hicetnuncerror](https://user-images.githubusercontent.com/57151709/113994863-1b5d1480-982c-11eb-9447-050480656d18.png)

[2021-04-08 08:40] #445 closed, assigned to nobody

[2021-04-08 10:33] SableRaf opened #448 "Move mint page fields explanations outside of the placeholder text"
**Is your feature request related to a problem? Please describe.**
In some cases, fields in the mint page will be automatically filled by the browser making them opaque to the user.

**Describe the solution you'd like**
Could the form have the explanations outside of the placeholder text?

**Describe alternatives you've considered**
Another possible solution in case we want to keep the minimalist

[2021-04-08 11:08] jagracar commented on #433
The point by @djangobits is even more problematic. How is ipfs controlling the upload of very bad content? It would be great if they already do that kind of work, so the OBJKT cannot be created because if the ipfs upload fails.

@Quasimondo, I have one question about your solution. What happens when you buy something from those accounts. Is the money taken from your wallet and put on a temporal wa

[2021-04-08 11:35] Quasimondo commented on #433
The point of using an escrow contract is that it will keep the money for those (yet) untrusted sales until they have been vetted by the community. Which means that if a seller is identified as a copy-minter the buyer will automatically get their money back - something that is impossible with regular sales. The tez will still be "spent" as long as the sale has not been approved, so you will not be

[2021-04-08 11:37] neverhood311 commented on #59
I've found a workaround for now. If a buyer wants the bonus content, I
require them to register their wallet with tzkt.io and to include their
Twitter handle on their tzkt profile. Then, they have to DM me with that
Twitter handle. If everything looks good, I feel comfortable that I'm
talking to the right person.

On Wed, Apr 7, 2021, 1:04 PM Tarwin Stroh-Spijer ***@***.***>
wrote:

[2021-04-08 12:59] Quasimondo opened #449 "Display royalty % on OBJKT page"
Now that the "pick your own royalties" feature has been reactivated I think it would be desirable to display the royalty percentage factor for a given OBJKT on the page. I think this information is important to be transparently available so people who are more on speculative side of collecting know what they are in for since it makes a difference if that value is 10% or 25%

[2021-04-08 13:31] skenaja commented on #32
This has now been logged as #449

[2021-04-08 13:36] Quasimondo commented on #32
I agree with @dribnet - except for certain technical limitations (like making sure that the 2.5% platform fee is still payable) this limitation seems arbitrary. I would like to know the rationale behind this.

[2021-04-08 13:58] skenaja commented on #32
It's technically amendable, but would need a new version of the smartcontract. You can see the limitation hardcoded here:

https://tzkt.io/KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9/code

`  { PUSH string WrongCondition: (((params.amount > 0) & ((params.royalties >= 0) & (params.royalties <= 250))) & (sp.len(params.metadata) == 53)) & (params.amount <= 10000) ;`

[2021-04-08 14:40] Quasimondo commented on #32
Oh well, looks like nothing we can do about this now. Off-topic, but I how would a transition to a new version of the contract work? Would the old contract first have to uncurate all swapped OBJKTs and then everyone would have to reswap them manually?

[2021-04-08 15:33] andrevenancio commented on #32
I'm sure Rafael choose it with something in mind.

but what would the percentage be like then? 100%? So I buy something for 1 tez, I resell it for 2 tez and with royalties set to 100% means that I make no money the artist already sold the piece in the first place. this are royalties over sales as the art moves hands. Which, I'm not sure happens in the Art world? (might be wrong on that).

[2021-04-08 15:42] mlsnark commented on #32
Being from the art world and running a platform on Ethereum for 3 years, I would say that there are certainly projects where a high royalty (even a 100%) can be an artistic element of the artwork. But realistically, oftentimes the collectors are unaware of the embedded royalties and find out about them only when they try to sell the art, so the royalty mechanic and its size need to be VERY transpa

[2021-04-08 15:53] Quasimondo commented on #32
@mlsnark I agree that the royalties for a piece should be clearly visible which is why I added #449 as a feature request

@andrevenancio Of course 100% would only be a artistic statement, but some people actually suggested that number for free OBJKT giveaways. I think the number should have allowed up to 50%, but higher values are not total fantasy, for example Dadabots has 80% artist royalty.

[2021-04-08 15:56] andrevenancio commented on #32
If the royalties param comes in the API, I'll be able to do it on my end. If not, it requires @crzypatchwork to help out.

[2021-04-08 15:58] pindarvanarman opened #451 "Artist Validation not Working"
Have gone through validation steps to register my twitter ID and information 3 times now.

for wallet address - tz1ekiLhn728uswyyWmzYLzBWZ22GtgktotM

Yet nothing is happening and it has been 2 weeks since my last attempt.

Need help validating my artist ID.

How do I do it?

Thanks,

[2021-04-09 04:56] mescalina opened #455 "All new items are coming out of the API with total_amout=0 and no owners!!!"
Since item 26906 they are all coming out of the api with total_amount=0 and no owners!
I'm using this endpoint: https://51rknuvw76.execute-api.us-east-1.amazonaws.com/dev/objkt

26906, 26907, 26908, 26909, 26910, 26911, 26912, 26913, 26914, 26916, 26915, 26917, 26918, 26919, 26920, 26921, 26922, 26923, 26924, 26925, 26927, 26926, 26928, 26929, 26930, 26932, 26931, 26933, 26935, 26934, 26936, 26937

[2021-04-09 07:24] mescalina commented on #455
I think the Better Call Dev api returns the correct amount, so I guess the error is just in the HEN api or Cryptonomic.
I checked item 26907 at this endpoint: https://api.tzkt.io/v1/accounts/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/operations?entrypoint=mint&parameter.token_id=26907

and this is the data:

    "parameter": {
        "entrypoint": "mint",
        "value": {
            "amount": "10",

[2021-04-09 07:25] djangobits commented on #451
Hello! tzkt.io is a completely different enity and has nothing to do with hicetnunc. hicetnunc just pulls data from there. Check the contacts on the bottom of this page: https://baking-bad.org/docs/

[2021-04-09 07:25] #451 closed, assigned to nobody

[2021-04-09 08:17] presstube commented on #276
This feels like the same issue but as the creator of an OBJKT if you cancel a swap on an edition:

- that edition disappears from "collectors" list

- the entire OBJKT becomes hidden on "creations" page

Is this the same issue?

---

Here is an OBJKT where this is occurring for me:

https://www.hicetnunc.xyz/objkt/26596

[2021-04-09 08:44] Quasimondo opened #456 "Dark mode button is gone since UI update"
It looks like a recent UI update removed the footer bar and thus also removed the button that allowed to toggle dark mode. Can we have that back please?

[2021-04-09 08:51] Quasimondo commented on #456
Ah, it only appears when the menu button is clicked. Closing this,

[2021-04-09 08:51] #456 closed, assigned to nobody

[2021-04-09 11:46] pichiste opened #459 "HTML/Interactive OBJKT feature permission management"
**Is your feature request related to a problem? Please describe.**

There has been several requests (https://github.com/hicetnunc2000/hicetnunc/pull/219, https://github.com/hicetnunc2000/hicetnunc/issues/396, https://github.com/hicetnunc2000/hicetnunc/pull/454) to enable features such as camera, accelerometer, geolocation, file downloads, etc for HTML/interactive OBJKTs. The main reason for not si

[2021-04-09 12:01] andrevenancio commented on #459
In my opinion we have two possible solutions:

1) On the back of your suggestions:
We could render the sandbox without anything besides `allow-scripts allow-same-origin` as it currently stands. Then, we can check against the objkt metadata and get those props you suggested, and prompt the user saying: "This NFT want's to use A,B and C". If the user alows for that those props will be added to the s

[2021-04-09 13:51] enterblanknet opened #460 "Not able to burn my NFT"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-04-09 14:28] skenaja commented on #460
@enterblanknet - please can you add any further detail to help us diagnose the issue - please can you edit the issue to add step-by-step details of what you did, along with what you saw, including any error messages.

Also did your wallet pop-up to confirm the operation?

[2021-04-09 15:17] enterblanknet commented on #460
of course. it is pretty straightforward.

I clicked on burn it. Then on Ok. And then nothing more.
No wallet popped up. (I think yesterday it did pop up. But I tried so much.
Could be the popup to swap)

Thanks for the quick response btw

Am Fr., 9. Apr. 2021 um 16:28 Uhr schrieb skenaja ***@***.***

[2021-04-09 15:21] pichiste commented on #459
Totally agree that double authorization is awkward, but not sure how else to enforce this type of per-OBJKT setting, if we do indeed need it...

Testing with a simple webcam example, it looks like Chrome is the only browser that defaults to remember your choice after the first time you allow/disallow. FF and Safari default to asking each time.

If we are ok with feature permissions being global ac

[2021-04-09 15:33] skenaja commented on #460
Can you access your wallet direct from the address bar? type this into the URL:

`chrome-extension://ookjlbkiijinhpmnjffcofjonbfbgaoc/fullpage.html#/`

There was version released very recently that had a popup question asking about anonymous statistics. Until this was answered, the wallet was not getting initialised properly for transactions.

If this looks OK, then access your "Manage assets page

[2021-04-09 15:37] markknol commented on #433
I personally think it would help to add a small checkbox when minting
 `☑️ I have the rights to upload this artwork, including the use of any featured company or persons name, branding or face.`
Then you would also have some more ground to flag stuff. I'm no lawyer so probably needs different wording.
It's probably a different but related discussion, but I remember being slightly surprised you can

[2021-04-09 15:50] skenaja commented on #455
This was caused by problems with the upstream API provider not having up-to-date L2 data. The API is now returning correct results for these objects.

[2021-04-09 15:50] #455 closed, assigned to nobody

[2021-04-09 15:59] skenaja commented on #440
epub is an open format, however Kindle is very proprietary!

https://github.com/futurepress/epub.js/ could be used to render the books on the client-side without having to explicitly support the mime-type.

@JarrodWoodard - take a look at https://github.com/hicetnunc2000/hicetnunc/wiki/Interactive-OBJKTs which might work for your use-case. There's a javascript (client-side) library available to re

[2021-04-09 16:05] khuezy commented on #391
All of my transactions to swap the NFT are backtracked.

The error:
Storage quota exceeded for the operation
A script or one of its callee wrote more bytes than the operation said it would

[2021-04-09 16:27] joshyzen commented on #433
crap yes there needs to be some guidelines... you could have terrorists
post beheadings or pedophiles post inappropriate porn... there's got to be
some protection for the platform.

On Fri, Apr 9, 2021 at 11:37 AM Mark Knol ***@***.***> wrote:

[2021-04-09 16:52] JarrodWoodard commented on #440
Do I have to be a dev to make this work?

[2021-04-09 18:33] atomantic commented on #459
Per object permissions would seem to require also preventing the object from loading anything until the permission is reviewed--else in Chrome, a persistent choice would be in-effect even without the site wrapping a permissions prompt... feels like this is an awkward over-engineering to me--and feature support/behaviors are going to change over time per browser. As a user, I'd prefer just the nati

[2021-04-09 18:50] pjavid opened #463 "Update 'Play' icon to improve thumbnails of Interactive OBJKTS"
Currently, interactive OBJKT thumbnails are displayed with a large 'play' icon in the center of the preview image.

This makes it difficult to appreciate the preview image at a glance, especially in gallery view. And for new users, the 'play' icon might suggest that the piece is a video or animation, not an interactive work.

I suggest two changes:
1) Move the icon for interactive OBJKT thumbnails

[2021-04-09 20:13] andrevenancio commented on #440
Right now I'm not tempted to include a dependency adding to the bundle size for such a niche feature.

[2021-04-09 20:15] andrevenancio commented on #440
What's the use case here? People burning an NFT I assume own the right of publishing their intellectual material. If the material is a book or manuscript it had to live somewhere before going into a "kindle" format. We support pdf a more widely compatible version. I do not see a use case for this feature without more context.

[2021-04-09 20:15] #387 closed, assigned to nobody

[2021-04-09 20:32] pichiste commented on #459
If we disregard geolocation for now, global permissions handled natively via the browser + some generic alert/messaging about permissions seems sensible. It was mainly the scenario of camera + geolocation + wallet address that I found troubling.

One argument for adding the feature selection on the creator/minting side, is that the NFT metadata itself can declare what features are required, in the

[2021-04-09 22:05] bilgekaan opened #464 "Gif thumbnails are missing on new HTML NFTs."
**Describe the bug**
I was able to upload gif thumbnails with HTML objects but now it looks like this:
![image](https://user-images.githubusercontent.com/2965842/114245259-cb4f9080-9998-11eb-923f-b6c7a34a5ac3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Upload an HTML object with a gif thumbnail.

[2021-04-10 02:47] JarrodWoodard commented on #440
Have you ever read a novel via pdf?

I understand not wanting to do KPF since it's proprietary but EPUB is pretty ubiquitous and a lot easier to read than pdf, there is a reason it exists. EPUB is the ebook standard, please add it, at the very least.

[2021-04-10 05:53] pichiste commented on #464
This is a new bug affecting all HTML OBJKT cover images, not just GIFs. Fixed in this PR: https://github.com/hicetnunc2000/hicetnunc/pull/465

Thanks for reporting!

[2021-04-10 09:20] skenaja opened #466 "Minting silently fails with net::ERR_EMPTY_RESPONSE during file upload to IPFS via Infura.io"
**Describe the bug**
After submitting a fairly large file to upload (13 or 20MB), this user was getting mint hanging during IPFS upload phase. This caused the mint screen to hang forever with "preparing OBJKT" message.

Console reports error message from Infura: `Failed to load resource: net::ERR_EMPTY_RESPONSE` from `ipfs.infura.io:5001/...ue&progress=false:1` (full path not discernable from user

[2021-04-10 09:49] skenaja commented on #466
Seems to be other apps experiencing same issue - https://github.com/ipfs/js-ipfs/issues/3555

[2021-04-10 10:06] leonardschoelch opened #467 "Listings/Swap tab on profile"
Right now it's a bit hard to find the artworks you have listed as they won't show in the collection tab at all as far as I can tell.

It would be great if we could add a third 'Swaps' tab that contain all the NFTs the profile has on offer. This does at a little bit of redundancy with the creations tab, which can contain some of the same NFTs by this profile, but overall this is a feature that is n

[2021-04-10 11:42] m0wh opened #469 "p5.sound is blocked by the sandboxed iframe because it tries to load a script from a blob src"
Hello :)
Not reeeealy a bug (it's expected in a way), but I'm trying to mint a p5 sketch with some p5.sound stuff, but the preview just displays "Loading...". The sketch works as expected locally and I'm not using any cdn, everything is in my zip file, but p5.sound tries to load something from a blob src witch is disallowed by hicetnunc's sandboxed iframe.

Steps to reproduce the behavior:
1. Comp

[2021-04-10 13:25] skitpixels opened #470 "PROFILE DOES NOT ENTER"
I do not understand programming, my profile does not enter and I am unable to sell my works.

link: https://www.hicetnunc.xyz/tz/tz1Pv9rsa2y78vUUtTBUejUR6kDK9WBrGL37

[2021-04-10 14:18] 0x666c6f opened #471 "Storage quota exceeded for the operation"
**Describe the bug**

When Hic et Nunc smart contracts are under heavy load, a lot of transactions get backtracked because of the "Storage quota exceeded for the operation" error. It can happen directly at the first contract call from the user, or during internal smart contract calls.

**To Reproduce**

Steps to reproduce the behavior:
1. Alice sends a transaction that removes data from the Storag

[2021-04-10 15:16] laoko opened #472 "Accept .glb upload in file upload dialogue on minting page."
**Describe the bug**
My understanding is that .GLB files are supported on the site, however when trying to upload one, the file upload filter does not list it as one of the acceptable file types so they do not appear in the file upload dialog. Tried on windows and mac.

This filter can by bypassed on windows (and chrome on mac), and .glb files then previews well. It is confusing though.

**To Repr

[2021-04-10 16:11] andrevenancio commented on #440
so guide me through your thought process...
You want to be able to sell and then serve on hicetnunc platform a EPUB or KPF. How are you going to send it to your kindle from our website? I'm not sure I follow. When you buy a token, you buy it and it gets served on our platform. So if you're serving it on the platform how will you from your kindle access it?

[2021-04-10 16:23] pichiste commented on #472
Thanks for reporting – the accept attribute was recently added but it looks like browsers aren't recognizing the mime type properly.

This PR should fix the issue: https://github.com/hicetnunc2000/hicetnunc/pull/473

[2021-04-10 19:20] andrevenancio commented on #437
I've hidden the burn menu if you're not the owner of the nft you're looking at. Does that fix this for you?

[2021-04-10 21:15] skenaja commented on #437
Sounds good to me!

[2021-04-10 21:43] djangobits commented on #470
Hello,
This was one of your tokens:

https://tzcomet.io/#/token/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/25761%3Falways-show-multimedia%3Dtrue

We found it offending if you consider how many LGBT lost their lives in WW2 in Hitler's concentration camps. There was an outcry of people on Twitter as well.

Can you explain what the deeper meaning of that piece was meant to be?

The community is meant to be

[2021-04-11 07:28] pichiste commented on #459
A new proposal based on the above:

- Feature permissions are global and handled natively at the browser level
- Creators can select features to enable for their OBJT via some checkboxes on the mint page. The choices are:
[code]
- Those flags are automatically injected on the display iframe
- iframes should have an info icon somewhere, that when clicked, opens a modal displaying which features are

[2021-04-11 10:19] pichiste commented on #459
Optionally, we scrap the creator-side feature selection, always include all those flags, and show the iframe warning the first time a user goes to an HTML OBJT page.

[2021-04-11 11:00] pichiste commented on #472
Fix has been deployed, @laoko do you mind closing? I don't have repo access! thanks

[2021-04-11 11:02] #472 closed, assigned to nobody

[2021-04-11 14:35] pichiste commented on #464
@bilgekaan this should be fixed now, can you close the issue? (I don't have access) thanks!

[2021-04-11 16:25] violetforest commented on #422
I got the okay from the craziest patch work to add this to this wiki :) @skenaja

[2021-04-11 16:25] #422 closed, assigned to violetforest

[2021-04-11 17:25] JarrodWoodard commented on #440
I can with a kindle or chosen ebook app load from directories on my system. So I go to the website, download the media and open it with my chosen app/reader.

[2021-04-11 19:16] pjavid opened #476 "Update "collect for x tez" button to reflect whether price is a secondary sale"
Currently, when viewing an OBJKT's 'info' tab, the 'collect for ...' button reflects the lowest available price (whether from Issuer or a Collector).

Requesting a subtle visual indication that distinguishes whether the visible price is from the Issuer or a Collector.

Possible benefits from this change:
- Quickly indicates to collectors whether the sales from the default 'collect for ...' button

[2021-04-11 22:06] andrevenancio commented on #440
And are you able to do that as it is now or we would need to provide a download button?

[2021-04-12 00:04] #464 closed, assigned to nobody

[2021-04-12 08:16] Quasimondo opened #477 ""swap" tab does not appear for newly minted OBJKTS"
**Describe the bug**
No "swap" tab appears for newly minted OBJKTs since today. Worked fine until yesterday and still works for older OBJKTS in my collection

**To Reproduce**
Steps to reproduce the behavior:
1. Mint a new OBJKT
2. go to OBJKT page once minting has finished
3. only "info" and "collectors" is visible

**Expected behavior**
Swap + burn should appear

**Screenshots**
![image](https:/

[2021-04-12 08:31] hic1etnunc opened #478 "NFT shows up in manage assets but can't see swap or burn tab. also, my address is not listed under collectors tab even though asset is visible in manage assets and the counter for available assets is reduced by the quantity of NFTs I bought from the particular artist."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-04-12 08:39] VVillar commented on #477
Hello, same issue when creating a NFT, there is not available options to put a price , just info and collectors.
![image](https://user-images.githubusercontent.com/1483310/114366050-0f819300-9b49-11eb-885c-82ac0f3c49e5.png)

[2021-04-12 08:43] SVADA8 commented on #477
Same issue for me, can't swap NFT's I minted today. Older ones are also not swappable.

[2021-04-12 08:48] pichiste commented on #459
Ok, here's a PR with a solution based on @atomantic's suggestion above, and without the creator-side feature selection: https://github.com/hicetnunc2000/hicetnunc/pull/462

@andrevenancio The settings page stuff could be added on top of this if needed.

[2021-04-12 08:53] jkwongjk commented on #477
Seeing the same bug: https://www.hicetnunc.xyz/objkt/30363

![CleanShot 2021-04-12 at 01 52 41](https://user-images.githubusercontent.com/65338025/114367965-d0941300-9b31-11eb-9e14-793ad1144cc2.png)

[2021-04-12 09:25] djangobits commented on #477
@Quasimondo check my last twitter DM to you (to cancel the swap)

[2021-04-12 09:47] Quasimondo commented on #477
For those who need a temporary workaround - you can use the better call dev api to swap your OBJKTs manually:
https://better-call.dev/mainnet/KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9/interact?entrypoint=swap

Just watch out - the "xtz_per_objkt" value is in mutez not in tez - so you have to multiply your desired tez value with 1.000.000 (just add 6 "0" to the end of the price) -> 5 tez = 5000000 mutez

[2021-04-12 09:52] IGjvliveh commented on #477
Same here. I just minted and couldn't find the swap button.
Hmmm.... Let me try that temp workaround. Thanks @Quasimondo !

[2021-04-12 09:55] oshema commented on #478
Also have the same issue

[2021-04-12 09:55] skenaja commented on #477
I think there's an issue with the Baking Bad L2 data - the main call used by the HEN API to show holders is returning nil:
https://api.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=30343
https://api.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=30363

One of mine swapped yesterday working OK:
http

[2021-04-12 09:58] skenaja commented on #477
I've left a comment in the BB telegram group

[2021-04-12 10:00] nbieva commented on #477
Yes, indeed. What was minted yesterday is ok. But now:
1. No edition
2. no swap+burn
3. No collectors (which is normal, but I usually see me there :-) )
![cal 2021-04-12 at 11 59 12](https://user-images.githubusercontent.com/17779479/114377178-a7ea3880-9b86-11eb-9503-9fb5290ea822.png)

[2021-04-12 10:02] skenaja commented on #478
This is a duplicate, so closing. Tracking in #477

@hic1etnunc, it's important when raising defects in Github to edit the issue template text to answer all the questions asked - this helps the developers diagnose the problem.

[2021-04-12 10:02] #478 closed, assigned to nobody

[2021-04-12 10:04] skenaja commented on #470
I'm going to close this for now, will re-open if new information is provided.

[2021-04-12 10:04] #470 closed, assigned to nobody

[2021-04-12 10:06] oshema commented on #477
Additionally, it does not appear in my kukai wallet. cannot send it or burn. Is there a time estimation for when you believe this issue will be solved?

[2021-04-12 10:11] skenaja commented on #477
Just for info, the code on HEN was recently changed (in d93cda8cfe107cee93fb05deda380677df85c045) to hide the swap & burn tab if you're not defined as an owner based on the upstream data.

@oshema it's likely the Kukai wallet depends on the same upstream data, which is why it's not appearing. I don't have a timeframe for a fix, as the upstream feeds are maintained by a separate group.

Both Baking

[2021-04-12 10:12] Quasimondo commented on #477
@oshema Since this seems to be an issue which probably did not get caused on our end it is hard to tell when the Baking Bad team fixes it.

[2021-04-12 10:18] oshema commented on #477
I'm not sure what you meant exactly.. I just minted a new object and it appears in my creation but I just can do anything with it. I can't put price/burn/swap although I created it. I want to create and send it to a friend like I used to do at 'hicetnunc' before. As for the moment, I can't find any alternative for my desire to mint an NFT and send it to someone.   Is it going to stay like that or

[2021-04-12 10:34] fused opened #479 "Ability to send more than 100 hDAO per curate"
It seems there are easy ways to circumvent the recommended(?) 100 hDAO spent per curate transaction, which makes difficult and time consuming (if not "expensive") for anyone without the "technical knowledge" to get into the hdao feed.

I'm wondering if this is by design, if yes, then shouldn't anyone be able to do it?

[2021-04-12 10:37] skenaja commented on #477
Don't worry, it will get fixed! It's happened a couple of times (eg #455), and the BB team are usually pretty good at getting it sorted within a couple of hours.

[2021-04-12 10:39] oshema commented on #477
Thank you skenaja and Mario

[2021-04-12 10:47] andrevenancio commented on #477
I think @skenaja has provided really good insight already, I dont have much to add. But as curiosity, the frontend only displays those menus (swap + burn) if you're the creator of the piece, or if you own a copy of it (so you can sell on the 2nd market).

With the API response, we're getting `owners = {}` coming as an empty object, which shouldn't.

I can separate the two filters for cases when ow

[2021-04-12 10:56] andrevenancio commented on #477
I've swapped the order in which we verify ownership. By checking against the owners first, and the creator last, should enable the creators to be able to swap and burn, but not the owners (so secondary marker). the secondary market can only be fixed if that property `owners` doesn't come in as empty object. https://github.com/hicetnunc2000/hicetnunc/commit/d93f6d4f05544b7b8159fea75a720e0d50179b2a

[2021-04-12 11:56] skenaja commented on #477
It looks like the API is now correctly responding - can everyone check they can now swap?

[2021-04-12 11:58] nbieva commented on #477
worked for me!

Le lun. 12 avr. 2021 à 13:56, skenaja ***@***.***> a écrit :

[2021-04-12 12:02] shig2k1 opened #481 "refused to connect to blob... because it it violates the document's content security policy"
go to https://www.hicetnunc.xyz/objkt/30431

have a look at all the errors in the content about refusing to connect to blob

it works on safari, but not chrome or firefox

It's trying to load glb data into a blob - I gather that the blob data is being refused; I think it's because of the injected content-security-policy when serving the iframe

[2021-04-12 12:38] shig2k1 commented on #481
![image](https://user-images.githubusercontent.com/961015/114395462-4e890600-9b94-11eb-925d-58d2e8dbe64c.png)

[2021-04-12 12:40] eliyastein opened #482 "zip objkt can escape CSP"
The CSP is injected inside the index.html of a zip objkt as a meta tag, but it's not injected into other html files in the zip.

One can include an additional html file and redirect to it from index.html.

The other file will be loaded in the frame without the CSP in place.

POC:

https://www.hicetnunc.xyz/objkt/30075

The zip file I used is attached for reference.

[Archive.zip](https://github.co

[2021-04-12 13:12] skenaja commented on #477
Closing

[2021-04-12 13:20] skenaja commented on #479
I don't think it's a bug as such, as the smartcontract supports higher amounts as you point out. It's just that the UI has not yet built this feature in.

https://hicetnunc.featureupvote.com/suggestions/174689/upvote-with-more-hdaos

Noting here the workaround to be able to send more than 100 hDAO - submit the relevant parameters here:
https://better-call.dev/mainnet/KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2E

[2021-04-12 13:22] skenaja commented on #467
Hi @leonardschoelch - closing this as a duplicate of #276

[2021-04-12 13:22] #467 closed, assigned to nobody

[2021-04-12 13:23] skenaja commented on #460
@enterblanknet - feel free to add new information and I'll re-open if this is still an issue.

[2021-04-12 13:23] #460 closed, assigned to nobody

[2021-04-12 13:28] kenokenobingo commented on #477
I could start swapping now, but my wallet couldn’t handle the transaction although it’s applied.

![Bildschirmfoto 2021-04-12 um 15 26 26](https://user-images.githubusercontent.com/9639767/114401927-a54a0c00-9ba3-11eb-85cf-3d8f1f3a56e7.png)

![Bildschirmfoto 2021-04-12 um 15 28 05](https://user-images.githubusercontent.com/9639767/114401988-b2ff9180-9ba3-11eb-8d2a-3e769edebba0.png)

[2021-04-12 13:36] oshema opened #483 "My Object not in my Kukai wallet after minting. Can't giveaway objects because of that."
**Describe the bug**
I just want to give an object to my friend. I mint an object but it is not in my wallet and I don't have an option to send it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
after minting object it will appear in my Kukai wallet and I can send it.

**Screenshots**
If applicable,

[2021-04-12 13:54] skenaja commented on #483
This is a Kukai wallet issue - from their Telegram group:

https://t.me/KukaiWallet

[2021-04-12 13:54] #483 closed, assigned to nobody

[2021-04-12 13:55] skenaja commented on #477
This is a Kukai wallet issue - from their Telegram group:

https://t.me/KukaiWallet

[2021-04-12 14:21] shig2k1 commented on #481
![image](https://user-images.githubusercontent.com/961015/114409851-c65e2d00-9ba2-11eb-920f-e13f01d5da63.png)

[2021-04-12 15:46] fraguada opened #484 "FAQ: Add allowed domains for interactive NFTs"
**Summary of change to FAQs you wish to make:**
* Interactive OBJKTs can call a [list of domains](https://github.com/hicetnunc2000/hicetnunc/pull/253/files) to access media or api queries, etc.
* These should be listed in the Interactive NFTs wiki page
* I recommend these changes be added after the [User Data](https://github.com/hicetnunc2000/hicetnunc/wiki/Interactive-OBJKTs#user-data) section.

[2021-04-12 16:00] dblock opened #485 "Can't swap after canceling a swap"
**Describe the bug**

I was trying to lower the price of a swap. Since there's no way to do that, I tried to cancel the swap, and wanted to swap again.

Swap button does not appear after cancelling a swap in https://www.hicetnunc.xyz/objkt/28576.

**To Reproduce**

1. Mint and swap an object.
2. Cancel the swap.
3. No longer shows number of editions nor can swap again.

**Expected behavior**

Expe

[2021-04-12 16:02] dblock commented on #477
Could https://github.com/hicetnunc2000/hicetnunc/issues/485 be related?

[2021-04-12 16:36] skenaja commented on #477
Very likely. The upstream API provider (https://api.better-call.dev/ aka BCD, provided by the Baking Bad team) offers an object "holders" API data feed which gives a summary of all the holders for a specific object. This info is used by HEN to display various tabs to owners and the creator, and allows operations like swap, cancel, burn etc.

Whenever there is a transaction in the underlying blockc

[2021-04-12 18:53] violetforest commented on #484
Thanks, added!

[2021-04-12 18:53] #484 closed, assigned to violetforest

[2021-04-12 19:12] fraguada commented on #484
@violetforest sorry for being picky but could you use another term besides "whitelisted" domains? Maybe just "Allowed" domains?

[2021-04-12 19:15] violetforest commented on #484
@fraguada sure, was just trying to make it continue what the last person was saying, but i can change it!

[2021-04-12 20:57] dblock commented on #485
Looks like does get resolved over time, see https://github.com/hicetnunc2000/hicetnunc/issues/477#issuecomment-817956725 - for a user we probably want to be able to show something like a "please wait, this will be swappable soon"

[2021-04-12 21:45] skenaja commented on #477
Gonna re-open this for a while for visibility - there are still ongoing delays in BCD calculating holders, but at least it's down to minutes rather than hours...

[2021-04-12 22:39] andrevenancio commented on #477
Tou can pin it too if you want!

[2021-04-12 22:41] andrevenancio commented on #485
Is this a NFT You minted or you're reselling? Because there's an issue with a API we're using where we can get a list of "owners" for the token. Which means if you're not the creator, the platform can't tell if you own that token or not. Should be fixed soon. It's a 3rd party.

[2021-04-12 22:43] andrevenancio commented on #482
Good catch! @pichiste 👀

[2021-04-12 22:46] andrevenancio commented on #481
The html sandbox has a lot of security restrictions in order to keep the users as safe as possible from injecting 3rd party content (like external websites for example, or actually security issues by accessing the patent application). There's not much we can do to lift this restrictions without compromising the security of the platform which I hope you understand it's priority. The introduced the

[2021-04-12 22:47] dblock commented on #485
I minted this one.

[2021-04-13 01:26] clausmithNFT commented on #477
hi! Same here! Not allowing to swap (or burn)

![image](https://user-images.githubusercontent.com/82423485/114483177-5077b700-9bde-11eb-824e-e9c67a5a8c89.png)

[2021-04-13 06:23] shig2k1 commented on #481
you were able to make an exception for p5.js audio library - I wonder if the same change for script-src there will work for gltfloader for threejs ... otherwise maybe I'll try embedding them some other way :-/

[2021-04-13 07:13] pichiste commented on #482
@eliyastein thanks for catching that! 🙏

Fix is in: https://github.com/hicetnunc2000/hicetnunc/pull/486

[2021-04-13 08:12] shig2k1 commented on #481
I will find another way to do this; I think it's my preloader which causes the problem. I'm able to embed glbs and load them another way. I think I will create and share a guide once I've finished so others don't run into the same issue

[2021-04-13 08:12] #481 closed, assigned to nobody

[2021-04-13 10:08] GOLDWAVVVES opened #489 ""Item not for sale""
"Item not for sale"
I uploaded 3 pieces to HicetNunc but all of them appear "not for sale" immediately after mint
and afterwards there's no option to change that
what to do?

[2021-04-13 11:19] DonKarlssonSan commented on #448
This is live, I think this can be closed.

[2021-04-13 11:27] matangkuwago opened #490 "Opening a profile page with PDF objkt automatically downloads the PDF file"
On some browsers, e.g. Android and Firex on macs, when you open a profile page with minted PDF files, the PDF gets downloaded automatically on a new window.

Example profile links:
https://www.hicetnunc.xyz/tz/tz2G5SBeAJVbiE1icji3P59Lx8EvcwMLEHp3
https://www.hicetnunc.xyz/tz/tz1fGQT9WfT5yRVkm876jViSwZTgGhrVDVEg
https://www.hicetnunc.xyz/tz/tz1hb9PiWxQEf6J9xevPsUM6dkuCLnhDMvsp

**To Reproduce**
Ste

[2021-04-13 11:38] skenaja commented on #448
Closing!

[2021-04-13 11:38] #448 closed, assigned to nobody

[2021-04-13 11:39] EMES77 commented on #490
I noticed this today visiting the creation tab on the first of above mentioned profiles

Using
macos 10.14.6 with firefox v87.0

Chrome and Safari don't show the behaviour.

Everytime the site loads e.g. when i switch to collection and back to creations, the pdf downloads.

[2021-04-13 12:09] #459 closed, assigned to nobody

[2021-04-13 12:30] eliyastein commented on #482
Thanks for the quick attention! I'll try to take a look if there are other tricky edge cases with loading html from blob or data uri (for example). Will let you all know!

[2021-04-13 13:53] pichiste commented on #482
@eliyastein thanks appreciate it!

[2021-04-13 13:55] #482 closed, assigned to nobody

[2021-04-13 19:35] skenaja commented on #489
There have been intermittent periods of delays in the swap button appearing after minting due to an upstream data provider that aggregates and indexes blockchain transaction data. We're tracking this in #477.

If you're still experiencing issues with this, please can you add details there, including `tz...` wallet ID & objkt number

[2021-04-13 19:35] #489 closed, assigned to nobody

[2021-04-13 19:38] skenaja commented on #490
Should the expected behaviour be to display a thumbnail on the collection/creation tabs instead of loading the PDF?

[2021-04-13 19:40] #437 closed, assigned to skenaja

[2021-04-13 22:20] oldominion commented on #17
Whatever solution is used, please make sure it prevents this kind of abuse: https://twitter.com/Crypto888crypto/status/1382088472639463425?s=19

[2021-04-14 01:06] mcfiredrill opened #493 "validate number of objekts is not too big"
**Describe the bug**
There should be a validation on the 'number of objekts' field.

**To Reproduce**
Type a very large number in the number of objekts field.

**Expected behavior**
A validation message to appear stating the number is too big.

**Screenshots**
![13885063267331](https://user-images.githubusercontent.com/66243/114639457-e0b21b00-9d08-11eb-826a-0c438c52114b.png)

**Desktop (please co

[2021-04-14 02:05] mathMakesArt opened #494 "Swap and Burn options Unavailable for Secondary Owners?"
**Describe the bug**
Swap creation and burning appear to be unavailable for secondary owners (owners of OBJKTS which were created by someone else).

**To Reproduce**
Steps to reproduce the behavior:
1. Purchase an NFT on HicEtNunc (or find one in your collection that you already own)
2. View that NFT's OBJKT page
3. Regardless of wallet connection status, the "Swap" and "Burn" options are unavaila

[2021-04-14 05:47] pichiste commented on #274
@tarwin how far did you get with looking into ffmpeg.wasm? Seems like the best comprehensive solution for displayUri / thumbnailUri / video thumbnails.

There is now some basic cover/thumb image generation and the automated compression part could easily be swapped out for this.

Only issue is browser support, since it depends on [SharedBufferArray](https://caniuse.com/sharedarraybuffer) and there

[2021-04-14 06:28] tarwin commented on #274
@pichiste I haven't had a lot of time to look. Been working with the backend team to get that stuff faster etc.

I'd suggest we require displayUri for everything. If it isn't supported yet ie videos let people upload something. Restrict it to less than 1mb or some such. Could be a video, an image, a GIF etc.

We can then replace with auto-created at some point.

You are right about browser support

[2021-04-14 06:39] pichiste commented on #274
@tarwin Got it, sounds good. The cover/thumb feature is disabled on live version, but displayUri is already required across media types via a manual upload on the mint page (except for images), so it's really just about getting video thumbnails working and automating as much as possible.

I can take a look at this when I find some time. Happy to collaborate on this as well, I'm on the discord.

[2021-04-14 09:08] fraguada opened #495 "Improve accessibility"
**Describe the bug**
The site has a few accessibility issues that seem to be straightforward to fix. This is by no means an exhaustive analysis, rather, I ran the site through Lighthouse and Firefox's Accessibility tool.

![image](https://user-images.githubusercontent.com/1014562/114684095-e1e74600-9d10-11eb-8957-43fb5d055ae7.png)
Running the site through Lighthouse in Chrome for Best Practices an

[2021-04-14 09:16] skenaja commented on #494
Looks like this line will hide secondaryMarket tabs even if secondaryMarket == true

https://github.com/hicetnunc2000/hicetnunc/blob/main/src/pages/objkt-display/index.js#L85

[2021-04-14 14:57] clausmithNFT commented on #477
Hi!
So, any updates about this issue?

[2021-04-14 16:46] skenaja commented on #494
Temporary workarounds via direct contract operations:

1) cancel swap
- find swap_id from the original transaction (eg via your wallet)
- initiate cancel_swap: https://better-call.dev/mainnet/KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9/interact?entrypoint=cancel_swap
  - enter swap_id, wallet address and 0

![image](https://user-images.githubusercontent.com/510285/114747476-c7c95a00-9d48-11eb-95da-c867fc

[2021-04-14 18:18] jhelf opened #497 "Allow WebXR for HTML nfts"
Please add allow="xr-spatial-tracking" to the HTML iframe to allow WebXR NFTs. That should allow WebVR 3D scenes to be viewed on Oculus Quest's browser as well as AR experiences on Android Chrome and iOS through the XRViewer browser.

[2021-04-14 18:20] jhelf opened #498 "Pass in purchases to HTML nft"
Can we pass a list of purchases that has been made on an HTML nft. That would allow making HTML nfts that can evolve as people purchase it!

[2021-04-14 18:50] mescalina commented on #498
I think it is already possible accessing the NFT data on whitelisted providers like https://better-call.dev/
But let's wait the answer from somebody more expert to be sure

[2021-04-14 19:12] mathMakesArt commented on #494
Thanks for the work-around list, @skenaja! I appreciate the screenshots as well, that was very helpful.

Happy to finally be forced into familiarizing myself with better-call.dev

[2021-04-14 19:15] yanngraf commented on #494
I'm also experiencing the issue with the swap tab. The whole site feels pretty buggy tonight I must say.
Maybe I'll test your workaround @skenaja thanks for the tip.

[2021-04-14 19:19] yanngraf commented on #427
This would indeed be handy. The feature request is also described here. To be upvoted. https://hicetnunc.featureupvote.com/suggestions/176388/make-users-collection-available-at-tzaddrcollection

[2021-04-14 19:20] skenaja commented on #412
Error message when clicking `ipfs` url on objkt-detail:

[2021-04-14 20:48] jhelf commented on #498
Ye the problem is HTML objkts restrict calling external URL, so can’t access that data from within the objkts

[2021-04-14 21:40] andrevenancio commented on #498
as @mescalina said, we introduced an allow list. you should be able to do that

[2021-04-14 21:40] #498 closed, assigned to nobody

[2021-04-15 03:13] matangkuwago commented on #490
On some systems, I suppose when PDF is not installed, or when PDF is not supported on the browser, I guess displaying a thumbnail is what's expected. But for browsers where the PDF display element (where PDF browsing can be done), I guess the current functionality is good enough.

[2021-04-15 09:32] mcfiredrill opened #502 "cannot preview interactive NFT"
**Describe the bug**

I upload a zip file, I get this error on preview and the preview does not load.
[code]

[2021-04-15 11:06] drewstaylor commented on #433
I don't mean to cast aspersion but this proposal is just glorified gatekeeping without admitting to it. It depends on community involvement and in doing so makes certain assumptions about what the community is and will be like in the future. I find it dangerous especially because it marries human moderation with automated contract controlled escrow.

- What happens if there's ever no one around to

[2021-04-15 11:41] kefon commented on #466
I'm getting the same error while trying to mint a large 38mo mp4 file (so under the 40mo limit). I tried both on Chrome and Firefox. However the error I got in Firefox is slightly different as it mention a "cross-origin" problem...

Also the infura full path mentionned above is visible on my Firefox screenshot:
`https://ipfs.infura.io:5001/api/v0/add?stream-channels=true&progress=false`

![firefox

[2021-04-15 11:45] skenaja commented on #433
Because the platform is taking a fee, it is one of the legal parties to the contract, so could probably be held partially liable in case of breach of law, such as a breach of copyright (assuming judges can work out if they have jurisdiction in a dispute, and which legal entities or natural persons are liable).

If the platform wilfully ignores its responsibilities to the law, it's going to pop up

[2021-04-15 12:08] skenaja commented on #433
* The IPFS network itself doesn't (and can't) - some good discussion here: https://github.com/ipfs/notes/issues/284 about how you might implement blocklists to prevent bad things coming through your own node.
* The public gateways all have DCMA takedown policies. eg https://ipfs.io/legal/ or https://www.cloudflare.com/abuse/ so presumably the gateway providers are able to block certain hashes bein

[2021-04-15 12:29] onimetal commented on #477
![image](https://user-images.githubusercontent.com/82588784/114869031-ed984280-9dcc-11eb-9336-df70e3c3471e.png)
Hello, everyone!
This is happening to me too :O
I can't swap/burn any of my tokens, it still appears me as an owner, but no swap/burn commands and funnily it appears an option for me to buy it...from....myself o.o

[2021-04-15 12:32] onimetal commented on #477
Hey, forget it, i've just saw i have to "cancel" first 👯

[2021-04-15 16:38] technosmith opened #506 "Could you show my collection with grouping options? e.g. grouped by artist"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-15 18:31] jamesyu commented on #471
What is the workaround for this at the moment? Just keep retrying?

[2021-04-15 18:49] jamesyu opened #507 "Allow data:image urls to be accessed in interactive objkts"
**Is your feature request related to a problem? Please describe.**
Some libraries use base64 data urls to manipulate binary content, like here: https://github.com/ffd8/p5.glitch/blob/master/p5.glitch.js

But content security policy disallows this:
![image](https://user-images.githubusercontent.com/22704/114922432-7cfb2100-9de0-11eb-9d07-a873918f532b.png)

**Describe the solution you'd like**
Allow

[2021-04-15 22:01] djangobits commented on #433
What if we had some upload queue? A new minter would have to mint his work with an escrow contract. The file would be uploaded to a repository where it stays for n days (eg 7). During the waiting time (those n days) community members can downvotes and upvote mints. If at the end of the waiting time a threshold of downvotes have been reached. The piece won't be minted one won't be up for swaps. If

[2021-04-16 01:36] #506 closed, assigned to nobody

[2021-04-16 09:15] Bildecht opened #511 "Account?"
Hi, Guys,

how can I get an account to Hicetnunc? Tried to get in via Temple-Wallet but it doesn't work. It says there is not such account in the Blockchain. I can't upload any objects, too.
Please help.
Many thanks.
Matt

[2021-04-16 11:35] skenaja commented on #511
This error is due to there being no Tezos in the account. You'll need to add some (eg from Coinbase, Binance etc).

See https://github.com/hicetnunc2000/hicetnunc/wiki/Getting-Started-with-Tezos

[2021-04-16 14:52] idflood opened #513 "Add "owner" parameter to html/svg"
I would like to create an artwork which would be different for each owners. So when someone collect the piece he doesn't know exactly what it will look like.

**Describe the solution you'd like**
The first step is to add a detail page for artwork by "owner". currently the same detail page is used for everyone. This should be reflected in the "owners" tab below the artwork but also when browsing ou

[2021-04-16 18:24] mescalina commented on #502
Is this coming from the HEN js or from your code? Are you trying to fetch some data from inside the NFT?

[2021-04-16 21:36] jhelf commented on #497
Looks like PR just got merged implementing this

[2021-04-16 21:36] #497 closed, assigned to nobody

[2021-04-16 23:13] gwitthuhn1 opened #517 "Minted MP4s not playing on Creation Page"
my minted MP4 NFTs used to play on my creation page, but now when I preview the page, [they] are just black boxes. Please help.

https://www.hicetnunc.xyz/tz/tz1gyupBZ3ybA5AgSAiGJyPjaeP5QLMhqJ5A

[2021-04-17 01:24] matangkuwago opened #519 "OBJKT page of early objkts (1 to 399) displays a blank page"
**Describe the bug**
Viweing objkts 1 to 399 (e.g. https://www.hicetnunc.xyz/objkt/399) displays a blank page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/objkt/399
2. Only a black/white page gets displayed

**Expected behavior**
The page should display the objkt

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome, Fir

[2021-04-17 03:28] mathMakesArt opened #520 "I (think I) broke my profile, AND the homepage feed"
**Describe the bug**

Hello!

*Firstly, I'm not certain if this has actually happened, or if the issue I'm experiencing is temporary and unrelated. But I'm posting this preemptively, just in case.*

Tonight, I was playing around with the "mint_OBJKT" functionality on better-call.dev

Minutes before calling the contract from this interface for the first time, I was able to load both the hicetnunc.x

[2021-04-17 03:37] mathMakesArt commented on #520
### How I (think I) broke the site:

Here is a screenshot of the contents that executed via better-call.dev:
![image](https://user-images.githubusercontent.com/68834165/115100625-cb590e80-9f0b-11eb-961c-eb9efe09579b.png)

As you can see, my own address is used for the "address" and "source" parameters.

All the other options should be self explanatory, but I think the **metadata** field is the pro

[2021-04-17 04:19] mathMakesArt commented on #520
One last update: I do believe that @crzypatchwork was able to fix the site feed by banning the OBJKT.
### However my [**profile page**](https://www.hicetnunc.xyz/tz/tz1gsrd3CfZv4BfPnYKq5pKpHGFVdtGCgd71) is still unable to load for some reason.

Do banned OBJKTS get removed from the feed, but remain on individual user pages? **If so, is there any way that this could be remedied?**

[2021-04-17 09:49] skenaja commented on #520
The profile page is having a hard time decoding the info behind IPFS link... It's the metadata file stored separately in IPFS alongside the uploaded file(s). You can access them directly from a public IPFS gateway, eg https://cloudflare-ipfs.com/ipfs/QmeipiJCBddE8eHQQHSHFdLPbMtNKxPCMFeeVjsM57q86o

The metadata link you re-used relates to the contract as a whole, not for an objkt... If you minting

[2021-04-17 10:48] dernadler opened #522 "Cant see my collection anymore"
Hello!

I recognized that my collection is not loading anymore. I dont see any of my bought pictures. I already got more that 1000 artworks in my collection, maybe thats the problem!?

My Hic et Nunc profile:

https://www.hicetnunc.xyz/tz/tz1Pu8zRmNghAHzWxsT9Cy2qXHxkCrHcB3vc

Thanks for helping me in advance

Richard

[2021-04-17 11:42] skenaja opened #523 "FAQ: Update troubleshooting"
**Summary of change to FAQs you wish to make:**

* Add new FAQs
* Edit `Features not yet implemented`

**If it's a new page, which navigation heading does it come under**
* For example: Minting guide, FAQs, Misc

N/A

**Text change**
* Add here the new text (and old text it's replacing if applicable)

1) `Features not yet implemented` - remove "Changing % of royalties when your NFT is resold" - th

[2021-04-17 11:57] skenaja commented on #522
Looks like it's a problem due to the size of collection. An upstream API provider is returning http 429 error "Too Many Requests". Raised issue in hicetnununc-api repo.

[2021-04-17 12:01] dernadler commented on #522
Thank  you very much for the fast answer! How could that problem be fixed?

Kind Regards

Richard

[2021-04-17 13:17] #20 closed, assigned to crzypatchwork

[2021-04-17 21:08] mathMakesArt commented on #520
Thank you very much @skenaja.

In the meantime, I was able to find the 36128 token within my wallet. Do you think it would be worthwhile for me to burn it (manually send to the burn address from my wallet)? Or would that not help?

I've actually never burned anything before, so I'm unsure if burning all editions of one of my mints would remove it from the "Creations" tab.

**Update:** I heard from

[2021-04-17 21:32] esnho commented on #276
Hello!

Same here, I'm sure that I own this objkt: https://www.hicetnunc.xyz/objkt/36655

But it doesn't show on my collection: https://www.hicetnunc.xyz/tz/tz1Xye21UorssHqTHEyMQso5EG95sssea9vN

I see that the objkt is now owned by: **KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9**
https://api.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=36655

I noticed

[2021-04-17 21:32] mathMakesArt commented on #520
Okay yes, burning was successful! I can now load my page again, as usual.

So if Veqtor is opposed to the idea of removing purchased copymints from people's collections/creations, then I don't think the banned objkt filtering needs to be implemented. I guess it's all a matter of preference.

[2021-04-17 22:18] esnho commented on #276
I further dug this, if I understand well this POST request

https://51rknuvw76.execute-api.us-east-1.amazonaws.com/dev/tz

Does not return swapped objects on the secondary market.

[2021-04-17 22:25] 0x666c6f commented on #471
Hello @jamesyu , depending on the wallet you're using, you can over-estimate the storage fees of your transaction using your Wallet. It should prevent this error from happening.
I know it is possible with Temple wallet, but not sure about the others.

[2021-04-17 22:33] jamesyu commented on #471
@florianpautot Yep that did work for me! Worth adding this to the FAQ.

[2021-04-18 05:22] mescalina commented on #520
Maybe introducing a separate list for broken objkts could be a solution. A list of blocked that still shows copymints in the collections, and a list of broken objects that always get filtered out, even in collections.
By the way  copymints showing up in collection still need to be properly addressed.

[2021-04-18 05:25] mescalina opened #526 "Mint preview button disabled on iphone"
Hi,
 I was trying to mint on my iphone X using both Chrome and Safari but the preview button is never active even if I properly fill all fields and load the image I want to mint.

I've had problems with interactive objkts and mobile and I was looking for a way to preview them directly on mobile instead of having to mint them on desktop and check them later on mobile but at the moment it doesn't se

[2021-04-18 07:14] matangkuwago commented on #519
This seems to be fixed now, thank you to whoever did the fix! Closing the issue now.

[2021-04-18 07:14] #519 closed, assigned to nobody

[2021-04-18 09:15] fraguada opened #527 "FAQ: Add digital frame maker to Tools page"
**Summary of change to FAQs you wish to make:**
* Add Digital Frame Maker by shahruz to the tools page
* Suggestion to add it under "Collector Tools"
* other suggestion: change "Collector Tools" to "Galleries" since both of the entries there are related to galleries

Relevant links:
* https://github.com/gimmix-org/primitive-objkts
* https://primitive-objkts.gimmix.org/

**Markdown**

[code]

[2021-04-18 11:01] arielm commented on #471
It's not working for me: even after over-estimating the storage fee to the max, I still get the error from time to time :(

[2021-04-18 11:03] skenaja commented on #471
I've raised a ticket to get the FAQs updated #523

[2021-04-18 12:45] EMES77 commented on #59
I'm coming back to this with an idea. At least for HTML OBJKTs. If you could provide a POST Array of the collector IDs to the iFrame it would be possible to test the viewer ID agsinst that array and show different content inside the HTML.

[2021-04-18 13:18] enterblanknet commented on #460
perfect. thanks a ton.

Am Mo., 12. Apr. 2021 um 15:23 Uhr schrieb skenaja ***@***.***

[2021-04-18 13:31] violetforest commented on #527
@fraguada done!

[2021-04-18 15:41] skenaja opened #528 "OBJKT with MP4 video fails to load on details page"
**Describe the bug**
See screenshot in next comment

**To Reproduce**
1. Access https://www.hicetnunc.xyz/objkt/37612

**Expected behavior**
Video plays

**Screenshots**
See screenshot in next comment

**Desktop (please complete the following information):**
Works OK in desktop (eg Win10/Chrome)
Works with Firefox/Android

**Smartphone (please complete the following information):**
Problem with An

[2021-04-18 15:43] skenaja commented on #528
<img src="https://user-images.githubusercontent.com/510285/115151541-323e0b00-a065-11eb-9bd5-1304b61ed67f.jpg" width="50%">

[2021-04-18 15:44] skenaja commented on #528
![image](https://user-images.githubusercontent.com/510285/115151559-441fae00-a065-11eb-9693-496cc6faf78d.png)

[2021-04-18 17:32] monirosa opened #529 "Assets not refreshing after burn; “transaction likely to fail” warnings"
Hello!
Tried to burn an OBJKT last night, which shows as pending on-screen but sent to burn address in my wallet. My assets are not refreshing so I have double now. Also showing “transaction likely to fail” warnings when I test out buying my assets.

https://www.hicetnunc.xyz/tz/tz1WKhfUW7j5Hcmdy4xZSghHLkX2H5fEAW85

[2021-04-18 17:49] violetforest commented on #523
Hey thanks! @skenaja Where do you suggest I put the wallet errors?

[2021-04-18 17:56] #527 closed, assigned to violetforest

[2021-04-18 18:01] violetforest commented on #523
@skenaja I put it under "Troubleshooting" FAQs, let me know if it should be somewhere else :)

[2021-04-18 18:01] #523 closed, assigned to violetforest

[2021-04-18 18:24] tarwin commented on #59
Right now the OBKJT is given an `owner` and `creator` address as GET parameters. If we simply added the `objktId` (simple) then the OBJKT could look up info such as owners etc etc from external APIs.

The only downside to this is that in the future it could break if a) the API changes or b) the API goes dead.

[2021-04-18 18:26] tarwin commented on #59
Another idea. If you wanted actual unlockable content you could make an external service that you need to log in to using your wallet (I think this is possible)? It could be a paid service. Then you mint, along with info on how to get the premium, and upload content to this secondary service.

[2021-04-18 19:03] skenaja commented on #523
Perfect!

[2021-04-18 22:14] jovancosta-zz opened #531 "FAQ: [pt:Home edit content]"
**Edit pt:home page**
* Include the table of contents of pt: wiki, on the following page: https://github.com/hicetnunc2000/hicetnunc/wiki/PT:Home
* Please, edit just this first one and we will create the others, as soon as I open another issue to create them.

[Início](https://github.com/hicetnunc2000/hicetnunc/wiki/PT:Home)

**Guia**
[Introdução](https://github.com/hicetnunc2000/hicetnunc/wiki/PT

[2021-04-19 04:29] jovancosta-zz opened #533 "FAQ: [Content Created PT:Introduction]"
**Add and update the page PT:Introduction **
* new page https://github.com/hicetnunc2000/hicetnunc/wiki/PT:Introduction
* ps: I don't know to insert some elements, please try to keep just the same way of the English page.
* I need to learn how to create a blockquote just like we can see on the last two phrases of the original document in english

### Introdução
Bem-vindo ao guia de criação de hice

[2021-04-19 05:24] mescalina opened #534 "Objkt 38409 not working on the website and on the API"
No data coming out for objkt 38409

[2021-04-19 08:38] skenaja opened #535 "[develop] Collector tab - Cannot read property 'token_info' of undefined"
**Describe the bug**
Testing on `develop` branch as at 3d4e26bbb1bddb32a5191be4b833de0f81c5bf01

Access any item objkt-detail page, collectors tab:

[code]

Error is caused by 0afea0f9b9583900d6509d38c784d0c1f385eede from #512 having been overwritten in `develop` (maybe there's been a force push recently?)

That commit is required for dee109f6b049851ffbd4b139aa40896eafa46eff to work correctly.

I'

[2021-04-19 09:23] skenaja commented on #535
@andrevenancio - actually, it's not clear whether you do want the functionality reinstated as the comments on #512 aren't very clear what you and @crzypatchwork decided to do after the merge...  This bug is a result of a rebase & partial dropping of some of the commits in 512 & a force-push.

`src/pages/objkt-display/tabs/collectors.js` is still expecting to see context-saved objkt info from 0afea

[2021-04-19 10:53] skenaja commented on #534
The API responds with `Object is restricted and/or from a copyminter` text. Probably it should be returned in an error object rather than plaintext.

Also looks like the front-end doesn't handle this yet.

[2021-04-19 10:55] skenaja commented on #529
Which OBJKT did you try to burn?

[2021-04-19 10:57] skenaja commented on #511
Closing. If there's any further updates, feel free to comment here & I'll re-open the issue.

[2021-04-19 10:57] #511 closed, assigned to nobody

[2021-04-19 10:59] skenaja commented on #485
This was caused by delays in upstream API provider to update the list of holders. Closing, as they have mostly been resolved, and the swap button is now permanently available, even when the list of holders is out-of-date.

[2021-04-19 10:59] #485 closed, assigned to nobody

[2021-04-19 11:11] andrevenancio commented on #535
Hey @skenaja ! Thanks for this. so right now what's on `main` and what's on `develop` is quite different, and I recently had to push code to `main` only for a feature we want to release today, but the code on develop has new stuff that needs further testing.

About #512 I think what crzypatch work didn't like on your PR was the extra html element showing the range. which I agree add's too much "no

[2021-04-19 11:36] skenaja commented on #535
Thanks - makes sense! To help when you look at the PR again:

The reason I was setting & getting `token_info` from state was to highlight the creators and current wallet ids on collectors tab (the first 2 screenshots in #512). Here's where things currently stand:

Here are the commits from the PR that are still in `develop`
- Allow addition of current OBJKT to context state e241367
- Make burn inf

[2021-04-19 11:45] EMES77 commented on #59
I think with a sandboxed iframe it wouldn't be possible to access an external API.

[2021-04-19 12:48] andrevenancio commented on #534
PR's are welcome. I'm a bit swamped today. checks for copyminters are being done on the API too I believe. before the API would return an empty array. there's a code already in place to show a error message when the array comes empty instead of an object (for valid objkt) but I guess the API got merged before.

[2021-04-19 15:59] tarwin commented on #59
If you look at the code on site there are specific domains that ARE accessible including those for Tezos API.

[2021-04-19 16:28] monirosa commented on #529
Thank you for your response - I tried to burn OBJKT 37352 a bunch of times and the burn transactions look like they recorded in Temple Wallet but the OBJKT is still visible in my collection/available for purchase.

Sent from my iPhone

[2021-04-19 19:49] schwittlick commented on #466
same with this .glb file: https://www.dropbox.com/s/4yk892iagy8bl9e/Untitled_Scan_21_24_30.glb?dl=0

![image](https://user-images.githubusercontent.com/1453951/115294533-ff753f00-a158-11eb-95bd-92b1d6fdba42.png)

[2021-04-19 21:08] andrevenancio commented on #513
I see a point on adding a flag to identify the user as an owner or not. But I don't see an advantage on having a separate page for the objkt where the only thing that needs to change is the props we inject. I think "creator", "viewer", "isOwner" and "objktid" are enough for anything you might want to do. I'm thinking about it for an NFT myself, so this is in the works🎉

[2021-04-19 21:18] andrevenancio commented on #59
I'm not in favour of injecting an array of people who bought that NFT.

What I think we can do is:
Inject creator, viewer and "isOwner" and "objktid" it's up to you to check whatever u need to against one of the API's in the allow list.

I'm thinking of doing something similar soon. So I'll push for this feature but I don't want to inject more the the basic into the iframe. As for the rest of the

[2021-04-20 02:40] mescalina commented on #534
Thanks guys. I think a proper error handling implementation is necessary in order to allow people to not mess up with data, there is a lot of inconsistency now in errors. Now I get this from the api response data:
[code]

[2021-04-20 06:15] idflood commented on #513
Wow great news 🔥 Sure the detail page by objektid/owner is not necessary for a first version so this would already make me really happy : )

Adding the detail page would allow a collector to send a link to someone to show his version of the objekt : ) Also having the `owner` param would give viewers the ability to see the different result artworks for all current owners.

[2021-04-20 08:19] Pamicel opened #543 "Sync/associate multiple addresses to main address"
Hi,

Initially I wanted to make a POC of this but since the slope is pretty steep I thought I'd start by opening a discussion

Is there a way one could associate multiple addresses to their primary address on h=n with an on-chain transaction/contract, where (importantly) the contract would ask for approval from all addresses

I am asking because I store my tokens in 4 different adresses (which are

[2021-04-20 08:31] christophebruno opened #544 "My hicetnunc collection doesn't show anymore"
My hicetnunc page is down since yesterday. The nfts do not load anymore.
https://www.hicetnunc.xyz/tz/tz1PajQPa3aN8u4rRRQYbQCXFDidZkBKwje5
(The day before I burnt 2 nfts on 3, maybe the problem is related?)

[2021-04-20 08:33] christophebruno commented on #544
ok, now it's back (???). But one of the nft I burnt is still online.
https://www.hicetnunc.xyz/objkt/29395
Can you check that please?

[2021-04-20 08:58] EMES77 commented on #59
That would be amazing! Even better than having to do it inside the iFrame! Thanks Andre

[2021-04-20 11:01] skenaja commented on #59
Just noting here that the lockable content is still accessible to all by spoofing the iframe parameters (and might also be easily discernible from the objkt's source code), so the data would only obfuscated by the options mentioned above.

[2021-04-20 12:11] ghost commented on #117
Hi, Hope you're keeping well. I just minted my first artwork :). I don't have the option to "curate" even if the wallet is connected.

Thanks for your help.

https://www.hicetnunc.xyz/tz/tz1WzpRbYJx4ma3PgAuhdsL6Yb8gmUEVANRK

[2021-04-20 12:14] ghost commented on #360
Hi, Hope you're keeping well. I just minted my first artwork :). I don't have the option to "curate" even if the wallet is connected.

Thanks for your help.  @Quasimondo / @andrevenancio

https://www.hicetnunc.xyz/tz/tz1WzpRbYJx4ma3PgAuhdsL6Yb8gmUEVANRK

[2021-04-20 12:30] skenaja commented on #544
Hi @christophebruno

There were issues affecting HEN's data providers yesterday which affected the display of collection and creation pages. These are now resolved, and I can see your profile OK.

Regarding 29395, it's still swapped (on sale). You need to cancel the swap on the objkt's `swap` tab in order to burn it. The burn page will make this clearer in future.

Please add further comments if y

[2021-04-20 12:30] #544 closed, assigned to nobody

[2021-04-20 12:30] #535 closed, assigned to andrevenancio

[2021-04-20 12:32] skenaja commented on #529
Regarding 37352, it's still swapped (on sale). You need to cancel the swap on the objkt's swap tab in order to burn it. The burn page will make this clearer in future.

Please add further comments if you still have problems, and I'll re-open the ticket.

[2021-04-20 12:32] #529 closed, assigned to nobody

[2021-04-20 15:04] skenaja commented on #360
@saint-meta - Please raise new issues in a separate bug report. The info you need is here: https://github.com/hicetnunc2000/hicetnunc/wiki/How-to-swap-%F0%9F%94%83

[2021-04-20 15:08] skenaja commented on #360
@Quasimondo The objects in creations tabs should now be sorted in descending order after a recent API fix, albeit using masonry layout, so a mix of OBJKTS in different aspect ratios will affect the look and feel. I'll close the ticket as hopefully this helps answer the original question, however feel free to comment here with any follow-ups and I'll re-open if required.

[2021-04-20 15:08] #360 closed, assigned to nobody

[2021-04-20 15:09] skenaja commented on #117
Answered in separate issue

[2021-04-20 15:37] Quasimondo commented on #360
Thank you - the ordering is now much better!

[2021-04-20 16:18] idlebit1 commented on #513
"With the "owner" you could browse different results the existing owners have, and if you collect it you get something different." This is a great idea. For what it's worth, BeyondNFT has implemented this idea, and it really is fun to view other owner's pieces and compare them to your own. It is perfect for generative pieces, where the "owner" is the generative seed. Here's an example: https://bey

[2021-04-20 20:23] skenaja opened #546 "BCD API reporting incorrect holder information offset by 1 objkt id"
**Describe the bug**
Two objkts minted at the same time. The upstream holder information provided by BCD has mixed the holder info.

This call seems to think the holder of 40061 is tz1X9d, when tz1X9d is actually the minter of 40062.

https://api.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=40061

only 10 tokens were minted for 40061, and 15 for

[2021-04-20 20:30] skenaja commented on #546
Raised issue with BCD team via Telegram. Issue is likely a display issue only, and will resolve when upstream data is fixed.

[2021-04-21 05:05] psychedelicnature opened #547 "I cannot mint new OBJKTs, the wallet confirmation window does not appear!"
**BUG**
After I click to mint an OBJKT at the "preview" screen, *the "preparing OBJKT" screen runs forever* (screenshot), the Temple tezos *wallet confirmation window does not appear* in order I can confirm the minting transaction! BUT, when I buy a new OBJKT from someone else to my wallet, the Temple wallet confirmation window shows up normally and I am able to buy OBJKTs. Why can't I mint new OB

[2021-04-21 06:42] edwinRNDR opened #549 "Base64 encoded embedded fonts are stripped from index.html"
**Describe the bug**
When I upload a zip containing an index.html that has fonts embedded as base64 encoded strings they appear to be removed before publishing the OBJKT.

I have to add, this is new behaviour that I have only encountered since the 20th of april.

The relevant part of the html looks like this:
[code]

**To Reproduce**
Steps to reproduce the behavior:
zip work, mint objkt, preview a

[2021-04-21 08:43] andrevenancio commented on #549
@pichiste and @veqtor any idea why this might be happening? Is it intentionally being removed?

[2021-04-21 09:06] pichiste commented on #549
The Content Security Policy doesn't allow sources from `data:` in `font-src` at the moment. Pretty sure this is safe to enable but need to look into it.

@edwinRNDR for the time being can you load the font from a file instead?

[2021-04-21 10:12] edwinRNDR commented on #549
Yes this is possible, and this is how I do it now.

There is just a minor complication with font loading and using fonts in canvas 2d. The advantage of using a data-url is that the font is loaded immediately (at least in my test cases) whereas loading fonts from other locations are async and may be a bit longer to load. I use canvas 2d to prepare some images with text, which I'd like to be prepare

[2021-04-21 10:50] DonKarlssonSan opened #550 "FAQ: Refrase hDAO info"
I've refrased the hDAO info in the wiki by making a fork and doing the change there:
Forked repo: https://github.com/DonKarlssonSan/hicetnunc-wiki
Specifik change: https://github.com/DonKarlssonSan/hicetnunc-wiki/commit/944ad08d2a32b298065570a720361f51850564c7#diff-4995a260b30c057f47725c40390309d91e816c92a09dbbe66dfd77e735a4007e

[2021-04-21 11:13] pichiste commented on #549
That's a fair point / use case. Let me look into adding that rule.

[2021-04-21 11:18] pichiste commented on #549
@edwinRNDR re: loading from file, have you tried this?

[code]

https://developer.mozilla.org/en-US/docs/Web/API/Document/fonts

[2021-04-21 11:36] edwinRNDR commented on #549
I haven't, doesn't look as complicated as I thought it would :) Thanks!

[2021-04-21 12:44] EMES77 commented on #59
Most of the content is downloadable from IPFS anyway. Searching the code brings certainly a different user experience then intended by the artist. For me that would be enough. Who's able to hack it shall have it ;-)

[2021-04-21 12:55] skenaja commented on #59
That's fair enough, but there is demand from some users looking for a stronger DRM/key escrow solution.

[2021-04-21 14:29] Solido opened #551 "Missing contextual info for comprehensive meaning : Title"
**Is your feature request related to a problem? Please describe.**
Title of the creation help understand the content.
Minted a creation and without title I feel a loss of meaning.

**Describe the solution you'd like**
OBJKT:ID should be display on the right
Title of the creation on the left, start of line

**Additional context**
Meta is as important as the visual when working on representation.

F

[2021-04-21 15:56] skenaja commented on #466
Some users have similar issues here: https://community.infura.io/t/err-empty-response/2484/8

Some workarounds are mentioned in that forum post

[2021-04-21 15:57] skenaja commented on #547
@onlyone4onlyone - can you check https://github.com/hicetnunc2000/hicetnunc/issues/466 to see if you've got the same issue?

[2021-04-21 16:05] schwittlick commented on #466
Thank you, I have solved it for myself at least. Simply find a faster internet connection and it worked.

[2021-04-21 16:30] dhowe opened #553 "Mint failed with timeout"
Object fails to mint after successful preview (.mp4, <15mb)

**Desktop (please complete the following information):**
- OS: OSX 10.15.7 (19H524)
- Browser: Firefox 88.0

Wallet: tz1LBrt4eYvv82VL1d5VsxX22wAE1pxjGcym
OBJKT Address: KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9  (?)
No OBJKT number

<img width="1500" alt="image" src="https://user-images.githubusercontent.com/737638/115588435-574eaa00-a301-11e

[2021-04-21 16:38] dhowe commented on #517
Same issue here: https://www.hicetnunc.xyz/objkt/41495

[2021-04-21 16:42] dhowe opened #554 "Error: minted video object (mp4) cannot be played, after successful preview"
Minted video object (mp4) cannot be played after successful preview:

ERROR: "No video with supported format and MIME type found"

OBJKT: 41495
URL: https://www.hicetnunc.xyz/objkt/41495
WALLET: tz1LBrt4eYvv82VL1d5VsxX22wAE1pxjGcym
OS: OSX 10.15.7 (19H524)
Browser: Firefox 88.0

<img width="1220" alt="image" src="https://user-images.githubusercontent.com/737638/115590209-4b63e780-a303-11eb-9ea2-19

[2021-04-21 17:21] matangkuwago opened #555 "Add color coding to objkt numbers to quickly see available objkts"
**Is your feature request related to a problem? Please describe.**
When you visit a creations page, it’s difficult to see which objkts are still available.

**Describe the solution you'd like**
Add a color coding system for sold out and available objkts. Sold out objkts can have objkt numbers styled with light gray font while available objkts can have objkt numbers styled with black font.

[2021-04-21 17:38] skenaja commented on #517
Both links play the videos on my laptop (Windows 10/Chrome)

Please can you
* log your environment details as per bug ticket template?
* right-click on browser window, Inspect > Console and let us know if there are any errors listed.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the f

[2021-04-21 18:06] edwinRNDR commented on #549
Does this affect SVG files too? The problem may be a bit bigger there if so.

[2021-04-21 18:18] pichiste commented on #549
No, the CSP is only applied to HTML OBJKTs, though I think SVGs should become restricted as well in the future. In general, I think the idea is to encourage people to use HTML rather than SVG for interactive/generative work.