[2021-04-21 19:03] PALANABALA opened #556 "SWAP ERROR"
I try swap 10/11 of mint and show the message "The transaction is invalid and the node did not accept it."  And the code:
[
  {
    "kind": "temporary",
    "id": "proto.008-PtEdo2Zk.storage_exhausted.operation"
  }
]

![image](https://user-images.githubusercontent.com/62569892/115606911-af15f280-a2ba-11eb-98c1-92fef084117e.png)

´
In addition, you charged me for a mint that was not accepted.

htt

[2021-04-21 19:12] violetforest commented on #531
@jovancosta done!

[2021-04-21 19:12] #531 closed, assigned to violetforest

[2021-04-21 19:13] fraguada opened #557 "FAQ: Add link services to community tools"
**Summary of change to FAQs you wish to make:**
* Add shortlink services to the community tools page.
* there are currently two that I know of: [hic.link](https://hic.link)  by 1x1 and [hen.link](https://hen.link/)  by playnft

**Markdown**

[code]

[2021-04-21 19:29] violetforest commented on #557
@fraguada done

[2021-04-21 19:35] violetforest commented on #550
@DonKarlssonSan done, thanks!

[2021-04-21 19:35] #550 closed, assigned to violetforest

[2021-04-21 20:15] fraguada commented on #557
Thanks @violetforest !

[2021-04-21 20:48] fraguada commented on #557
@violetforest I can't seem to get to the community tools page?

[2021-04-21 21:12] violetforest commented on #557
@fraguada ahh sorry. i just fixed it

[2021-04-21 21:12] #557 closed, assigned to violetforest

[2021-04-21 22:29] ghost opened #558 "Never Received Tezos after someone bought my token"
VOID VOID VOID
MISTAKE FIGURED OUT

[2021-04-21 22:31] #558 closed, assigned to nobody

[2021-04-22 01:13] joshuabarrigada opened #559 "swap error - ARTWORK NOT FOR SALE - i paid but did not get swapped - please refund or fix"
i am wasting money, i spent on swapping twice, and it charged me but resulted in an error,

i tried again, and minted again, and swapped again,

same exact error

<img width="341" alt="Screen Shot 2021-04-22 at 11 37 56 AM" src="https://user-images.githubusercontent.com/82986721/115641053-ade8d200-a35b-11eb-8c76-ed5cc09cba92.png">
<img width="819" alt="Screen Shot 2021-04-22 at 11 37 25 AM" src="h

[2021-04-22 02:21] oldominion commented on #426
Surely it needs to be visible, or at least be accessible somewhere else, e.g. another tab that only the swapper can see.. "manage swapped items" or something?
Right now I have multiple objkts on sale, but i've forgotten which they are now, and have literally no idea how to find them in order to cancel the swap..

[2021-04-22 04:19] dhowe commented on #517
working now for me, though definitely had an error previously (see below):

OSX 10.15.7 (19H524)
Firefox 10.15.7 (19H524)

![image](https://user-images.githubusercontent.com/737638/115655020-ee008280-a364-11eb-895d-218eef4a4a92.png)

[2021-04-22 04:30] dennisklicker commented on #490
OS: Windows 10

Desktop: Firefox Developer Edition 89.0b1 (64-bit) is giving me a PDF download dialog on a few different pages.

To Reproduce: Load the page

Expected: I don't think anything should happen since I haven't done anything other than open up the link to the page.

[2021-04-22 06:13] pichiste commented on #274
📝  **Updated 2020-04-23 with feedback from @tarwin and @veqtor**

Here is a rough spec proposal based on conversations here and on discord:

### Engine
Existing (but disabled) cover/thumbnail image generation util switches to using ffmpeg.wasm. The consequence is minting won't work on some browsers, but we can add messaging for this and guide people to use a supported browsers.

### Optimized Imag

[2021-04-22 11:31] dhowe opened #560 "Unable to click O button, transaction fails"
Unable to click O button, transaction first shows "likely to fail", then actually fails

- OS: OSX 10.15.7 (19H524)
- Browser: Firefox 88.0

![image](https://user-images.githubusercontent.com/737638/115707311-32aa0f00-a3a1-11eb-8677-d49a9d86b1f6.png)

![Screenshot 2021-04-22 at 7 32 47 PM](https://user-images.githubusercontent.com/737638/115707593-92a0b580-a3a1-11eb-87ce-94295761dd00.png)

[2021-04-22 12:16] skenaja commented on #560
Hi @dhowe - that action requires hDAO to upvote (currently 0.0001), and the account's hDAO balance is 0.

![image](https://user-images.githubusercontent.com/510285/115712519-c7464a00-a36c-11eb-9788-0757ec43d2b7.png)

It's probably worth adding validation to this action to check the current balance before allowing upvote.

[2021-04-22 12:17] mescalina commented on #559
Refunds are not a concept well suited with decentralization. It's an experimental open-source platform, you use it at your own risk..

[2021-04-22 15:26] enterblanknet commented on #460
Hello,

I got another question. I tried to change my name, add links etc with the
google form I found on tzkt.io.
But it won´t work.
This is my hicenunc account.
https://www.hicetnunc.xyz/tz/tz1aJUpLiwhajB2yMkUxjc3ET694BTt2xpdC

How can I finalise this and change my name`?

Thanks In advance :)

Am So., 18. Apr. 2021 um 15:18 Uhr schrieb enter blank <
***@***.***>:

--
Enter Blank | Lucas Altenber

[2021-04-22 15:45] skenaja commented on #460
It can take 72 hours for your details to be updated. The most common reason is not following their account via twitter. If this time has passed, please reach out to the Baking Bad team to find out what went wrong - they can be contacted via Telegram or Twitter - contact details here: https://github.com/hicetnunc2000/hicetnunc/wiki/Edit-your-profile

[2021-04-22 16:16] tarwin commented on #274
That's super awesome work @pichiste ! My only comment is that not all images / videos are square. Is the idea to crop? Or should this be a `max width` thing and take the height from that?

[2021-04-22 17:13] mescalina opened #568 "Swap & Burn buttons always visible on page"
As per title.
The buttons are always there no matter if you are the owner of the item. I can see other people have the same issue.

[2021-04-22 17:17] pichiste commented on #274
@tarwin Thanks for the feedback, I was thinking of the sizes as max dimensions, so if it's 320x320 the image would be scaled so the longest side is 320px. I do realize though that usually for web the standard is to base it on the width. I'm up for either approach, any preference?

[2021-04-22 18:06] dhowe commented on #560
Yes, I realized this after opening and should have closed the ticket (apologies). But now that's it open, it is a slightly confusing... Validation, as you suggest, would be useful, but perhaps even simpler would be something like mouse-over text that told you what the button does and requires (after reading that it was an 'upvote' my thought was that it worked like 'likes' on other platforms).

Re

[2021-04-22 18:11] claudiabraileanu commented on #559
I started today on HEN but I think I have the same issue... I was able to mint but it failed on swap with these error messages (from tzkt.io). What would be the solution for now? To burn and mint again? Could this have something to do with the uploaded file? I uploaded an mp4 file / 30 Mb. Maybe this is not the place to ask but is there a max file size for different file formats? Thank you

![erro

[2021-04-22 23:38] #556 closed, assigned to nobody

[2021-04-22 23:38] #560 closed, assigned to nobody

[2021-04-22 23:38] #559 closed, assigned to nobody

[2021-04-22 23:39] crzypatchwork commented on #559
just do the sum of your transactional history. when a transaction fails it fails completely.

[2021-04-22 23:40] #554 closed, assigned to nobody

[2021-04-22 23:40] crzypatchwork commented on #554
that's some codecs possibly missing in your browser

[2021-04-23 02:10] stumats opened #570 "Cancelling then swapping - old data appears to stick"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Mint object
2. swap object for price x
3. cancel swap
4. reswap for price: y
5. view raw data in temple wallet - can see "amount: 0"
6.  If swapped, price: x is the value shown as the new swap price

**Expected behavior**
value: y should be the new swap price

**Screenshot

[2021-04-23 02:10] stumats commented on #570
Raw data complete:
[code]

[2021-04-23 02:11] stumats commented on #570
Note, this was attempted multiple times, with same result, and after clearing cache. Currently am unable to reswap this item for a different price

[2021-04-23 03:07] dhowe commented on #554
As mentioned, the browser had _already_ played the file in preview. Similarly, it also started to play the file later. It was only just after minting that this error occurs.

[2021-04-23 07:25] dhowe commented on #265
yes, really need this feature. I have a test object that is burnt,  but stuck in my profile, seems impossible to get rid of.

Wallet: tz1LBrt4eYvv82VL1d5VsxX22wAE1pxjGcym
OS: OSX 10.15.7 (19H524)
Firefox 10.15.7 (19H524)

![image](https://user-images.githubusercontent.com/737638/115834623-03021200-a448-11eb-97d8-18c7eb32ad96.png)

[2021-04-23 08:27] skenaja commented on #265
@dhowe It's still on sale - you first need to cancel the swap, see the "Collectors" tab for cancel button

[2021-04-23 08:29] skenaja commented on #265
If an objkt is fully owned by the tz1burn address, it now no longer appears in the profile creations page.

Closing issue.

[2021-04-23 08:29] #265 closed, assigned to crzypatchwork

[2021-04-23 08:35] skenaja commented on #568
There was a fix put forward for this, but there have been intermittent delays by the upstream API provider of blockchain data in getting the list of owners to the site which caused those buttons to be very slow at appearing after a mint, which caused a lot of worry to creators minting.

A decision was made to show the buttons even if they don't especially apply to you. This will be reviewed when t

[2021-04-23 08:35] #568 closed, assigned to nobody

[2021-04-23 09:10] EMES77 commented on #528
I can second this!
Videos do not load on detail and creations/collection page

System:
macos 10.14
Firefox 88.0
Chrome 90

The most recent mp4 seem to be shown

[2021-04-23 09:55] mfused opened #572 "backtracked transaction"
hi,
this transaction seems to be problematic,

it says: status failed.
also, it took tezos from my account
and did not put it back (how is that backtracked?)

transaction hash:

oooUXxVqjBMxb9RBwZmUdmy8DGASCnCYDVqTqkktahp34ky1i8a
--
my account: https://tzkt.io/tz1WJvfnevqRN6RnDDmaDj9S4tuiK2bJjU6a
sent to yours,
on https://tzkt.io/KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9
(first Hic et Nunc account it s

[2021-04-23 11:12] dhowe commented on #265
So I have both cancelled the swap and transferred the object (manually) to the tz1burn address, but still it shows in my creations page. When I attempt to 'cancel' again, the transaction fails.

[2021-04-23 14:17] veqtor commented on #274
Why the 320, 640 and 1280, a lot of AI stuff is 256/512/1024, so we'll end up with some aliasing artifacts with these resolutions I think

Also, the different resolutions should be in the formats array, not in attributes, attributes are specifically for like game-items and such, whereas formats are meant to contain different versions of the same media.

https://tzip.tezosagora.org/proposal/tzip-21

[2021-04-23 14:26] mihnor commented on #129
Hello there, I just found a bug yesterday that made me spent 12h straight trying to upload a .glb or .gltf.

When you use Apple Silicon M1, and uses browsers like Safari and Chrome you get an error message when you try to mint that says “FILE FORMAT INVALID!”

<img width="1440" alt="Screenshot - 2021-04-22 15 00 08" src="https://user-images.githubusercontent.com/7723717/115884692-90803a80-a425-11e

[2021-04-23 15:16] ELI7VH commented on #513
Please I would love to have this feature available in the query params for interactive NFTs

I think it would be a nice hat tip to collectors to give them something unique for their collection

I have been wanting to do something like this, but I can't afford / am not on sites like beyond NFT and artblocks.

It seems like a straightforward implementation to add `OWNER=XXX` to the query params..

[2021-04-23 15:34] pichiste commented on #274
@veqtor thanks for the feedback. Yes you're totally right about `formats` field! I must have misinterpreted the spec, thanks for catching that. Have gone ahead and updated the draft above using `formats`, as well as the AI/GPU-friendly sizes, as the previous ones were pretty arbitrary.

[2021-04-23 15:37] skenaja commented on #513
It would be worth checking what the max querystring length is supported by the IPFS gateway provider. Lots of owners might cause issues. 500 owners (as recommended in current objkt4objkt promo) x 36 bytes = 18000.

It definitely borks at 20k:

[code]

[2021-04-23 18:25] ELI7VH commented on #513
@skenaja What I mean is,

"The person who currently holds the NFT you are looking at" would be what the query param would provide.

[2021-04-23 19:13] NikiLeSunshine opened #574 ""kind" "Temporary""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-04-23 19:15] NikiLeSunshine commented on #574
"kind" "temporary"
"id" : "proto.008-
PtEdo27k.storage_exhausted.operation"

Thank you for any help or advice!

[2021-04-23 19:24] skenaja commented on #574
https://github.com/hicetnunc2000/hicetnunc/wiki/Troubleshooting#i-got-storage-quota-exceeded-for-the-operation-error---what-happened

Please see above link for details, you'll need to retry the operation.

[2021-04-23 19:24] #574 closed, assigned to nobody

[2021-04-23 21:17] pichiste commented on #502
@mcfiredrill Can you provide a sample zip where this error occurs?

[2021-04-23 23:37] andrevenancio commented on #513
@skenaja leave it with me.
I have a solution for this which I have for a new NFT I will launch. I just need to confirm a few things with crzypatchwork before.

[2021-04-24 00:27] nancybakercahill commented on #547
Hi- same boat. Have tried in vain to mint a short video after creating and funding a kukai wallet with tezos. unsynced, resynced, same problem. Is this an ongoing bug and/or anyoneknow the solution?

[2021-04-24 01:01] alexmcbr opened #576 "My OBJKTs aren't burning"
I'm trying to burn one of my OBJKTs but it just continues to say 'burning objkt' on the screen without anything more happening.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to OBJKT#43749
2. Click on the burn tab
3. Click on burn
4. The OBJKT won't burn

**Expected behavior**
I expected the objkt to burn. I don't know if this requires a sign-off from my wallet but it is not getting to

[2021-04-24 01:37] tzatzikisauce opened #577 "Collect button does nothing"
When I press the collect button, it does not bring up a tab to make a transaction, nothing happens. I have no pending transactions. I'm unable to collect anything atm. I'm using temple wallet.

[2021-04-24 07:19] pichiste commented on #502
From testing this appears to be an issue specific to Big Sur. @mcfiredrill what OS/version are you on?

Getting this error in web console:

<img width="1439" alt="Screen Shot 2021-04-24 at 09 13 54" src="https://user-images.githubusercontent.com/111979/115950858-152e8f80-a4de-11eb-8870-70ad68de59d7.png">

[2021-04-24 07:23] pichiste commented on #502
This seems to affect Chrome and Safari, but works on latest Firefox, so please use that until this is resolved.

[2021-04-24 09:19] skenaja commented on #577
There were network issues relating to the 3rd party site (`https://mainnet.smartpy.io`) that connects the site to the wallet and the tezos network. These appear to have been resolved.

[2021-04-24 09:19] #577 closed, assigned to nobody

[2021-04-24 09:22] skenaja commented on #576
Nice photo!

You need to cancel the swap under "collections" tab before being able to burn.

Backtrack/pending transactions are unfortunately a side-effect of a busy blockchain network, and are not related to your profile. Waiting a few minutes, then retrying the transaction usually works.

[2021-04-24 09:22] #576 closed, assigned to nobody

[2021-04-24 09:23] skenaja commented on #572
Thanks for the detailed screenshots. Please see this wiki page which provides some more explanation.

https://github.com/hicetnunc2000/hicetnunc/wiki/Troubleshooting#i-got-storage-quota-exceeded-for-the-operation-error---what-happened

[2021-04-24 09:23] #572 closed, assigned to nobody

[2021-04-24 09:28] skenaja commented on #547
@nancybakercahill - There was also a separate network issue earlier today relating to the 3rd party site (https://mainnet.smartpy.io) that connects the site to the wallet and the tezos network. These appear to have been resolved, so please try again. If you're still experiencing problems, can you also check the dev tools console (see #466) to see if you're experiencing the same trouble?

Closing a

[2021-04-24 09:28] #547 closed, assigned to nobody

[2021-04-24 09:30] skenaja commented on #570
The price is currently showing as 1 tez - is this what you were expecting? There might have been a delay in the updated price propagating from the blockchain transactional data to the API provider used by HEN to display the holders on-screen

[2021-04-24 09:33] skenaja commented on #471
FAQ was updated, closing.

[2021-04-24 09:33] #471 closed, assigned to nobody

[2021-04-24 09:35] skenaja commented on #273
This now resolved, the Collect tab on the OBJKT display page now shows lowest available price

[2021-04-24 09:35] #273 closed, assigned to nobody

[2021-04-24 09:38] skenaja commented on #104
@optimus007 is this still an issue? I've not seen recent reports on Discord/Twitter.

Reply here & I'll re-open if you're still experiencing difficulties.

[2021-04-24 09:38] #104 closed, assigned to nobody

[2021-04-24 09:39] skenaja commented on #92
This is now resolved, closing.

[2021-04-24 09:39] #92 closed, assigned to atomantic

[2021-04-24 09:41] skenaja commented on #36
I think the wallets now allow this, as OBJKT 3111 has at least 1 collector. Let us know if it's still a problem.

[2021-04-24 09:41] #36 closed, assigned to crzypatchwork

[2021-04-24 09:57] skenaja commented on #265
@dhowe Looks like there was a delay in the upstream API provider that aggregates blockchain data and hence the list of holders was showing as out of date. The lovely photo of Diego is now correctly showing as wholly owned by Burn Wallet. (as confirmed by this [API call](https://better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=42591))

[2021-04-24 10:13] enterblanknet commented on #460
Thank you. I try contact them.

About burning again. It is not working agian. I want to burn those pieces
because I want to change price.  Swap won´t allow me to do anything.
https://www.hicetnunc.xyz/objkt/28333
and
https://www.hicetnunc.xyz/objkt/28330

My process on swapping is object amount 1 and then set the price. But as I
said. This wont work. So I decide to burn it.

thankyou:)

Am Do., 22

[2021-04-24 10:14] pichiste commented on #502
Actually, after upgrading browsers on Big Sur, it's working everywhere.

@mcfiredrill Can you provide more info? Can't reproduce the bug now otherwise.

[2021-04-24 10:31] moonolog opened #578 "Can't swap OBJKT - operations are Backtracked"
In two days I had 3 failed transactions as trying to swap my OBJKT on HEN.
XTZ are still taken and not refunded automatically over time.

My wallet address is:
tz1bJ3v7AnyYU5fnjTgjF2YXWegQYGodKZQa
There you can find 3 recent failed transactions in a row.

For your convenience, transaction hash:
ooB5ymX6Hg234dFixezAAUDphAjQySszLaPKTLzmy2eYF2VcPPH
onfS2HHpJSSBXbiv7KuW5fUgpsp8q6oEvc75UZHqaC1UK7SnJX7

[2021-04-24 15:35] tomburtonwood commented on #553
i am having a similar issue. very perplexing. i can't load the home page feed, i can't mint.

tried chrome and firefox.

<img width="1210" alt="Screen Shot 2021-04-24 at 10 32 35 AM" src="https://user-images.githubusercontent.com/8251313/115964175-cb977200-a4e8-11eb-81c5-703c91a2fbd8.png">

[2021-04-24 15:45] Skyefyre502 opened #580 ""FAILWITH INSTRUCTION WAS REACHED" Error"
**Describe the bug**

When clicking the Mint button, I get this error in my Kukai wallet to send xtz to complete the transaction:
Error: A FAILWITH instruction was reached > WrongCondition: (((params.amount > 0) & ((params.royalties >= 0) & (params.royalties <= 250))) & (sp.len(params.metadata) == 53)) & (params.amount <= 10000)
Preview

**To Reproduce**
Steps to reproduce the behavior:
After comp

[2021-04-24 16:30] skenaja commented on #580
The error was due to either the royalties or the number of items minted being incorrectly set. They need to be within the range of 0-25 for royalties and 1-10000 for editions.

[2021-04-24 16:30] #580 closed, assigned to nobody

[2021-04-24 16:42] skenaja commented on #578
Hi - please see https://github.com/hicetnunc2000/hicetnunc/wiki/Troubleshooting#i-got-storage-quota-exceeded-for-the-operation-error---what-happened

All operations have the risk of being backtracked, so it's best to try again after waiting a few minutes

[2021-04-24 16:42] #578 closed, assigned to nobody

[2021-04-24 16:43] #570 closed, assigned to nobody

[2021-04-24 18:25] Skyefyre502 opened #581 "I think I sold my tokens to myself..."
I have no idea what happened.

I minted 3 tokens. They said "Not For Sale." I went to KuKai Wallet and saw that I had 3 tokens to "send" somewhere... I figured it was a "swap to swap" deal, because it's not like there's any guide I can read that tells me how to get my item for sale.

So I sent them from KuKai wallet to wherever this is:
Transaction Hash
oowGzS8urHgW5mx7mWgMCWYA7X6HLnRfmDac1fHkC4td

[2021-04-24 18:35] mescalina commented on #581
lol, dude what you just did I guess is unseen.
Basically you sent your token to the Hic Et Nunc smart contract address which now results as the owner of all 3 the editions.
No idea if they can send it back to you, I don't think so. Anyway now you cannot do anything, you can't swap or burn them cause you are not the owner anymore.
You should re-mint them. because you have a blank new address and th

[2021-04-24 18:45] Skyefyre502 commented on #581
Oh man, seriously?! There's nothing I can do? Not even contact them and ask them to send it back?
I guess I'm just concerned with re-minting and them suing us for art that never was supposed to be theirs in the first place, you know?

[2021-04-24 20:47] psychedelicnature commented on #553
Object fails to mint after successful preview (.PNG, 15,2 mb)
I use Brave browser and I am having the same situation but the screen just keeps running as "preparing object", no error message appears or anything...
![bug](https://user-images.githubusercontent.com/82925229/115972480-e25bba00-a524-11eb-95a8-260e9c9f5050.JPG)

[2021-04-25 02:03] nancybakercahill opened #583 "attempt to burn has taken hours (and never resolved)"
Hi- I have been trying to burn an nft because I realized I wanted to edition it. Tried to burn and it has literally taken hours (still there btw). Any suggestions?

[2021-04-25 04:16] dhowe commented on #265
thanks much @skenaja
may diego rest in (blockchain) peace

[2021-04-25 06:30] adamstarlight commented on #433
A good idea overall, but I think that a decision to trust individual or not should be made automatically by some AI or something, and then get validated by semi-random group of users. The reason for this is... psychology) It might be hard to make conscious decisions one a regular basis, also consider how limited is the amount of information to decide. Another important problem is that "human-based

[2021-04-25 09:19] leonardschoelch opened #584 "Custom burn amount"
**Is your feature request related to a problem? Please describe.**
We used to have a field to specify the amount of objkts to burn and for example sometimes you want to keep a version for yourself, which now only works by sending to a different wallet for the burn.

**Describe the solution you'd like**
Would be nice to have the amount field back.

[2021-04-25 09:30] stumats commented on #570
Yeah - I restarted the machine and then could mint it. Prior to that, tried everything I could think of, but that zero tez was very sticky.   I don't think it was about delay - I actually successfully swapped it several times, but always for zero tez, despite putting 1 tez in the amount field.  Seems like caching at my level though, since it appeared to clear after a restart

[2021-04-25 14:25] mescalina commented on #581
Don't worry, nobody is gonna sue you..

[2021-04-25 15:03] moonolog commented on #578
Hi
By this point I already had 6 operations backtracked, last one failed despite increasing the amount of storage fees by 5%.
I was planning to mint a lot of my works on the platform, but now I can't be sure in success of that, since there is no certainty in operations going through - process feels like a gamble - and no refund procedure exists as far as I know. I want to use the platform, not wan

[2021-04-25 15:10] 360fun opened #585 "Add "Owners Data" to check if the viewer is also owner"
First of all "THANKS!" to have finally made an NFT marketplace to sell interactive digital art! 😻

**What I want to achieve**
I would like to be able to check if the viewer is also owner of the NFT, in order to create special features only for who own the NFT.

**Solution**
Taking inspiration from https://github.com/hicetnunc2000/hicetnunc/wiki/Interactive-OBJKTs#user-data I would add a variable w

[2021-04-25 15:44] 360fun opened #586 "Split earnings with one or more wallets (donation/collaboration)"
**What I want to achieve**
When I sell an NFT I would like to send automatically part of the earnings to another wallet as a donation and/or because of a collaboration.

**Describe the solution you'd like**
_Donation case:_
This would be very useful to make automatic donations, like to https://trees.org/crypto/ (if they will support also Tezos). In this way I can say that "each NFT plant trees" an

[2021-04-25 19:44] skenaja commented on #585
Hi! Thanks for the suggestion. This is being tracked in #513. Closing as a duplicate

[2021-04-25 19:44] #585 closed, assigned to nobody

[2021-04-25 22:19] Skyefyre502 commented on #581
LOL Cool. So just to reiterate:  I should fill out a whole new form, get a new address, move my wallet to that, and start over?
What would happen if I just uploaded a different version of the object on the same account?  The one I posted was kind of a test, but I do want to have the option of deleting it, and since I cant do that unless they send it back to me, it's kinda stuck there on that addre

[2021-04-26 04:29] dhowe opened #588 "Allow hiding of objects on 'creations' page"
You've created an object,  but you don't want to sell it or display it yet. Instead you can hide the object until you are ready.

Alternatively, objects which are not for sale would not show up.

See #593

[2021-04-26 15:48] mescalina opened #590 "Error for objkts 46323 & 46324"
The api responds with an error for both but there is no specific error code or text.
In the data section together with the html code there is this:
`TypeError: Cannot read property &#39;creators&#39; of undefined<br> &nbsp; &nbsp;at readObjkt (/var/task/lib/router/readObjkt.js:14:54)`

[2021-04-26 16:54] hl5hl5 commented on #553
me, too *gif  8MG

[2021-04-26 17:36] mescalina commented on #581
Consider the old one as burned, no one will have own it and you cannot see it anymore on the website. It's gone.
You can of course upload the same image to the account again, it will be a little confusing cause people will see it double but no harm is possible. You cant delete something you don't own anymore so it will stay there forever I guess.

PS. you should not use github for this kind of iss

[2021-04-26 20:19] #584 closed, assigned to nobody

[2021-04-26 20:20] leonardschoelch commented on #584
Was resolved https://twitter.com/andrevenancio/status/1386774016673857542

[2021-04-27 04:17] dhowe opened #592 "Burn page should show zero instead of "NaN editions""
In some cases, 'Burn' page shows "NaN editions" instead of zero. This can be fixed with a default value in burn.js [here](https://github.com/hicetnunc2000/hicetnunc/blob/90affefb5f65d15400ecd693c884c0a7606a5bae/src/pages/objkt-display/tabs/burn.js#L14)

![image](https://user-images.githubusercontent.com/737638/116184658-c76e8d00-a752-11eb-8f0f-70376852d1a2.png)

- OS: OSX 10.15.7 (19H524)
- Browse

[2021-04-27 04:31] dhowe opened #593 "Cannot remove test object from 'creations' page"
I'm not sure if this is a bug, but I cannot seem to remove a test object from my 'creations' page.

### Description
I created a test (interactive) objkt for my students to learn the process. As part of the demo we collected two of these objkts. Now I want to remove that objkt from my creations page, but it seems impossible. I have already cancelled the objkt so that it reads 'not for sale' (see be

[2021-04-27 10:24] skenaja commented on #592
Thanks for reporting!

[2021-04-27 10:27] pazient opened #596 "Cant see my objects on frontpage"
I keep uploading my assets and monitoring frontpage, but they seem not to appear there, so nobody able to collect them? also it was fine week ago for me. thanks

[2021-04-27 12:34] skenaja commented on #593
Those 2 copies are still owned by `tz1aQC5HSXSqqxEqyLcPchPbEsyZsqu5upXv` and `tz1cfgjfbX2w2VwPFpBZv38RUbUaEQpRZG5b`. Only owners can burn objkts.

These 2 users would be able burn the objkts via the burn page, or by directly sending their copies to `tz1burnburnburnburnburnburnburjAYjjX` via their wallets

[2021-04-27 12:34] #593 closed, assigned to nobody

[2021-04-27 12:45] skenaja commented on #596
Please see for details: https://github.com/hicetnunc2000/hicetnunc/wiki/General#why-is-my-ojkt-not-showing-up-on-the-feed

[2021-04-27 12:45] #596 closed, assigned to nobody

[2021-04-27 12:48] skenaja commented on #583
Hard to tell without seeing the OBJKT number. The most common reason is that the objkt is still on sale - swaps first need to be cancelled via the `collection` tab's cancel button
https://github.com/hicetnunc2000/hicetnunc/wiki/How-to-burn-%F0%9F%94%A5

Please report back with further info & I'll reopen the issue if it's still ongoing.

[2021-04-27 12:48] #583 closed, assigned to nobody

[2021-04-27 16:13] dhowe commented on #593
@skenaja I am not trying to burn the objects owned by someone else. I just want the object (which, as I said, was a test) off of _my_ creations page. The creator _should_  have control over what shows up on their own page (see #588).

[2021-04-27 17:36] skenaja commented on #593
That makes sense - we'll track via #588.

[2021-04-27 19:05] violetforest commented on #533
sorry i didnt see this :( i just updated! i have to make it look nicer

[2021-04-27 19:05] #533 closed, assigned to violetforest

[2021-04-27 21:16] jovancosta-zz commented on #533
Thank you I will launch others soon.

[2021-04-27 21:17] jovancosta-zz commented on #533
is it possible to see the right menu in portuguese as well ?
You have all right menu translated on the PT:home

On this way, anyone could easily navigate within PT content.

[2021-04-27 22:36] codewithfeeling commented on #522
@dernadler - so sorry to try and reach you this way but it's a matter of last resort, and I'll delete it if you can contact me. I am Stevie J Jones of 1x1_NFT - you collected a piece of ours earlier that had a flaw in it - 52272. Others who did so have kindly burned the flawed piece, and I just wanted to kindly request that you do the same. By the time you read this, you will have the fixed versio

[2021-04-27 23:05] CZakiewicz opened #601 "My creations page hasn't been loading for the past few days"
My creations page hasn't been loading for the past few days.
When I click on 'Manage Assets' my tokens are not loading.

Go to https://www.hicetnunc.xyz/tz/tz1SwZ6nfa8Tu4yR6JjmtZXn4e7T3YP8cWZj

I expected my creations to load as there were doing before

<img width="1097" alt="Screen Shot 2021-04-27 at 23 57 53" src="https://user-images.githubusercontent.com/83007623/116322679-6ecfdc00-a7b4-11eb-9e

[2021-04-28 00:43] local306 opened #602 "Support for Unity WebGL Builds"
Knowing that hic et nunc supports interactive OBJKTs, it would be neat to see Unity WebGL builds supported as a mime type.

[2021-04-28 06:41] dhowe opened #603 "Cannot access 'burn' page for object"
Expected: go to burn page
Actual: blank page with errors in console

Errors:

Object: https://www.hicetnunc.xyz/objkt/45908
Wallet: tz1LBrt4eYvv82VL1d5VsxX22wAE1pxjGcym

- OS: OSX 10.15.7 (19H524)
- Browser: Firefox 88.0 (same on current Chrome)

<img width="873" alt="image" src="https://user-images.githubusercontent.com/737638/116358111-dc6d1e00-a82f-11eb-935e-24b50efc0fe8.png">

[2021-04-28 09:55] manuvision opened #607 "Getting error when trying to mint a glb file."
https://user-images.githubusercontent.com/17086939/116384840-3b0daa00-a7e6-11eb-927d-358b38b34d83.mov

As you can see in this video, my file is a .glb and I'm getting a tooltip error preventing me from minting it because of the file format. (Also worth noting that the tooltip also indicates .gltf which is not supported)

Tooltip message:
File format invalid. supported formats include: bmp, gif, jp

[2021-04-28 10:05] skenaja commented on #603
I was able to reproduce this error by being unsynced from my wallet and accessing a burn page for an item. Was this the same for you?

Re-syncing my wallet made the page appear OK. I'll submit a fix for this.

[2021-04-28 10:58] andrevenancio commented on #607
Please have a look at this URL https://jsfiddle.net/andrevenancio/78eng15p/ and take note of the alert text and share it here

[2021-04-28 16:56] tarwin commented on #588
I'd suggest you burn the OBJKT until you are ready to sell?

[2021-04-28 16:58] tarwin commented on #602
Can you upload it as HTML (ZIP)?

[2021-04-28 17:26] skenaja commented on #601
Have you got 2 wallets?

https://www.hicetnunc.xyz/tz/tz1SwZ6nfa8Tu4yR6JjmtZXn4e7T3YP8cWZj
https://www.hicetnunc.xyz/tz/tz1g5CZHVEca7gvgPVE3XPcAjN1fsXStLy5y

The first one you mentioned doesn't have any creations, but the 2nd one does.

This can be confirmed here - there are no `mint` operations.
https://tzkt.io/tz1SwZ6nfa8Tu4yR6JjmtZXn4e7T3YP8cWZj/operations/

[2021-04-28 18:12] CZakiewicz commented on #601
I see!

Yes, I was having problems with my Kukai wallet not showing my Tokens so I tried another wallet.

Thanks for your help!

CLAIRE ZAKIEWICZ

+44 7920447101
+1 9293255796 (Whatsapp only)

IG: clairezakiewicz <https://www.instagram.com/clairezakiewicz/>
www.clairezakiewicz.com

[2021-04-28 18:12] local306 commented on #602
I did try with a small project following the requirements for interactive OBJKTS on the wiki. When I go to preview the upload, I get a large screen telling me that the mime type is currently unsupported unfortunately.

EDIT: Or am I dumb and you are asking for a build to test out? haha

[2021-04-28 18:13] #601 closed, assigned to nobody

[2021-04-28 19:07] skenaja opened #610 "Add support for additional audio file types"
**Is your feature request related to a problem? Please describe.**
support wav & flac files in [audiocomponent](https://github.com/hicetnunc2000/hicetnunc/blob/master/src/components/media-types/index.js#L107)

**Describe the solution you'd like**
Most audio files supported by major browsers. Just mp3 and ogg currently supported

[2021-04-28 20:54] skenaja commented on #528
Sometimes works, but at other times: `Failed to load resource: the server responded with a status of 503 ()`  from ipfs.io (service unavailable) in console
`

[2021-04-29 06:26] pichiste commented on #502
closing due to inactivity, please re-open if you can provide more info

[2021-04-29 06:26] #502 closed, assigned to pichiste

[2021-04-29 06:36] pichiste commented on #526
Hi @mescalina, are you filling in the `editions` and `royalties` values? The preview button will remain disabled until those required fields are filled.

It's working for me on iPhone here (though I do see a display bug with the field labels!):

![IMG_0729](https://user-images.githubusercontent.com/111979/116510822-d590ea80-a8c5-11eb-97a6-4e652e6fbbcf.PNG)

![IMG_0730](https://user-images.githubus

[2021-04-29 06:39] pichiste commented on #602
@local306 Can you provide us with a zip file to test with? Thanks

[2021-04-29 06:41] pichiste commented on #602
I should add that a Unity WebGL build support doesn't have to do with mime types. It's just a web directory like any other, that needs to be zipped and uploaded. What needs to be sorted is whether the current Content Security Policy will allow it to run properly.

[2021-04-29 10:29] skenaja commented on #391
There's more info on backtracked transactions here:
https://github.com/hicetnunc2000/hicetnunc/wiki/Troubleshooting#i-got-storage-quota-exceeded-for-the-operation-error---what-happened

It's mostly down to the wallet software not being able to correctly estimate the amount of storage needed.

[2021-04-29 10:29] #391 closed, assigned to nobody

[2021-04-29 10:30] #298 closed, assigned to nobody

[2021-04-29 10:32] #197 closed, assigned to nobody

[2021-04-29 10:34] skenaja commented on #32
I'm going to close this ticket as royalties can now be specified when minting (which was the original issue).

Feel free to raise feature requests for alternative approaches discussed here (eg royalties splitting), but check first to ensure they've not already been requested.

[2021-04-29 10:34] #32 closed, assigned to nobody

[2021-04-29 14:00] gabrieldroberts opened #613 "Never on the feed"
Hello, I've been heavily using and promoting Hicetnunc and for the most part have been enjoying it. However none of my last 10 items have been listed in the feed. I'm verified, and I'm curious if there is something wrong that I'm missing. can this be rememdied, or if it's purely algorythmic am i just THAT unlucky? The feed clearly helps sales, so it does hav direct effect and meaning for me.  I ju

[2021-04-29 14:35] skenaja commented on #613
Hi Gabriel, I recommend you take a look at https://github.com/hicetnunc2000/hicetnunc/wiki/General#why-is-my-ojkt-not-showing-up-on-the-feed - minting lots of items in a short space of time will hide them from the homepage feed unless you also hold a small amount of hDAO tokens. This is to help prevent copyminters and encourages investment in the platform.

Nice photos btw!

[2021-04-29 14:35] #613 closed, assigned to nobody

[2021-04-29 14:43] gabrieldroberts commented on #613
Thanks, I'll take a look. I had no idea about tokens.  And i'm talking about minting over the course of a week. just fyi.  Thank you!

[2021-04-29 15:06] veqtor commented on #613
We're also having issues looking up tzkt profiles in the API, hoping to alleviate this soon

[2021-04-29 17:03] jd-thorpe opened #616 "Can't cancel a swap"
**Describe the bug**
Unable to cancel swap.
I'm sync'd using temple wallet with this address. tz1MT8eCazHtutjK3An7s5WFexpa5pKceC3P
After clicking the cancel option is was applied in my wallet however only 1 instead of the 448 remaining objkts were applied to my wallet.

**To Reproduce**
Steps to reproduce the behavior:
I can't reproduce the error as the cancel option is no longer available.

**Exp

[2021-04-29 17:38] Ellados commented on #616
In the screenshot, it seems that the mysterious collector "...8LSKs" grabbed all your objkts and resold them for 0.01
In fact it's a bot and he did that with many free objkt from many poeple, which is not very nice...

[2021-04-29 17:42] jd-thorpe commented on #616
Ahhhh! this makes a lot of sense! Thank you for clearing that up for me!

Thanks
Josh

On Thu, Apr 29, 2021 at 6:39 PM Ellados ***@***.***> wrote:

[2021-04-29 19:05] gabrieldroberts commented on #613
Where on the site can I put in a tip for better visibility?

On Thu, Apr 29, 2021 at 11:06 AM Göran Sandström ***@***.***>
wrote:

--
Sent from Gabriel's iPad

[2021-04-29 19:54] local306 commented on #602
[Builds.zip](https://github.com/hicetnunc2000/hicetnunc/files/6401264/Builds.zip)
@pichiste I've attached my simple cube test project.

[2021-04-29 20:46] hetnxyz opened #617 "FAQ: Please add shortlink service to Tools Made By Community page"
**Summary of change to FAQs you wish to make:**
* For example: new page `foo.md`, edit to page `bar.md`.
* If want to reorder any existing page, note this here too.

Hi! Please could you kindly add a new shortlink service under the associated section on the page "Tools made by the community"? This service hetn.xyz launched recently with a proper website and already has several users. The service c

[2021-04-29 22:08] neverhood311 opened #618 "HEN shows 11 editions when I only minted 1"
**Describe the bug**
I minted 1 edition of an item, then swapped that 1 edition (https://www.hicetnunc.xyz/objkt/55211). When I go to the OBJKT page, it shows that there are 11: 1 owned by me (tz1NQZ4jDzTwojd58y4PTeETxbQXvUeQjuH1), and 10 owned by some other address, (tz1MBXZBxPT6orrMCNFifJr396zkZJJDkzEJ)
Here's the ID for the mint operation: https://tzkt.io/op9pejDuhaRPisL8P43tRV534sdiTJNXJ8uP6Yi

[2021-04-29 23:48] HomerChel opened #619 "FAQ: new discovery tool"
**Summary of change to FAQs I wish to make:**
* Add link to new discovery tool

[code]

[2021-04-30 01:00] 360fun opened #620 "Telegram icon/link missing in profile"
**Describe the bug**
I cannot see the Telegram icon/link in my H=N profile, together with other socials!

**To Reproduce**
Steps to reproduce the behaviour:
1. Add your profile informations following the guide (including Telegram link)
2. Check profile socials
3. Telegram is missing (maybe also others socials, I didn't put all of them)

H=N profile: https://www.hicetnunc.xyz/tz/tz1cYe4ueZsd6pErnpy

[2021-04-30 01:03] ucodia commented on #618
For some reason, the 10 extra editions appear to be attributed to another wallet `tz1MBXZBxPT6orrMCNFifJr396zkZJJDkzEJ`
Though it does not show on that account collection: https://www.hicetnunc.xyz/tz/tz1MBXZBxPT6orrMCNFifJr396zkZJJDkzEJ

I noticed that the [mint transaction of 1 edition from OP](https://tzkt.io/op9pejDuhaRPisL8P43tRV534sdiTJNXJ8uP6Yi815RnMnQPKy5) occurred at the same exact time w

[2021-04-30 04:55] emiliegervais opened #621 "Minted an edition of 888, but having NaN"
**Describe the bug**
I've minted an edition of 888 objects, but am having NaN.
https://www.hicetnunc.xyz/objkt/55883

**Screenshots**
![Screenshot from 2021-04-30 06-46-15](https://user-images.githubusercontent.com/4047984/116650140-e8b4c080-a980-11eb-9a8a-9572cad3726c.png)

**Additional context**
I'd like to burn this or hide it so I can mint this work again and have it function properly.
tz1Witw

[2021-04-30 05:38] veqtor commented on #613
The easiest way for you to be shown on the feed right now is to go to quipuswap, buy something like 0.071471 hdao, and then you're good. We hope to alleviate the tzkt problem soon

[2021-04-30 06:58] justttd opened #622 "Wrong Swap"
I was stripped of 15 coins when I wanted to put the work up for sale in order to make a SWAP!
I wanted to put up for sale 1 copy of the work, it was not put up and the transaction appeared for -15 coins
I had to do it again, and naturally no one returned the coins to me

OBJKT#31876

Before that I made a purchase, everything came to me and I wanted to put this work up for sale, for some reason the

[2021-04-30 07:36] mescalina commented on #618
This is a quite interesting situation, I'm following.

[2021-04-30 08:11] #616 closed, assigned to nobody

[2021-04-30 08:36] skenaja commented on #618
This looks like a re-occurrence of #546. I'll chase the Baking Bad team to see if they have an update.

[2021-04-30 09:05] skenaja commented on #618
Here are the 2 swap operations:
https://better-call.dev/mainnet/opg/ooR1YMNWDgrAzReJ6wsdXJHNLAPAYc89LLLA7XeLkvhQzSqEQhJ/contents
https://better-call.dev/mainnet/opg/ontZyzMwAWV7nawHWm9vC1kFX6BFcnXkYy5184peKCbwotngTvh/contents

BCD has indexed them both under 55211
https://api.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=55211

[2021-04-30 10:43] skenaja commented on #618
Vague, but promising response from BB team:

`There will be a major update (currently in staging) that will fix this issue and inferred token transfers in general.`

[2021-04-30 10:46] SashaPetrenko opened #626 "Can not burn my tokens"
Can not burn my tokens, can not change the price
I go to burn and it shows error when I burn

 - Windows 10
 - Chrome
 - 89.0.4389.128

WN -tz1NxSDPAfYFzJkZmeGVfzEM7r42k3q9mVRp
tokens - https://www.hicetnunc.xyz/objkt/55191
and
https://www.hicetnunc.xyz/objkt/55186

[2021-04-30 10:57] #621 closed, assigned to nobody

[2021-04-30 11:00] skenaja commented on #622
https://better-call.dev/mainnet/opg/oojXykshawSVECPzCNh1n1qM6kk8GCAs91W3pGqy8CG32wA7Rwo/contents
https://better-call.dev/mainnet/opg/oosdbqQFLkTxGb2w7qPGbEpoM2pxAqWcvU7TKdBsKiz8i6iunVa/contents

The above sites make it easier to see the objkt# for those transactions. They shows that the -15XTZ was used to buy OBJKT#31876 again after buying it for 10XTZ (so you bought 2 copies).

When you swap an i

[2021-04-30 11:00] #622 closed, assigned to nobody

[2021-04-30 11:02] skenaja commented on #626
Please cancel any swaps before burning.
https://github.com/hicetnunc2000/hicetnunc/wiki/How-to-cancel-%E2%9D%8C

[2021-04-30 11:02] #626 closed, assigned to nobody

[2021-04-30 11:08] justttd commented on #622
Thank you, sorry for wasting time(

пт, 30 апр. 2021 г. в 14:01, skenaja ***@***.***>:

[2021-04-30 13:15] psychedelicnature opened #627 "Mint failure - never completed after successful preview - wallet doesn't appear"
**Mint failure - never completed after successful preview - wallet doesn't appear**
Everytime I try to mint a new work, clicking to mint on the preview screen, the screen goes blank forever, the wallet window never appears to confirm minting!

**I expect the Temple wallet window to appear so I can confirm minting**
The wallet works normally for every other action such as buying new OBJKTs

**Scree

[2021-04-30 13:21] skenaja commented on #184
Most of the requests here have now been implemented.
- secondary market is active
- view prices on `collectors` tab
- lowest price out of all the swaps used for `collect for x tez` on objkt details
- prices sorted in ascending order on collectors tab

If you would like some new features that pertain to the secondary market, it's worth adding them as individual requests for tracking and discussion.

[2021-04-30 13:21] #184 closed, assigned to crzypatchwork

[2021-04-30 13:25] skenaja commented on #627
Please can you provide a screenshot from the Dev Tools console (right-click > inspect > console) to see if there are errors reported

[2021-04-30 13:29] skenaja commented on #581
Just to confirm that those objkts are permanently stuck on the HEN contract address, and can't be burned.

There's a full guide to mint, swap, buy etc here: https://github.com/hicetnunc2000/hicetnunc/wiki

[2021-04-30 13:29] #581 closed, assigned to nobody

[2021-04-30 13:31] andrevenancio commented on #102
I think we can close this now! For anyone looking at this in the future, there's a couple of GLSL templates available

[2021-04-30 13:31] #102 closed, assigned to andrevenancio

[2021-04-30 14:57] pichiste commented on #602
Hey @local306, thanks for the sample build.

So something strange: The preview also throws an error for me. However, if I unzip, and re-zip the file, it works! (I'm on macOS 10.15.7)

Can you try with this one?
[Builds 2.zip](https://github.com/hicetnunc2000/hicetnunc/files/6406222/Builds.2.zip)

Also, can you provide some more details about your setup? (OS, browser, etc)

Thanks!

![Screen Shot 2

[2021-04-30 15:38] local306 commented on #602
@pichiste very interesting indeed.

I tried out the build you posted and it works for me as well oddly enough. Noticing that your provided .zip is a few KB larger than the one I zipped. I've tried both WinRAR and native ZIP actions to no luck on my machine otherwise.

As for specs, I'm using Google Chrome 90.0.4430.92 x64 on a Windows 10 19042.928 x64 machine. Intel(R) Core(TM) i7-6700K CPU @ 4.00

[2021-04-30 17:54] AmateurTemple commented on #627
don' know really how this works, I have the same issue and don't want to file again.

Mint failure after succesfull preview and fees spend.
Swap failure after succesfull interaction with wallet/tezos, and fees spend.
I've done those x5 each with succesfull spending of fees and fail of action.

[2021-04-30 18:01] violetforest commented on #619
done, thanks! @HomerChel

[2021-04-30 18:09] #619 closed, assigned to violetforest

[2021-04-30 18:39] violetforest commented on #617
done, thanks!

[2021-04-30 18:39] #617 closed, assigned to violetforest

[2021-04-30 20:36] hetnxyz commented on #617
Thank you so much! :))

[2021-05-01 00:19] kylegrover opened #628 "FAQ: IFPS > IPFS"
On page https://github.com/hicetnunc2000/hicetnunc/wiki/Tools-made-by-the-community there are multiple mentions of IFPS - should be IPFS

[2021-05-01 03:19] local306 opened #629 "Allow Pointer Lock Permission Policy"
I have an interactive WebGL project where I am trying to lock the mouse cursor when the user clicks within the frame. It's a first person experience and without the cursor lock, it's incredibly tough to navigate with the mouse look because the input drops outside of the narrow container width from the browser.

In my Chrome console, I'm getting:

`Blocked pointer lock on an element because the ele

[2021-05-01 19:36] runebrinkhansen opened #630 "Allowed hosts for node.js"
**Is your feature request related to a problem? Please describe.**
Would like to run a node.js server for interactive collaborative art pieces

**Describe the solution you'd like**
Add https://x.glitch.me to allowed hosts

**Describe alternatives you've considered**
Add another nice platform that can host a node.js server

**Additional context**
I love you!

[2021-05-01 21:17] earthbound19 commented on #301
[I rewrote this so much I'm just re-posting it.]

Some of these proposals would eliminate reasonable exceptions. I'll detail an exception scenario below, but here's an idea: rude hoarders could be neutralized if giveaways were handled like auctions where an ask price of zero is possible (or even expected). Besides which, bids and auctions may be a feature that many users want.

In a giveaway aucti

[2021-05-01 22:22] violetforest commented on #628
@kylegrover thanks!

[2021-05-01 22:22] #628 closed, assigned to violetforest

[2021-05-02 00:35] jovancosta-zz opened #631 "FAQ: Content Creation PT:Edite seu Perfil"
**Add and update the page PT:Edite seu Perfil**

please edit the following page, with the content below:
https://github.com/hicetnunc2000/hicetnunc/wiki/PT:Edit-your-profile

# Edite Seu Perfil

## Como ser verificado
- ou como faço para colocar meu nome no perfil?

### Resposta curta:
Preencha este [formulário do Google](https://docs.google.com/forms/d/e/1FAIpQLSdlHVqzIxPFL-gAXNxEefyBtI3g3_wiCgcf

[2021-05-02 01:10] jovancosta-zz opened #632 "FAQ: Content Creation PT:Introdução ao Tezos"
Add and update the page PT:Introdução ao Tezos

please edit the following page, with the content below:
https://github.com/hicetnunc2000/hicetnunc/wiki/PT:Getting-Started-with-Tezos

==========

# Introdução ao Tezos
Primeiro você precisará do Tezos e de uma carteira do Tezos.

## O que é Tezos?
Tezos (XTZ) é uma criptomoeda à prova de apostas (LPoS). Você pode ler mais sobre isso [aqui](https://e

[2021-05-02 05:48] mescalina opened #633 "Wrong total editions amount"
I've noticed that an objkt I published with 500 editions for the O4O event is now showing 520 editions instead of 500.
This is the objkt:
https://www.hicetnunc.xyz/objkt/45200

[2021-05-02 15:43] skenaja opened #634 "Creations fail to load for account due to missing data via Conseil"
**Describe the bug**
https://www.hicetnunc.xyz/tz/tz1fhd4k1jSJRRcNVbkMwVzkKEhX3kzApsfk doesn't load

**To Reproduce**
Access above URL

**Expected behavior**
Creations/collection loads accordingly.

**Additional context**
API returns 500 error. The underlying issue is that conseil JS getObjkt query for 48439 incorrectly returns an empty response:
[code]

There is data matching this query returned

[2021-05-02 17:51] jaybyron opened #635 "Token appears to be stuck in HEN minter for several hours"
### **Describe the bug**
Hi not sure if this is the correct avenue to get for help, but I asked for support in discord and the only response I got was to make a github issue.

An artist sent me a token as a reward but I have not received it yet. I tried doing some digging, and it looks like the token is currently not in either of our wallets. I did some digging and was able to scrape this piece of

[2021-05-02 19:18] skenaja commented on #635
It looks like the artist managed to send it direct to the HEN contract via this transaction:
https://better-call.dev/mainnet/opg/oo8uCcB5qSGBrwMvMNTVFaTPRBBuKTKLmsrsky973P4eqRY4xAR/contents

@crzypatchwork do you know if contract manager `tz1UBZUkXpKGhYsP5KtzDNqLLchwF4uHrGjw` would be able to do this (eg via `update_operators` to either transfer it back or send it to the burn wallet?)

[2021-05-02 19:29] ries9112 commented on #522
Not sure if this is the same problem that I encountered, but for me it seems to be an issue related to my collection being more than 1,000 pieces. See this thread for context around the issue: https://twitter.com/fotokopid/status/1388595296016478211

So for me at least I have indeed been able to fix the problem by transferring my objkts to a different wallet, but this is more problematic than you

[2021-05-02 19:44] kylegrover commented on #159
Ran into this today, all we need is `<meta property="og:image" content="https://cloudflare-ipfs.com/ipfs/IPFS_HASH_HERE">` where the hash is their image or thumbnail. In particular, interactive/html OBJKTs already have an og:image internally that could just be fetched and set as the hicetnunc webpage's og:image. For example https://www.hicetnunc.xyz/objkt/39107 should be able to set its og:image t

[2021-05-02 19:46] kylegrover commented on #633
A (probably) related bug I noticed today- this OBJKT shows 265/217 editions available https://www.hicetnunc.xyz/objkt/43047

[2021-05-02 21:38] JoseMedina1977 opened #636 "Kukai Wallet has returned an error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-05-02 22:14] shekat777 opened #637 "Cannot hear audio in preview screen"
Hello!
About to mint an object, a Quicktime, .mov file with audio, but I cannot hear the audio in the preview screen. Is this normal? Will it be audible once it's minted? Thanks!

[2021-05-02 23:58] melMass commented on #602
You need to disable compression in the Unity Player settings, this is a  Unity known bug: https://forum.unity.com/threads/uncaught-referenceerror-unityframework-is-not-defined-at-htmlscriptelement-script-onload-webgl.803967/

I just tested now:

https://user-images.githubusercontent.com/7041726/116832106-bfc84180-abb3-11eb-87cc-d10d4e7bc976.mp4

[2021-05-03 03:29] local306 commented on #602
@melMass good to know. The nuances of the web, eh? haha

I had also manage to get builds working using 7Zip, and changing the _Path mode_ from the default `Relative pathnames` to `Full pathnames` when tinkering with it this evening.

Going to mark this as closed since it now seems like there are a few possible ways of getting Unity WebGL builds deployed on here.

Just for my knowledge though, what

[2021-05-03 03:29] #602 closed, assigned to nobody

[2021-05-03 06:33] OrderAndCh4oS opened #638 "FAQ: [summary of change]"
**Summary of change to FAQs you wish to make:**
* Add @tarwin https://github.com/tarwin/hicetnunc-collection-generator to Gallery Tools. This generates thumbs and a gallery.
* Add Hic et Nunc API CDK https://github.com/OrderAndCh4oS/hicetnunc-api-cdk to Gallery Tools, this is a trimmed-down API for fetching wallet and objkt data from the blockchain with conseiljs, intended for use by Galleries. By

[2021-05-03 07:52] hulkiokantabak opened #639 "NaN Editons Owned - Burn Problem"
Hello,

I'm trying to burn Object 35323 and constantly the transaction is failing. Then I realized it shows NaN editions. I think this is a bug with hic et nunc. The way it stands I can not burn any of the editions for this and other similar objects.

I have looked at all the objects in the portfolio and all of them show NaN editions owned.

Best regards,
H

Wallet Address is: tz1U4y37SnmE9SYzHE8a

[2021-05-03 14:13] violetforest commented on #638
@OrderAndCh4oS thanks! done!

[2021-05-03 14:13] #638 closed, assigned to violetforest

[2021-05-03 14:21] violetforest commented on #632
finalizado! obrigada!

[2021-05-03 14:21] #632 closed, assigned to violetforest

[2021-05-03 14:21] violetforest commented on #631
finalizado! obrigada!

[2021-05-03 14:21] #631 closed, assigned to violetforest

[2021-05-03 16:06] andrevenancio commented on #639
You can't burn something you don't own... this person owns 50 copies. so those don't belong to you
https://www.hicetnunc.xyz/tz/tz1U4y37SnmE9SYzHE8aNPJDrJtcGtfD9MLN

[2021-05-03 16:06] #639 closed, assigned to nobody

[2021-05-03 16:22] hulkiokantabak commented on #639
That person is me and I am trying to burn the items in the my wallet.

[2021-05-03 16:25] hulkiokantabak opened #640 "You can't burn something you don't own... this person owns 50 copies. so those don't belong to you"
You can't burn something you don't own... this person owns 50 copies. so those don't belong to you
https://www.hicetnunc.xyz/tz/tz1U4y37SnmE9SYzHE8aNPJDrJtcGtfD9MLN

_Originally posted by @andrevenancio in https://github.com/hicetnunc2000/hicetnunc/issues/639#issuecomment-831364300_

...

I don't know how you came to the conclusion but that is my Temple wallet. The name on the hic et nunc accounti

[2021-05-03 16:33] andrevenancio commented on #640
**Please don't create new issues, but instead re-open the issue you created**

So object [35323](https://www.hicetnunc.xyz/objkt/35323) was created by that wallet you mention. I've made a mistake in my reply I shouldn't have copied this `KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9` this is the current owner of those 50 copies. And that address is the hic et nunc minter. Which means your object is current

[2021-05-03 16:33] #640 closed, assigned to nobody

[2021-05-03 16:35] hulkiokantabak commented on #640
Thank you.

[2021-05-03 18:49] nancybakercahill opened #641 "my profile hasn't published - submitted google form twice"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-05-04 02:28] notthedrphil opened #642 "objects listed to resell disappeared"
I tried to list two objects to resell but they have disappeared.

went to manage objects
collection
swap
object amount: 1
tezos: resell price
swap

![image](https://user-images.githubusercontent.com/83624338/116954696-88a27080-ac45-11eb-8df8-ad3ebbdf33c7.png)

**Desktop (please complete the following information):**
 - OS: windows
 - Browser chrome
 - Version [e.g. 22]

tz1hZnoyhEMV7vLJF8SouZZXq7B

[2021-05-04 04:29] mescalina commented on #641
This is not the right place for this request. The form is managed by Baking Bad, write on their telegram (They are usually very fast and kind in solving issues) or drop em an email.

[2021-05-04 04:51] nancybakercahill commented on #641
Hey- I tried but the bot is rejecting my tz address. Do you have the email
address? Frustrating. Thx- NBC

On Mon, May 3, 2021 at 9:30 PM mescalina ***@***.***> wrote:

--

*Nancy Baker Cahill*
Artist, Founder and Artistic Director of the *4th Wall* AR public art app
she/her

*Selected recent press*:

ARTnews • Who Will Shape the Art World in 2021?
<https://www.artnews.com/art-news/news/shaping-ar

[2021-05-04 09:31] neelts opened #643 "Cross-Origin Request Blocked: api.better-call.dev"
**Describe the bug**
Requests to api.bettercall.dev getting blocked

For example:

**To Reproduce**
Steps to reproduce the behavior:
1. Open quasimondo's: https://www.hicetnunc.xyz/objkt/26262 NFT or this NFT from me: https://www.hicetnunc.xyz/objkt/37532
2. NFT is broken and 'Cross-Origin Request Blocked' error is in the browser console.

 - Any device
 - Any OS
 - Any browser
 - Current live ver

[2021-05-04 14:38] olizilla commented on #13
Consider using https://nft.storage

Is https://github.com/ipfs/js-ipfs/issues/2745 blocking you @crzypatchwork ? We're working on it!

[2021-05-04 16:17] skenaja opened #645 "Unable to purchase objkt 62034 due to wrong swap_id"
**Describe the bug**

Try to collect https://www.hicetnunc.xyz/objkt/62034 returns in this transaction is likely to fail

[code]

The HEN API has returned the wrong swap_id to the front-end.

It invokes the following ConseilJS call to cryptonomics, which returns the wrong key (105359)
[code]

The swap ID should be 105363. This can be confirmed from these API calls:

https://staging.api.tzkt.io/v1/

[2021-05-04 16:32] skenaja commented on #546
Was offered access to their test environment to see if an update had resolved the issue.

The re-indexing didn't fix the collision issue:
https://api.test.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=55211

Only 1 minted:
https://api.test.better-call.dev/v1/opg/op9pejDuhaRPisL8P43tRV534sdiTJNXJ8uP6Yi815RnMnQPKy5

[2021-05-04 17:22] skenaja commented on #645
I've validated that the BCD hash and swap ID data is the correct one.
[code]

[2021-05-04 17:30] #643 closed, assigned to nobody

[2021-05-05 05:01] mescalina commented on #641
hello@baking-bad.org
Next time please use the help channel in the Hic Et Nunc discord channel. Github is for the developers working on the website.

[2021-05-05 08:53] dhowe commented on #588
Burning does not help in cases where the object has been collected (ticket #593 describes such a scenario).

For example, you put a test object up for collection, maybe for 0 Tez, and someone collects it. Now it is locked onto your creations page for, as best I can tell, ETERNITY.

It is _very important,_ if you want artists to use this platform, that they can control how their work is represented

[2021-05-05 14:31] ktorn opened #646 "FAQ: Add link to hicetnunc.xyz"
The FAQ doesn't seem to link to https://www.hicetnunc.xyz/ anywhere, it just assumes the reader already knows the URL of the platform.

I suggest that the link to the actual platform is added to the following pages:

* Introduction
* How to mint 🌿

[2021-05-05 16:25] skenaja commented on #645
Another example:

https://staging.api.tzkt.io/v1/bigmaps/523/keys?value.objkt_id=8410&active=true
[code]
Cryptonomic incorrectly includes swap_id 8374 in bigmap 523.

[code]

[2021-05-05 18:25] skenaja commented on #645
Another example of wrong swap ID 111316 vs 111304
https://staging.api.tzkt.io/v1/bigmaps/523/keys?value.objkt_id=64641
[code]

[2021-05-05 18:45] violetforest commented on #646
thanks, done!

[2021-05-05 18:45] #646 closed, assigned to violetforest

[2021-05-05 19:07] skenaja commented on #546
New occurrence:
https://api.better-call.dev/v1/contract/mainnet/KT1RJ6PbjHpwc3M5rw5s2Nbmefwbuwbdxton/tokens/holders?token_id=64657

The token wasn't transferred to tz2MfkfwqfHyGb7GmikHPmUX39H4VaxXzVj7

https://better-call.dev/mainnet/opg/onrVSHvXrjnWkr5HxEuesDULpXa76xeZRcgx5rcET3noRmb1bks/contents

[2021-05-05 21:24] skenaja commented on #645
Another example: 111305 vs 111307

https://staging.api.tzkt.io/v1/bigmaps/523/keys?value.objkt_id=64647

[code]

[2021-05-06 02:54] trailbike commented on #642
same issue just wondering where it went the resell of a collection piece

[2021-05-06 04:28] bulkhead72 commented on #642
Same issue here as well. Can't seem to find an item that I had listed for sale anywhere. It's no longer in my Manage Assets section, nor in the "collections" section of the OBJKT.

[2021-05-06 06:09] enginarer commented on #159
This is what you're looking for:
https://ogp.me/

This is the Open Graph protocol that is grabbing some features like images, videos, title & description for the link previews. Hicetnunc already has this in the <head> area, but as kyle mentioned, it's static and directing only to the title: "hic et nunc", desc: "decentralized digital assets" and og:image: [hen logo].

This should be dynamic and di

[2021-05-06 07:36] kidartprojects commented on #642
I am having the same issue. Tried to list an item from collection for resell and now it has disappeared.

[2021-05-06 12:32] andrevenancio commented on #641
thanks for sorting this @mescalina closing.

[2021-05-06 12:32] #641 closed, assigned to nobody

[2021-05-06 14:12] erphanmalek opened #649 "Empty Creations"
Hello
I minted my work and it was successful but there is nothing in my gallery!
https://www.hicetnunc.xyz/tz/tz1Wyga6bguEroEMN6iG3tvQc635jkhFC76S

[2021-05-06 16:12] wraybowling opened #650 "html <title> that uses issuer's readable name"
**Is your feature request related to a problem? Please describe.**
html title on an artist's page is currently their tez wallet address not human readable name. Bookmarked pages in browser show as `hic et nunc - tzabcdefghijklmnopqrstuvwxyz0123456789`. Additionally, on some bookmarking platforms like getpocket.com, the "article title" is interpreted as the content before the hyphen so all saved pa

[2021-05-06 17:49] kidartprojects opened #651 "Onject disappeared from my collection when I tried to resell it"
**Describe the bug**
I attempted to SWAP an object I had just bought
**To Reproduce**
Steps to reproduce the behavior:
I am not very well versed in this. That didn't stop Hic Et Nunc from taking my money and letting me join. You should really document all these processes more. A lot of people have no idea what they are doing.

**Expected behavior**
I WANT THE NFT I PAID A LOT OF MONEY FOR TO BE IN

[2021-05-06 21:15] skenaja commented on #645
Latest update from earlier today:

[2021-05-07 02:11] #592 closed, assigned to nobody

[2021-05-07 02:11] #603 closed, assigned to nobody

[2021-05-07 02:11] andrevenancio commented on #603
merged to `main` awaiting deployment

[2021-05-07 02:11] andrevenancio commented on #592
merged to `main` awaiting deployment

[2021-05-07 02:28] andrevenancio commented on #651
Please read through the WIKI.
https://github.com/hicetnunc2000/hicetnunc/wiki

If there are still questions you can join Discord and ask any question there.

Going back to your question, it seems like you purchase a OBJKT and swap it. If you swap it, its no longer in your posession so it doesn't show on your `collection` because its in the market not on your collection. To show on your collection

[2021-05-07 02:28] #651 closed, assigned to nobody

[2021-05-07 02:33] andrevenancio commented on #650
done. awaiting deployment

[2021-05-07 02:33] #650 closed, assigned to nobody

[2021-05-07 02:34] andrevenancio commented on #649
Your operations were backtracked. You own no tokens:

https://tzkt.io/tz1Wyga6bguEroEMN6iG3tvQc635jkhFC76S/tokens

[2021-05-07 02:34] #649 closed, assigned to nobody

[2021-05-07 02:40] andrevenancio commented on #642
When you swap an OBJKT that you purchase, it goes from your collection to the market. Therefore it is removed from your collection because the token is sent to a hicetnunc smart contract.

If you cancel the swap it goes back to your collections.

If you can't remember which objkt number you had purchase, you can check the parameter `swaps` on this api request. simply add your wallet id https://51r

[2021-05-07 02:40] #642 closed, assigned to nobody

[2021-05-07 02:41] andrevenancio commented on #636
closing this issue. You shouldn't just add a "title" and not provide information. Nobody can reproduce the error with these instructions.

[2021-05-07 02:41] #636 closed, assigned to nobody

[2021-05-07 02:42] #637 closed, assigned to nobody

[2021-05-07 02:54] andrevenancio commented on #633
investigating

[2021-05-07 02:55] andrevenancio commented on #630
under consideration

[2021-05-07 02:57] andrevenancio commented on #629
What is the OBJKT number? Its under consideration. hidding the mouse cursor is not a very good practice unless you're on an immersive experience like fullscreen. otherwise people get lost. you can hide it via css. is this how you're currently doing it?

[2021-05-07 02:58] andrevenancio commented on #627
Please provide your wallet id so I can confirm what you're saying.

[2021-05-07 03:01] andrevenancio commented on #620
This is a great opportunity to do a PR @360fun :)

[2021-05-07 03:02] andrevenancio commented on #618
has this been fixed? because I can see that there was 11 editions minted
https://51rknuvw76.execute-api.us-east-1.amazonaws.com/dev/objkt?id=55211 on the total

[2021-05-07 03:02] #607 closed, assigned to nobody

[2021-05-07 03:04] andrevenancio commented on #555
closing as this is a design suggestion. there's a team working on a rebrand

[2021-05-07 03:04] #555 closed, assigned to nobody

[2021-05-07 03:05] andrevenancio commented on #553
API requests fail after 30s. Some times the IPFS network is just too slow. You just need to try it again.

[2021-05-07 03:05] #553 closed, assigned to nobody

[2021-05-07 03:05] #549 closed, assigned to pichiste

[2021-05-07 03:06] andrevenancio commented on #551
I'm not sure what you're trying to say...

[2021-05-07 03:08] andrevenancio commented on #543
Currently not in scope..

[2021-05-07 03:08] #543 closed, assigned to nobody

[2021-05-07 03:08] #495 closed, assigned to nobody

[2021-05-07 03:09] #520 closed, assigned to nobody

[2021-05-07 03:09] #7 closed, assigned to nobody

[2021-05-07 03:09] kidartprojects commented on #642
Nope didn't work. Thanks for being a condescending asshole though

On Thu, May 6, 2021, 9:40 PM André Venâncio ***@***.***>
wrote:

[2021-05-07 03:11] #25 closed, assigned to nobody

[2021-05-07 03:12] #31 closed, assigned to crzypatchwork

[2021-05-07 03:12] #255 closed, assigned to nobody

[2021-05-07 03:13] andrevenancio commented on #243
done

[2021-05-07 03:13] #243 closed, assigned to crzypatchwork

[2021-05-07 03:14] #490 closed, assigned to nobody

[2021-05-07 03:14] #35 closed, assigned to crzypatchwork

[2021-05-07 03:14] #38 closed, assigned to nobody

[2021-05-07 03:15] #42 closed, assigned to nobody

[2021-05-07 03:15] #65 closed, assigned to crzypatchwork

[2021-05-07 03:15] jovancosta-zz opened #652 "Content Creation PT:Como Cunhar"
Add and update the page PT:Como Cunhar

please edit the following page, with the content below:
https://github.com/hicetnunc2000/hicetnunc/wiki/PT:How-to-mint-🌿

# Como cunhar 🌿

### cunhar
Traduzimos o termo **mint** para **cunhar**, pois é a palavra que mais se assemelha ao que fazemos ao publicar uma obra NFT: Associamos essa obra a um NFT, e consequentemente esse NFT poderá ser associado a alg

[2021-05-07 03:16] andrevenancio commented on #652
Obrigado

[2021-05-07 03:17] #517 closed, assigned to nobody

[2021-05-07 03:18] #194 closed, assigned to nobody

[2021-05-07 03:18] #162 closed, assigned to nobody

[2021-05-07 03:18] #240 closed, assigned to nobody

[2021-05-07 03:20] bulkhead72 commented on #642
I don't think that Andre was being condescending at all...

[2021-05-07 03:33] jovancosta-zz opened #653 "Content Creation PT:Como Trocar"
Add and update the page PT:Como Trocar

please edit the following page, with the content below:
https://github.com/hicetnunc2000/hicetnunc/wiki/PT:How-to-swap 🔃

Traduzimos a palavra swap por trocar, no seu sentido literal. Ao fazer swap(troca) no Hic Et Nunc, um anúncio com preço será feito, possibilitando assim que algum interessado possa trocar seu NFT por uma certa quantia em criptomoedas.

#C

[2021-05-07 04:06] kidartprojects commented on #642
First off, who the hell are you? Second off he assumed I didn't read the
wiki. From your wiki:
cancel

1: *(verb)* to decide not to conduct or perform (something planned or
expected) usually without expectation of conducting or performing it at a
later time

2: *(verb)* to take your NFT off the market
------------------------------

Let’s say I want to raise my price, or set my OBJKTs as “not for

[2021-05-07 06:06] erphanmalek commented on #649
Why did this happen? The gas fee for minting was decreased from my wallet!

[2021-05-07 06:50] skenaja commented on #618
It's still an ongoing issue. From BB team yesterday "Fix is on its way, currently reindexing everything from scratch"

[2021-05-07 09:03] skenaja commented on #633
Likely to be #546

[2021-05-07 09:05] skenaja commented on #649
There's more explanation here: https://github.com/hicetnunc2000/hicetnunc/wiki/Troubleshooting#i-got-storage-quota-exceeded-for-the-operation-error---what-happened

Wallet software, eg Temple is responsible for estimating blockchain storage needed for an operation, and it can occasionally get this estimate wrong, especially during busy network times.

[2021-05-07 09:12] skenaja commented on #642
There is a [code of conduct](https://github.com/hicetnunc2000/hicetnunc/blob/main/CODE_OF_CONDUCT.md) that everyone must abide by if they wish to receive help here. Please refrain from using insulting language.

Were these the 2 swaps?

https://www.hicetnunc.xyz/objkt/12599
https://www.hicetnunc.xyz/objkt/61326

[2021-05-07 09:32] erphanmalek opened #654 ".."
..

[2021-05-07 13:52] javismiles opened #655 "How to deal with very large files and formats"
hi team,
some of my works are in very high resolution, like for example videos in 8K resolution, or artworks in 400 megapixel size, so when minting in for example opensea, I will typically upload the lower resolution version as the preview, will then put the original master high res artwork in dropbox and put a link to it in the unlockable content section that a buyer can unlock after buying, so t

[2021-05-07 14:35] skenaja opened #656 "Uncaught SyntaxError: Unexpected token '<' in main.a73a75c4.chunk.js:1"
**Describe the bug**
Loading the website on Chrome 90.0.4430.93 (Official Build) (64-bit) on Windows 10 64-bit and on Android results in a blank page for some users

Seems to work OK in incognito mode. Clearing cookies & localstorage has no effect.

Looks like a possible React deployment issue? Users with working versions are on a cached version possibly

**To Reproduce**
Access any page on hicetn

[2021-05-07 15:42] skenaja commented on #656
At some point, a file returned by s3 had a trailing `/` which returned html rather than js. This caused the page to stop loading.

[code]

[2021-05-07 15:43] skenaja commented on #656
Fix: clear browser cache. On mobile (android), use Apps > Chrome > manage data> clear cache

On desktop:
![image](https://user-images.githubusercontent.com/510285/117474847-45047b00-af53-11eb-8fbc-223fa826f9fa.png)

[2021-05-07 15:45] #656 closed, assigned to nobody

[2021-05-07 17:13] bulkhead72 commented on #642
Hi Skenaja, in my case this was the object:

https://www.hicetnunc.xyz/objkt/30342

I had listed it for Swap for 35 Tez over a week ago, but don’t see it in the “Collectors” section (there is one listed for 35 Tez, but by a different seller). Nor do I see it in my collection, so it seems to have disappeared. And I know that I have not sold the piece. The last five figures of my account number are

[2021-05-07 17:57] kidartprojects commented on #642
I don't need your help anymore. And don't assume people haven't read your
very weak wiki.

You guys have released the least intuitive worst customer facing platform
I've ever had the displeasure of using. Unfortunately I have no choice as I
am waiting on Kalamint and everyone is using Tezos.

Until you address the fact people are using hic et nunc that might not even
know what a wiki is, you are g

[2021-05-07 19:05] skenaja commented on #642
Hi @kidartprojects - looks like your objkt was sold (congratulations!) - here's the transaction hash: https://tzkt.io/onjXoYQR8Eh4usBrrJV347NMb7jQb21zY92B2PBaxCEgNZMM1Zg

Thanks for the feedback about site usability.

[2021-05-07 19:47] bulkhead72 commented on #642
Hi @skenaja when you get a chance, can you kindly look into my issue as well? Posted details a couple of posts above. Thank you!

[2021-05-07 20:25] kidartprojects commented on #642
Ok now my entire creations and collections will not load at all....

[2021-05-08 06:20] availablenft opened #657 "."

[2021-05-08 06:29] #657 closed, assigned to nobody

[2021-05-08 09:06] Coderpille commented on #513
i'm interrested in this feature too. would love to get some infos.
cheers

[2021-05-08 10:24] VartanMarkarian opened #658 "Сan't cancel the number of listings"
Good afternoon, I can not cancel listings, there is no cancel button in the collectors section.
![image](https://user-images.githubusercontent.com/81528775/117535655-6f137700-afff-11eb-82fa-d7dc3ab4bcff.png)

[2021-05-08 12:13] 360fun commented on #620
done: https://github.com/hicetnunc2000/hicetnunc/pull/659
I haven't tested it because I don't have time to setup the environment, but the data is there so it should work 😜

I can add also the email if you are ok with it.

[2021-05-08 14:43] keaukraine opened #660 "Interactive OBJKTs with subfolders cannot be previewed"
It is stated in docs that "Subfolders are ok."
However when I upload and preview interactive OBJKT with subfolders, I get 404 errors for resources in subfolders.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Upload zip with resources in subfolders.
2. Preview it.

**Expected behavior**
All resources are accessible.

[2021-05-08 15:07] skenaja commented on #645
All the above incorrect swap ID issues have been resolved & users have been updated.

[2021-05-08 18:48] anilrinat opened #661 "How can I sale my object ?"
Hello,
I have just minted a new object - a gif, and I see it's "not for sale"..
I watched a video explaining how to make it for sale, but I still cant see the option tab when doing the same.

Am I missing something?

Thank you
Best
Anil

[2021-05-08 21:13] fraguada commented on #661
https://github.com/hicetnunc2000/hicetnunc/wiki/How-to-swap-%F0%9F%94%83

[2021-05-08 21:29] vacuumn commented on #627
![1Capture](https://user-images.githubusercontent.com/1943043/117554003-c585b300-b009-11eb-8228-d7d89ba9e116.PNG)
Same here

Chrome, Win10

[2021-05-08 22:14] skenaja commented on #661
@anilrinat let us know if you're still having trouble, and I'll reopen the ticket.

[2021-05-08 22:14] #661 closed, assigned to nobody

[2021-05-08 22:19] kylegrover opened #662 "Objkts with tags with % symbol cannot load"
**Describe the bug**
OBJKT#29859 cannot load, the UI crashes and just shows a grey screen with console errors:
`URIError: Pathname "/tags/96%biomass" could not be decoded. This is likely caused by an invalid percent-encoding.`

It must be the percent in the tag "96%BIOMASS"

**To Reproduce**
Steps to reproduce the behavior:
1. https://www.hicetnunc.xyz/objkt/29855

**Expected behavior**
Page will

[2021-05-08 22:46] kylegrover commented on #662
I assume the fix is something like uri encoding tag links as in /tags/96%25biomass

[2021-05-09 06:02] dhowe opened #663 "Allow creators control over presentation on 'creations' page"
_Creations_ page interface should allow:
- [ ] Hiding of objects (see #588)
- [ ] Ordering of objects in list
- [ ] Pinning of objects at top of page

The options would of course be enabled for creator (after sync) only.

[2021-05-09 07:09] fraguada commented on #586
I'm adding some links related to this here:

- Repo of an example OBJKT that is multisig https://github.com/ztepler/hic-contract-proxy
- OBJKT resulting from previous link: https://www.hicetnunc.xyz/objkt/31447
- @crzypatchwork playing with a multisig contract: https://smartpy.io/ide?cid=QmSrP4xFp6JgHgomF1WxgESutRrPc65NVvvsZzogEhKBRQ&k=0b8c35dd02486c6ddd5f

[2021-05-09 17:12] m9u opened #664 "Mints dont go to the feed / site is stuck at your objkt was minted successfully"
- Since a couple of days none of my mints end up at the front page feed. Im not the only one who experiences this issue, as I saw on discord quite a few other people have it too.

Everyone i spoke to about this were verified users with sufficient hdao. Also this only started to happen a few days ago.

For me personally this happens with every mint. I saw that for someone else the objkt shortly app

[2021-05-09 17:14] m9u commented on #664
FYI the objkts it concerned for me:
66908, 67823, 68381, 69625, 69734, 69931, 70071, 71073

my profile is https://www.hicetnunc.xyz/tz/tz1RFuW2Ajovz4xNxXnWKE8Xtto3SpGb2NRg

https://tzkt.io/ooqYa8NTePe2zYWaXK2CnVbpBCpjxcyEzyuwgjibFKjWPt2VyVv
One of the failed operations

[2021-05-09 17:18] soyCarballeira opened #665 "Interactive Objkts not scrollable"
Objkts #70009 and #70034 are interactive, with more text than what fits in the viewing area. It doesn't show scrollbars and are not scrollable.

**To Reproduce**

1. Create an interactive OBJKT with a long text (to make it bigger than what fits in a screen)
2. Check Preview
3. Preview works fine and shows scrollbars
4. Mint it
5. Go to the OBJKT page
6. No scrollbars visible, also no scrolling via

[2021-05-09 18:02] originaltomato commented on #469
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/worker-src  is not supported in iOS and child-src seems like only full solution

[2021-05-09 18:33] 360fun commented on #586
Awesome! 🔥

[2021-05-09 18:34] skenaja commented on #664
The issue with minted items not appearing on the homepage is being tracked via the API repo
https://github.com/hicetnunc2000/hicetnunc-api/issues/70

[2021-05-09 18:35] skenaja commented on #664
@m9u would you mind raising the issue with the minting page getting stuck in a separate ticket? I believe that they're not linked, so we'd want to track them separately.

[2021-05-09 18:41] skenaja commented on #658
Hi @VartanMarkarian - unfortunately, it looks like the objkts have already been bought, perhaps via automated means which the smartcontract permits, and have been offered for resale on the secondary market. As they are owned by another user, you will not be able to cancel or burn the items. You will receive royalties for any resale.

Feel free to join in the discussion relating to this: https://co

[2021-05-09 18:42] #658 closed, assigned to nobody

[2021-05-09 18:47] jovancosta-zz opened #666 "Content Creation PT:Como Cancelar"
Add and update the page PT:Como Cancelar

please edit the following page, with the content below:
https://github.com/hicetnunc2000/hicetnunc/wiki/PT:How-to-cancel-%E2%9D%8C

cancelar
1: (verbo) decidir não conduzir ou executar (algo planejado ou esperado) geralmente sem a expectativa de conduzi-lo ou executá-lo em um momento posterior

2: (verbo) tirar seu NFT do mercado
--

Digamos que eu queira

[2021-05-09 18:56] m9u commented on #664
Thanks for reaching out I will do that!

Cheers

On Sun, May 9, 2021, 20:36 skenaja ***@***.***> wrote:

[2021-05-09 19:01] m9u opened #667 "minting page is stuck at "your objkt was minted successfullu""
Since a couple of days, the site gets stuck on "your objkt was minted successfully". Before you would get the close button that brought you to manage your objkts page, but it doesnt appear anymore - the "your objkt was minted successfully" just remains in an endless loop.

Now the only way to exit the minting page is to refresh/open a different tab. If I open the new tab with my creations I can al

[2021-05-09 19:43] presstube commented on #586
This would be an absolute game changer. If there’s anything I can do to help nudge this along please let me know!

[2021-05-09 19:44] jovancosta-zz opened #668 "Content Creation PT:Como Descartar"
Add and update the page PT:Como Descartar

please edit the following page, with the content below:
https://github.com/hicetnunc2000/hicetnunc/wiki/How-to-cancel-%E2%9D%8C

#Como descartar(burn) 🔥

###descartar
verbo
1: (verbo) retirar ou pôr de lado (uma ou mais cartas de baralho, jogo etc.) para determinado fim ou por não apresentar(em) serventia.

2: (verbo) deletar seu OBJKT

---
1. Certifique-

[2021-05-09 22:16] mbransn commented on #412
Hi all, I've also got an [OBJKT here](https://www.hicetnunc.xyz/objkt/47461) that is a mov file. It is working on safari now, but not firefox or chrome. I tested across all browsers before swapping last month, but now appears to be broken.

[2021-05-09 22:47] skenaja opened #669 "Feature: Increase max length of item description from 500 chars"
**Is your feature request related to a problem? Please describe.**
The minting screen limits the item description to 500 characters. This is stored in JSON objkt metadata in IPFS. The TZIP-21 schema does not put a limit on `string`, and this should not affect any data stored in the blockchain.

**Describe the solution you'd like**
Increase the data to a more sensible 2000 characters.

[2021-05-09 23:03] #669 closed, assigned to nobody

[2021-05-09 23:05] andrevenancio commented on #667
This is not an issue. @crzypatchwork had a preferent on removing the "confirm" button. so when you see the message "minting was successful" you can carry on doing something else on the website.

[2021-05-09 23:05] skenaja commented on #412
That's encoded using H.265 - it's not supported by many browsers: https://caniuse.com/hevc

![image](https://user-images.githubusercontent.com/510285/117589708-1dfca380-b123-11eb-802c-37388f2cfe0d.png)

H.264 has much wider support: https://caniuse.com/mpeg4

[2021-05-09 23:16] andrevenancio commented on #665
The main reason HTML shouldn't have scrollbars is mainly because more often than none people write bad css and it generates tiny scrollbars. Specially on macos where the default is that scrollbars are hidden. So #389 was fixed by having the scrollbars disabled on the preview.

So the iframe should have overflow: hidden. It is up for the content creators to then do a container and add overflow-y: a

[2021-05-10 00:24] becopro commented on #664
Hi there! I'm new to hic et nunc and today I've tried to mint my first nft there, but I had the same problem, the screen is stucked at "objkt minted successfully", nothing happens. I 've opened a new tab to check the "manage assets" part, nothing there. On my wallet activity it appears that the operation backtracked but 0.021486 tezos were subtracted from it, I've tried twice to mint an objkt. I d

[2021-05-10 00:27] fabiomorreale commented on #586
I agree, this would be amazing!

[2021-05-10 00:34] fabiomorreale opened #671 "User data: accessing NFT collectors' address"
I would like to be able to access the NFT collectors' (owners) address, the same way as we are able to access the creator's and the viewer's. This feature could be used, for instance, to show some _features_ of the NFT only to those that end up collecting it, thus would incentivise people on collecting the NFT. For instance:

- A music track would stop playing after 30 seconds, unless you are a co

[2021-05-10 04:49] mescalina commented on #633
I'm not sure it's related, originally for some time the total listed amount was correct, 500 editions, than days or even a couple of weeks later it started to show 520 instead of 500.

[2021-05-10 04:53] mescalina commented on #664
Fees are paid even if the operation fails cause the smart contract did some work for you. I know it can sound unfair but it's in the very nature of smart contracts. In kukai wallet you can now raise the fees maximum cap which usually eliminates the risk of backtracked operations (180 is a fine value at the moment)

[2021-05-10 06:24] pichiste commented on #665
Not sure why the `scrolling="no"` is there either tbh – probably a holdover from when the HTML OBJKTs were being displayed on the main feed, causing usability issues. Let's just remove it?

[2021-05-10 06:44] pichiste commented on #665
PR here: https://github.com/hicetnunc2000/hicetnunc/pull/672 @andrevenancio 👀

[2021-05-10 07:35] skenaja commented on #667
@andrevenancio once minted,  if you go to any other page, the success message from the mint does not disappear from the screen. You have to do a force refresh to reload the site.

[2021-05-10 07:41] m9u commented on #667
Hi Andre, with all due respect, I think it is a bug. Unless you refresh the
page you cannot go to any other page from the menu or to the feed.
Only refreshing the page helps.

On Mon, May 10, 2021, 01:05 André Venâncio ***@***.***> wrote:

[2021-05-10 13:14] andrevenancio commented on #667
@crzypatchwork seem like adding a "close" button is the sensible thing to do. Otherwise I'll need logic anywhere on the site.

On route change
On menu open
On hic logo click.

Etc

[2021-05-10 14:10] #654 closed, assigned to nobody

[2021-05-10 14:11] andrevenancio commented on #660
Can you link me to that information? I'm pretty sure that's incorrect unless something changed and I'm not aware..

[2021-05-10 18:22] local306 commented on #629
@andrevenancio I don't have an OBJKT per se as I don't want to spend the gas money minting something that isn't working as intended, but I've attached a super simple zip to try out using Unity's default FPS controller. Works in the HEN preview part of the minting process minus the mouse lock.

[NFTSample.zip](https://github.com/hicetnunc2000/hicetnunc/files/6454159/NFTSample.zip)

To be honest I'm

[2021-05-10 18:53] keaukraine commented on #660
Link to wiki page where it is stated that "Subfolders are OK": https://github.com/hicetnunc2000/hicetnunc/wiki/Interactive-OBJKTs#folder-structure

[2021-05-10 18:55] keaukraine commented on #660
And yes I managed to make my interactive HTML+JS OBJKT to work after flattening it to root folder (this required refactoring of code). Placing 20+ resources in root which looks a bit ugly TBH.

[2021-05-10 19:29] zmnv opened #676 "Can not upload video object"
Hello. 38 Mb mp4 file.

1. Upload video. Go to preview.
2. When .mp4 -- I see my video as preview. When .mov -- I can't see my video.
3. Mint
4. I see «preparing OBJKT»

After some seconds I see in console:
[code]

Request failed after N seconds.. a long time actually:
[code]

Sometimes I see http polling requests.. sometimes not...
And then nothing happens. I see «preparing OBJKT» and nothing hap

[2021-05-10 20:51] mrmitchy1211 opened #677 "GALLEON VERIFICATION ISSUE"
**Describe the bug**
Every time I go to mint an NFT on the site I continue getting a verification error.  "Could not estimate fee due to operation validation failure."

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser Chrome

**Additional context**
Wallet Address
tz1bmWibYwmyb8thM1jujafY7GGBHGUNMzzk

[2021-05-10 21:29] skenaja commented on #677
That wallet address has a successfully minted OBJKT:
https://www.hicetnunc.xyz/objkt/72834

Temple & Kukai wallets both allow you to increase the estimated fees, which helps avoid problems during busy blockchain periods when wallets have more trouble carrying out estimating. Both wallets allow you to import the seed phrase from your existing tz1 address so no need to transfer tokens between the wa

[2021-05-10 21:29] #677 closed, assigned to nobody

[2021-05-10 21:49] mrmitchy1211 commented on #677
I don't see any way to increase the fee on temple.  Even while following
the guides, I never get the option to choose when the temple pop up comes
up.

On Mon, May 10, 2021, 4:29 PM skenaja ***@***.***> wrote:

[2021-05-10 21:54] becopro commented on #664
#I use Temple wallet, is there any configuration I have to change for it to work? But still, there is the problem with the screen stuck on "objekt minted successfully", even though it didn't mint anything...
Thanks for the reply though @mescalina!

[2021-05-10 21:55] mrmitchy1211 commented on #677
This is what the translation data looks like.

[ { "destination": "KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9", "kind":
"transaction", "amount": 0, "parameters": { "entrypoint": "curate",
"value": { "prim": "Pair", "args": [ { "int": "5479" }, { "int": "73019" }
] } } } ]

M I T C H  M Y E R S

ART DIRECTOR | MOTION DESIGNER | 3D ARTIST

-  MOTION REEL  - <https://www.mitchmyers.tv/reel19/>

P. 636.627.

[2021-05-10 22:27] skenaja commented on #677
Thanks, that's helpful! The button you're trying to press is to upvote an artwork using hDAO tokens. It will give an error if you don't have any. For more info: https://github.com/hicetnunc2000/hicetnunc/wiki/hDAO#what-are-those-little-circles-on-each-post-hdao-what-is-that

[2021-05-10 22:52] mrmitchy1211 commented on #677
Oh!  Well how do I curate an nft that was uploaded?

M I T C H  M Y E R S

ART DIRECTOR | MOTION DESIGNER | 3D ARTIST

-  MOTION REEL  - <https://www.mitchmyers.tv/reel19/>

P. 636.627.1225     E. ***@***.***

WEBSITE <http://mitchmyers.tv/>  |  VIMEO
<https://vimeo.com/mitchmyersdesign>  |  TWITTER
<https://twitter.com/MrMitchMyers>  |  INSTAGRAM
<https://instagram.com/mrmitchmyers/> | BEHANCE
<h

[2021-05-11 02:11] superrobottyson opened #678 "objekt 40062 - 15 more copies minted without my permission"
**Describe the bug**
I minted 20 copies of objkt 40062, then listed them for 1 Tez each. Now when I view the asset it say that there are 35 copies of the item and I do not own 15 of them.

**To Reproduce**
view objkt 40062

**Expected behavior**
I was hoping to burn all copies of the item and re-mint.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please

[2021-05-11 10:51] IvonaTau commented on #613
Hi @veqtor , I have hdao and a verified profile, but my new-minted objkts keep not showing up in the feed :(

https://www.hicetnunc.xyz/tz/tz1aLCW57GTwnmBNcrwWUR2y4YUEQAFGQYtU

[2021-05-11 14:03] sebuhbitcoin opened #681 "Artist Profile Not loading - 30+ minutes now still not loaded."
**Describe the bug**
A clear and concise description of what the bug is.

https://www.hicetnunc.xyz/tz/tz1gZc62y2fzaFCtMdy4WJUuD1CEoSWYt5su

this profile will not load. collection tab or creations tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/tz/tz1gZc62y2fzaFCtMdy4WJUuD1CEoSWYt5su
2. Click on collection or creation. nothing loads.
3. Scroll down to '..

[2021-05-11 14:41] Dsm0 commented on #490
I'm experiencing this same issue using Firefox version 88.0.1 on Manjaro

Edit: have reopened on #682

[2021-05-11 14:49] Dsm0 opened #682 "Still experiencing issue #490: pdfs automatically/unexpectedly download"
I'm still experiencing issue #490, where pdfs download open automatically on load.

To reproduce:
go to any gallery/profile with a pdf, and it downloads automatically:
ex: [https://www.hicetnunc.xyz/tz/tz28W6Vjx4dM8bTNZs1Eq7EFQ9tgs9EF5qFu](https://www.hicetnunc.xyz/tz/tz28W6Vjx4dM8bTNZs1Eq7EFQ9tgs9EF5qFu)

Expected behavior:
the pdf should not be automatically downloaded

copy of the original issu

[2021-05-11 19:18] nikostumpo opened #683 "Main page gallery and collection not loading"
**Describe the bug**
A clear and concise description of what the bug is.
Hello, I try to simply load my page to try to load the gallery or the collection and it does not load. This affects the objkt listing too, cause after minting I can't manage my files because I can't load the page. If the link is to a direct objkt than that specific page loads .

I asked around and others have the same issues.

[2021-05-11 22:03] mtyka commented on #662
This can be closed.

[2021-05-11 22:36] sebuhbitcoin commented on #681
https://www.hicetnunc.xyz/tz/tz1Wc1uawzskCTxzUVbYh56vqstPGRHiJTpE

This one is not loading also.

[2021-05-11 22:37] sebuhbitcoin commented on #681
![image](https://user-images.githubusercontent.com/5566620/117893168-c66b4e80-b26e-11eb-8285-0457b3a14fd4.png)

[2021-05-11 22:46] sebuhbitcoin commented on #681
god damn i want to buy that nft and i cant. big sad.

[2021-05-12 03:03] specificlads opened #685 "Paid to mint and it never went through"
I paid to mint an NFT and it was stuck on the "creating objkt" page indefinitely.

[2021-05-12 03:55] ashatheo opened #686 "problem with displaying the object on the mainpage"
hi, after I mint a new object, it is displayed on the mainpage, after I expose the swap it disappears. I have a very large collection of 1000 objects. how many hdao do I need so that the objects do not disappear from the main page?

I noticed that recently more and more accounts without verification and hdao get to the main page. some kind of bug or new conditions?

[2021-05-12 04:46] crzypatchwork commented on #586
regarding donations I would be very cautious with philanthropic actions ongoing in the platform. I find that we should help build communities being fundamental for those institutions to connect. even though a decentralized protocol can ofc enable ppl to self organize. a multisignature is being developed which support such features while still experimenting with NFTs. updates are gonna be shared in

[2021-05-12 05:10] pichiste commented on #665
Closing since this will be fixed in next deployment

[2021-05-12 05:10] #665 closed, assigned to nobody

[2021-05-12 05:11] pichiste commented on #660
@keaukraine subfolders should indeed work. Can you provide a sample zip file so I can test? Thanks

[2021-05-12 05:40] pichiste commented on #660
@keaukraine Would you mind testing with this zip?
[nested-folders.zip](https://github.com/hicetnunc2000/hicetnunc/files/6463648/nested-folders.zip)

Perhaps you are using absolute paths in your code? I realized it wasn't clear in the docs that you need to use relative paths – have updated the guide.

![Screen Shot 2021-05-12 at 7 37 20 AM](https://user-images.githubusercontent.com/111979/117923780

[2021-05-12 13:36] oldominion commented on #683
Seems to be happening with a number of galleries at the moment.

e.g. jjjjjjjjjohn's profile.. https://www.hicetnunc.xyz/tz/tz1gqaKjfQBhUMCE6LhbkpuittRiWv5Z6w38
Fails to load:
https://51rknuvw76.execute-api.us-east-1.amazonaws.com/dev/tz?tz=tz1gqaKjfQBhUMCE6LhbkpuittRiWv5Z6w38
`Error: Request failed with status code 500
    at createError (/var/task/node_modules/axios/lib/core/createError.js:16:15

[2021-05-12 13:40] crzypatchwork commented on #683
we're working on a database for bringing stability to more persistent data. ETA next week

[2021-05-12 13:59] memoakten opened #691 "image scale template problem (unresolved merge conflict?)"
The image scale template seems to have an unresolved merge conflict from what I can tell? This is src/app.js

[code]

[2021-05-12 15:00] aeonbloom commented on #627
Hi :) I've been stuck trying to mint for what seems like hours on the "preparing Objkt" screen. I have synced Temple wallet and have XTZ in there. Unsynced wallet and resynced to try again, it's not a large file. I have also tried multiple internet connections :)
![Screen Shot 2021-05-12 at 16 56 53](https://user-images.githubusercontent.com/84087730/117997308-2501fc80-b343-11eb-828b-d358f8969cb0.

[2021-05-12 17:47] andrevenancio commented on #691
Thanks @memo! I'll have a look

[2021-05-13 00:12] zmnv commented on #676
It's maybe some kind of sign... of the universe... it says.... 'dude... video render? seriously?... can you make more interesting work'... I get it.. okay...

[2021-05-13 08:55] memoakten commented on #691
btw, I was just looking into this because I have some very large (16384x16384 pixel images :), and because my images are soo large, a tiled based interface might be more suitable?
I had previously implemented this ( http://memo.tv/supergan/ ) using https://openseadragon.github.io/
Does this template do that too? Or does it load the full resolution image and perform pan/zoom on that?

[2021-05-13 09:33] cryptoaliens opened #694 "The preview button for minting my nft isn’t working?"
The mobile version won’t let me mint anything?
I load all the info Into the boxes and the button still remains shaded and un clickable
I can’t mint anything I am connected to my wallet and I have a balance

[2021-05-13 11:41] ashatheo commented on #686
yesterday this issue was partially resolved, the object gets on the main page and then disappears.

https://www.hicetnunc.xyz/tz/tz1ZaX1MkLJsrUtfc1fpHbg4bRTVbF7mnH39

[2021-05-13 14:47] andrevenancio commented on #691
took me a while! Apologies. this should now be fixed!

[2021-05-13 14:50] andrevenancio commented on #691
Yeah it works like that! should be enough for your use case. Let me know if you get stuck and I can help with anything.

[2021-05-13 14:50] #691 closed, assigned to nobody

[2021-05-13 14:59] AliaK77 opened #695 "torque gallery - community curated gallery with series of curators"
**Describe the solution you'd like**

I  would like to  start a community  curated gallery called torque (Latin for chain), to allow different/scheduled members of the community to curate max 10 objkts (including optionally one of their own). proposal is to rotate the  curators weekly or fortnightly (am open to suggestions). people can nominate to be a curator for an available week. I think this w

[2021-05-13 15:21] makeitrad commented on #686
I to am experiencing this issue. After mint nothing shows up on the home page. After swap nothing either. :(

[2021-05-13 17:18] skenaja commented on #634
This is now working. Closing.

[2021-05-13 17:18] #634 closed, assigned to nobody

[2021-05-13 17:23] #662 closed, assigned to nobody

[2021-05-13 22:02] mtyka commented on #678
This looks like a duplicate of this issue: https://github.com/hicetnunc2000/hicetnunc/issues/546 - a fix is on it's way.

[2021-05-13 22:03] mtyka commented on #678
Closing this for now to declutter the bugs list.

[2021-05-13 22:03] #678 closed, assigned to nobody

[2021-05-13 22:11] mtyka commented on #477
From the last message it sounds like it has been fixed and is actually working (also squares with my recent experience with the site). I'm closing this issue for the time being. If the issue resurfaces, please reopen this issue.

[2021-05-13 22:11] #477 closed, assigned to nobody

[2021-05-13 22:24] #494 closed, assigned to andrevenancio

[2021-05-13 22:37] andrevenancio commented on #695
I've tried to describe why galleries don't scale with our current implementation. On pull request #614. But if this is a gallery with around 10 OBJKT I think it's okay.

[2021-05-13 22:39] andrevenancio commented on #686
On the wiki there's an explanation on why works don't show on the main feed. TLDR, if you don't have hDao and aren't verified you won't show up on the feed. If you do have hDao and are verified you have a limit of NFT's you can mint. These measures were brought it to avoid copyminters and bots. Please have a look through it.

[2021-05-13 22:40] andrevenancio commented on #685
Can you provide some more information? How are we supposed to know who you are. What you minted etc? 😅

[2021-05-13 22:44] makeitrad commented on #686
I have hDAO and I am verified. Most users being displayed on the feed are verified but have no hDAO. I mint once a day wich should keep me under the limit. Ive read the wiki and I am in complience. There is some other issue at play.

Thank you

[2021-05-13 22:56] makeitrad commented on #686
Here are a couple examples.

Wallet "tz1dAVKwbGe1PVnPBkRZYmYFsecDtTLHjHLK" just posted their work.
OBJKT#78691
It's on the home page. They have no hDAO in their wallet.

wallet "tz1RkzwUDxY7XYX7wk3fERukJzBiDjCDCUhq" on the home page. No hDAO...
OBJKT#78690

[2021-05-13 22:57] skenaja commented on #686
@andrevenancio @taconugget  - this will be fixed when these 2 PRs are merged & deployed which specifically cover the hDAO issue

https://github.com/hicetnunc2000/hicetnunc-api/pull/72
https://github.com/hicetnunc2000/hicetnunc-api/pull/71

Before the deployment, there's still some testing undergoing on the API to try to resolve the intermittent blocking of large collections (via /tz pages)

[2021-05-13 23:01] makeitrad commented on #686
@skenaja Thanks for the update! Glad I wasn't crazy!!! Keep up the good work you guys/gals are killing it! :)

[2021-05-14 02:22] andrevenancio commented on #686
Good to know. I wasn't aware the API stopped working as it should so I made the assumption they had no hDao.

[2021-05-14 04:26] AliaK77 commented on #695
thanks very much @andrevenancio! how should this process work
- do I just share the torque.json file with you and you add it to the gallery folder.
- and are you ok with weekly changes to the file ie replacing the objkts in the json each <agreed cadence> and requesting a new PR to publish it.
- please let me know which cadence works best, if weekly is too often/too much work.

I can work with the

[2021-05-14 08:19] DonKarlssonSan commented on #276
There is a third party tool that can display NFT's that you have put up for sale on the secondary market:
https://commodum.xyz/
I think that functionality should exist on hicetnunc

For me it would be the best if the NFT's I put up for secondary sale appeared both in my collection and in another new third tab. I mean I still own it even though I put it for sale. Why should I not be able to adore m

[2021-05-14 10:15] memoakten commented on #691
Thanks Andre, that sounds perfect.

Unfortunately (after a clean pull and npm install), I'm getting the following error (see bottom):
(I could file this as a separate issue?)

[code]

[2021-05-14 10:48] memoakten commented on #691
Hey, thanks. It might be related, but I'm not sure.

- the error linked to above is `Cannot find Parcel plugin "@parcel/transformer-image"`, whereas the error I'm getting is `Could not find module "@parcel/transformer-image" satisfying 2.0.0-beta.2. [...] **Found this conflicting local requirement.**` (emphasis mine).
- I have no experience with parcel-builder or nodejs, so I'm not sure exactly ho

[2021-05-14 11:06] skenaja commented on #691
I managed to get it to build OK by deleting the entire `devDependencies` entry from package.json. Running `npm start` then made `parcel` automatically download and install the package.

https://stackoverflow.com/questions/66719932/what-is-the-correct-version-of-transformer-image-to-use-with-parcel-2

[2021-05-14 11:24] memoakten commented on #691
thanks, yes interestingly that worked for me too, but the entire `devDependencies `entry is added back into `package.json`, exactly as it was before.

[2021-05-14 11:41] skenaja commented on #691
It also creates a package-lock.json - maybe this should also be checked into the repo?

[2021-05-14 16:08] andrevenancio commented on #691
that sometimes happens to me too. I guess parcel is struggling. I've substituted parcel with webpack.

Please run this from the `templates/html-image-scale` folder

[code]

To run localhost `npm start` and to build a bundle `npm run build`.

Hope it helps!

[2021-05-14 16:12] andrevenancio commented on #695
This is ultimately @crzypatchwork decision. Though a small gallery doesnt cause an impact on performance, its still unfair to publish it until we fully rollout this feature to the community, So I would like to defer that decision to the platform founder.

[2021-05-15 03:05] boxer32 opened #696 "Play Audio background."
**Is your feature request related to a problem? Please describe.**
Is it possible for me to auto-play the background sound from my html.zip file?

[2021-05-15 08:48] AliaK77 commented on #695
thanks @andrevenancio, @crzypatchwork , understood & agree. best to keep things fair for all.

just a note that the idea for this one was to rotate through curators from the community, like a tag-team of sorts or pass the parcel. ie it's not just my gallery, though I could help the guest curators to prepare the json file with their selected objkts.

ideally if we had some process of verrifying the

[2021-05-15 10:49] andrevenancio commented on #696
sure. not related to the platform... but to whatever audio library you have.

[2021-05-15 10:49] #696 closed, assigned to nobody

[2021-05-15 10:50] #685 closed, assigned to nobody

[2021-05-15 10:51] andrevenancio commented on #682
I'm sorry, I can't reproduce this. There's nothing on our end forcing a download. this are browser specific user preferences.

https://www.computerhope.com/issues/ch001114.htm#:~:text=On%20the%20Settings%20window%2C%20under,click%20the%20PDF%20documents%20option.&text=position.,browser%20when%20set%20to%20Off.

[2021-05-15 10:51] #682 closed, assigned to nobody

[2021-05-15 11:18] #683 closed, assigned to nobody

[2021-05-15 11:19] #686 closed, assigned to nobody

[2021-05-15 11:20] #681 closed, assigned to nobody

[2021-05-15 19:51] originaltomato opened #699 "Fullscreen button doesn't show the images at there maximum resolution"
**Describe the bug**
The fullscreen button doesn't show the images at there maximum resolution and doesn't allow zooming in

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a png at high-resolution higher than your monitor
2. Use fullscreen on minted image
3. The image will not fill up the screen

**Expected behavior**
If you right click the image open in new tab real full resolution s

[2021-05-15 21:40] xmannm opened #700 "List of OBJKTs you have currently listed for sale (from your collection)"
As a collector when I own only one edition of some artwork and I list it for sale, it's gone from my collection and I'm never able to find that piece ever again.

I could imagine some kind of list of OBJKTs you have currently listed for sale. (in the menu or somewhere in the Collection tab)
You could easier check the listed objects and keep a track of them.

It could either be a page with images o

[2021-05-15 21:53] kylegrover commented on #699
I would call this a request, not a bug. I agree that it would be better to go full screen, but right now it's coded not to - not an accident.

![image](https://user-images.githubusercontent.com/26558614/118379077-ebbccd00-b58c-11eb-815b-e128de756923.png)

This is a one line CSS change, if it's agreed that we should make this change.

[2021-05-15 21:56] kylegrover commented on #699
I do think a 100% full screen display is the expected and better behavior. A related change that would make this feature more valuable for long form video would be to hide the hover icon when you're in full screen mode and the mouse hasn't moved in a few seconds, similar to youtube or VLC's play bar behavior.
![image](https://user-images.githubusercontent.com/26558614/118379218-90d7a580-b58d-11eb-

[2021-05-15 21:58] kylegrover commented on #700
I agree this should be part of the main website. For now I use an external tool I made which lists your pending swaps: https://ufffd.com/hicettum/swaps

[2021-05-15 22:01] kylegrover commented on #694
I think this isn't actionable until we know a lot more. Can you join the discord and post in the #help channel for a faster discussion?

[2021-05-15 22:30] kylegrover commented on #671
This would also be solvable if the objkt ID was passed to the iframe, by querying APIs

[2021-05-16 00:24] violetforest commented on #666
💯

[2021-05-16 00:24] #666 closed, assigned to violetforest

[2021-05-16 00:24] violetforest commented on #668
💯

[2021-05-16 00:24] #668 closed, assigned to violetforest

[2021-05-16 00:24] violetforest commented on #653
💯

[2021-05-16 00:24] #653 closed, assigned to violetforest

[2021-05-16 00:25] violetforest commented on #652
💯

[2021-05-16 00:25] #652 closed, assigned to violetforest

[2021-05-16 01:45] andrevenancio commented on #427
This has been implemented. Awaits deployment to production

[2021-05-16 01:45] #427 closed, assigned to andrevenancio

[2021-05-16 02:05] andrevenancio commented on #513
we're prioritising more pressing issues. once this is done, it will be fixed. you guy can subscribe to notifications but in the mean time, no news

[2021-05-16 05:17] mtyka commented on #534
https://www.hicetnunc.xyz/objkt/38409
Error message is being shown now. Closing this issue.
![Screen Shot 2021-05-15 at 10 16 59 PM](https://user-images.githubusercontent.com/1166501/118386295-5c82da00-b5cb-11eb-96eb-3a856a196043.png)

[2021-05-16 05:17] #534 closed, assigned to nobody

[2021-05-16 06:49] gianflavio commented on #224
Yeah, a way to follow or favorite artists would be great. Maybe even a Timeline or filter where you only see your favorited artists' creations or collections.

[2021-05-16 09:57] skenaja commented on #427
This is now live!!

[2021-05-16 10:48] originaltomato commented on #699
Good to know. Agreed, this is between issue and feature. It is a fact in general that buyer expectation is to be able to reach the original work. The pinning mechanism is complex and not exposed

[2021-05-16 11:00] serkansokmen commented on #607
The same here, I got these on the fiddle, hope that it helps

[code]

and with the same file in .glb format:
[code]

[2021-05-16 12:01] cryptoaliens commented on #694
I did they told me to use a desktop computer

[2021-05-16 16:20] skenaja opened #703 "hDAO reclaim amount display issues"
**Describe the bug**
2 small issues with the new claim_hDAO feature on OBJKT page for creators, raised via Discord
https://discord.com/channels/759930487946215444/837237944208326667/843508469080391691

1. If the API doesn't return a value, the UI shows `-1`:

![image](https://user-images.githubusercontent.com/510285/118404405-a79ffa00-b66a-11eb-9e7c-685e8b3851fb.png)

2 - The UI shows the value in

[2021-05-16 18:53] kylegrover commented on #667
I think 9 times out of 10 people will want to go to their newly minted objkt, maybe two buttons: "close" and "view/manage your new objkt"

[2021-05-16 19:44] kylegrover commented on #433
This is a superb thread with some really strong ideas, are the participants still thinking on this one? This could be an enormous task, and the only way forward either to tackle it as a working group (ie via the hicathon) or to break it down into a smaller MVP. The simplest component of this seems to be starting users with an escrow account, and later lifting that restriction in an automated (not

[2021-05-16 23:10] andrevenancio commented on #700
This feature is already implemented. I'm waiting on @crzypatchwork to push it to production.

[2021-05-16 23:13] andrevenancio commented on #699
In the bottom you have a link to IPFS which u can use to see the image in its full size.  This fullscreen feature is cross media, I'm not too sure it should change.

[2021-05-17 04:46] clngr opened #704 "Dark Mode"
The website could automatically switch to dark mode by detecting the system's color theme. Details in:

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

Also, a manual override switch dark/light would be welcome, as we can see on a growing number of websites.

1. This could be a standard in every Tezos website
2. Every Tezos related website should follow the same stand

[2021-05-17 08:03] runebrinkhansen commented on #630
thank you so much for everything ❤️❤️❤️

Hilsen
Rune Brink Hansen
60514220

[2021-05-17 09:29] skenaja commented on #704
Thanks for the suggestion!

The `prefers-color-scheme` setting was implemented in 02a546e02f1825ded5940cb4bca12b6a8d2e08df

There is a manual override already in place - click menu, then the `o` button in the footer. Not very obvious perhaps!

[2021-05-17 09:29] #704 closed, assigned to nobody

[2021-05-17 13:40] howrichi commented on #635
Hi, I was wondering if this problem was resolved? Unfortunately I seem to be in the same situation. I’m new to hic et nunc but followed all the instructions. It seems I managed to Mint my first work but when I was doing the swap there was an error and it was sent direct to the HEN contract. Is there a way I can get contract manager to send it back or burn it?  Would appreciate any help or advice.

[2021-05-17 14:35] clngr commented on #704
Some issue with my test browser. Thank you.

[2021-05-17 15:27] skenaja commented on #703
1) upstream API errors were simulated by forcing it [to always return -1 here](https://github.com/hicetnunc2000/hicetnunc-api/blob/master/lib/utils.js#L128)

2) Units now in whole hDAO:
![image](https://user-images.githubusercontent.com/510285/118513569-bf8b8280-b72b-11eb-8760-e03d7289a551.png)

Just to note If you're not the creator, the UI is still a little confusing as it displays the hDAO bala

[2021-05-17 15:30] MahdiNjt opened #710 "Not showing my artwork on hic et nunc and this code apears "(http 500)""
[edited to move full error message from title to issue text:

[code]

[2021-05-17 18:56] rfpaul commented on #382
Is this guidance still in effect for Feature Requests? The link to the Feature Request board indicates: “Oh no! This board isn't publicly visible anymore.”

[2021-05-17 19:17] skenaja commented on #635
@howrichi - please can you provide some diagnostics - your wallet ID, the objkt ID, we can't help you otherwise.

[2021-05-17 19:27] howrichi commented on #635
@skenaja  thanks for the reply. Sure my wallet ID is: tz1ZghGmfapjVymzSvAuxg42hy7BmH3MAAuc
The objkt ID is: 83295

[2021-05-17 19:33] howrichi commented on #635
Seems to have landed here: KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9

This is the transfer: https://better-call.dev/mainnet/opg/opQbgSfE6U3D2Wbhce6wmwCVgPR649QSDe9eryJsZPJ8qXgLRqi/contents

[2021-05-17 19:34] mirsadbasar opened #711 "(http 410) Object is restricted and/or from a copyminter"
Bought a 'Nft' couple weeks ago. 2-3 days after i bought it, the adress became unreachable, just a blank HEN screen. And i checked it right now and now it says '(http 410) Object is restricted and/or from a copyminter'.
https://www.hicetnunc.xyz/objkt/59130 You can see it yourself too.

Did anyone had something like that before? I paid some tez for this piece and now i dont know what to do.
![imag

[2021-05-17 20:06] skenaja commented on #635
It's just listed for sale, that's the HEN escrow wallet it sits in until someone buys it.
Can you see a cancel button here?

![image](https://user-images.githubusercontent.com/510285/118549606-9ed72300-b753-11eb-9133-962994239d7d.png)

That will cancel the listing and bring it back to your wallet if you don't want to let it go to someone else!

[2021-05-17 20:28] howrichi commented on #635
Thanks alot, that worked! I got a bit confused, my mistake I didn't realise about the HEN escrow wallet, I thought it may have been stuck in the process. Sorry to bother you with this. I appreciate your help!

[2021-05-17 22:04] skenaja commented on #710
This is a duplicate of #683 (the error message from the API is now showing on-screen)

Work is underway to improve reliability of the collection page.

[2021-05-17 22:04] #710 closed, assigned to nobody

[2021-05-17 22:11] skenaja commented on #711
Hi, the wallet you purchased it from was reported as a copyminter (they did not create the artwork nor have the rights to sell the NFTs). The wallet was banned once it was reported to the the moderator team on Discord. Unfortunately, the platform has no way to recover any funds already sent.

Relevant warnings are provided to collectors here: https://github.com/hicetnunc2000/hicetnunc/wiki/Beware-

[2021-05-17 22:11] #711 closed, assigned to nobody

[2021-05-17 23:29] 360fun commented on #620
I noticed there's a problem with the icon and I've fixed it here:
https://github.com/hicetnunc2000/hicetnunc/pull/713

[2021-05-18 03:59] #635 closed, assigned to crzypatchwork

[2021-05-18 09:00] pichiste commented on #671
@fabiomorreale, just to rephrase the the issue, you basically want owners to be able to unlock certain features of the OBJKT, that the general public doesn't have access to, correct?

I think this is a super good use case but a bit more complex than passing in a query param. The issue is that, even if we pass in a `collector` value, there is currently no way to enforce this,  in the sense that som

[2021-05-18 09:06] pichiste commented on #671
If we are ok with the non-enforced version of this though, I'd suggest we just pass an `is_owner` query param.

[2021-05-18 10:07] fabiomorreale commented on #671
Precisely!

That is true, I haven't thought of that. However, that requires a few extra steps.

It'd be great if you could check with the devs whether it is possible to run a verification with the viewer's wallet and return `is_owner = true` if the viewer owns the NFT.  If that's not possible or requires too much work even a non-enforced version would be great!

Thanks for looking into this.

[2021-05-18 16:32] crzypatchwork opened #716 "3D Models glitches"
There are light weight glitched and some new glitches that appeared. The model viewer seems unstable and it's needed to find a version that can help stabilizing such displays.

[2021-05-18 16:35] fraguada commented on #716
@crzypatchwork can you add any links objkts that are glitching? OS? Browser? Browser version? There could be many reasons for a component to glitch, but model-viewer on h=n and in other projects is pretty stable in my experience.

[2021-05-18 18:25] xmannm commented on #700
That is amazing news, thank you!

[2021-05-18 20:53] andrevenancio commented on #716
model-viewer has been updated to version 1.7.0
https://github.com/google/model-viewer/releases

It would be nice to know exactly what the problem is. The comments I've seen on discord aren't really specific to what the problem is. The links I've seen, I see a 3d model loading.. not knowing how the 3d model should look I can't really identity what is bad. I suggest we revert to previous version.

S

[2021-05-18 22:14] bebogp commented on #716
Some images that compose the 3D model (glb) are repeated and out of place and scale.
This should be only the cube, when I minted it last week it was ok https://www.hicetnunc.xyz/objkt/80566
Windows 10 Chrome Versión 90.0.4430.212 (Build oficial) (64 bits)

[2021-05-18 23:14] #493 closed, assigned to nobody

[2021-05-18 23:46] matheusassuncao28 commented on #716
I am also having problems with my glb. models https://www.hicetnunc.xyz/objkt/68981
image is repeated, with a different scale

[2021-05-19 07:56] mrdoob commented on #716
There is a new point release that should fix these issues:
https://github.com/google/model-viewer/releases/tag/v1.7.1

[2021-05-19 09:19] #620 closed, assigned to nobody

[2021-05-19 09:21] andrevenancio commented on #716
In theory there's no resolution needed. We're not specifying the version to load. So it will pick up that 1.7.1 once its released. Which it did looking by the 2 examples above.

[2021-05-19 09:21] #716 closed, assigned to andrevenancio

[2021-05-19 09:24] andrevenancio commented on #703
I dont think the current solution serves the UX properly. Its confusing without context that the same button changes behaviour from "donating" hDAO to "collecting" hDAO.
this part should be revise in the design. I've asked Julio (Designer) to have a look at this.

[2021-05-19 11:01] KimLaughton opened #717 "Interactive 3D model no longer showing textures/lighting"
The .glb files I have uploaded used to display fine but now they show up as black shapes - either a texture or a lighting issue I'd imagine.

For eg: https://www.hicetnunc.xyz/objkt/37744

Other people's models seem to be ok so it could be a issue that only crops up when the models are exported in a certain way. I'm using the babylon exporter with 3DS Max.

I've attached the .glb used in the above

[2021-05-19 17:20] tgreiser commented on #546
Additional occurrences.

[code]

88087 - https://tzkt.io/opAzCVTZoqZZFffmDwG4gozjdjjmoQXgW6pptfwH63fuCsaYCys

[2021-05-19 21:51] frading opened #718 "interactive NFT not loading is iOS and safari"
**Describe the bug**
One of my NFTs ( https://www.hicetnunc.xyz/objkt/87949 ) fails to load on:
- safari on mac
- firefox, chrome and safari on iphone.

But it loads fine on any browser, included the ones mentioned above, when tested:
- locally
- online at https://60a5503414820e32577a4c8c--eager-thompson-d09144.netlify.app/

So my current understanding is that hicetnunc's security rules are preven

[2021-05-19 22:32] andrevenancio commented on #718
Hey @frading From within the OBJKT detail page if you scroll down you see something saying IPFS. If you click on it, you jump over to the IPFS directory hosting your files.

Your interactive NFT does not work there either. And that's the direct link to it, so any iframe sandbox contrains do NOT apply there. There might be a IPFS contrain which I suspect is out of our control. Am I right @skenaja ?

[2021-05-19 23:21] frading commented on #718
Thanks a lot for looking into it and the clarification @andrevenancio . I did not realise files were hosted on a third party. I'm not sure what an IPFS contrain is, though, is that something that can be controlled when uploading the zip file, or in any other way? Feel free to forward me to some docs, I'm happy to run tests.
A quick google search led me to https://discuss.ipfs.io/, but I could not

[2021-05-20 01:25] andrevenancio commented on #718
IPFS is a network of decentralised nodes. Its there the assets get stored. In theory they should run without any restriction like your netlify app runs. You're right. it might have to due with Drako and how it works. I'm not sure if its the webworker that gets rejected or not. Lets see what Skenaja comes up with. he normally have really good insights.

[2021-05-20 13:09] 360fun opened #720 "Federating H=N / Forking Pixelfed"
**PROBLEM**
NFT artists, marketplaces and galleries must get visibility to increase their user base and attract collectors:
- in order to do that they are **dependent on social medias monopolies**
- actions requested to users are mostly **follow**, **like**, **share**: increasing the dominance of this **centralised model**
- more popularity they get and more they rely on **AI algorithms and their

[2021-05-20 14:26] mrdoob commented on #717
Damn... Kim Laughton 😮
Sorry about that. We're looking into it.

[2021-05-20 15:42] Pamicel opened #721 "FAQ: add https://hicetnunc.tools to wiki/Tools-made-by-the-community"
**Summary of change to FAQs you wish to make:**
* Adding https://hicetnunc.tools to the list of tools as "hicetnunc.tools : handy urls for tools"

[2021-05-20 23:20] andrevenancio commented on #717
reverted back to version 1.6.0. Awaiting deployment from @crzypatchwork. will revert back to newest version as soon as a patch becomes available from google model-viewer. Closing for now.

[2021-05-20 23:20] #717 closed, assigned to crzypatchwork

[2021-05-21 00:54] #703 closed, assigned to skenaja

[2021-05-21 01:47] TEMAnfts opened #724 "I dont know where else to go for help. I've posted in the discord and no one seems to know how to help."
Somone attacked me as a copyminter.

I minted an OBJKT that was a remix/reimagination of another NFT. However mine was:
1. Color Shifted from Green to Purple
2. Rotation of OBJKT was completely REVERSED,
3. Audio was added, the original had none.
4. The original minter said I could do it, I have screenshots of our convo, as long as I didnt make it seem like a collab.
5.  SO I literally put "stolen

[2021-05-21 11:41] skenaja commented on #724
This is being resolved via dialogue in Discord.

[2021-05-21 11:41] #724 closed, assigned to nobody

[2021-05-21 16:40] f1nasf1 opened #726 "(http 410) Object is restricted and/or from a copyminter"
**Describe the bug**
I own this item https://www.hicetnunc.xyz/objkt/13340, however, when I try to access it I get the following error: (http 410) Object is restricted and/or from a copyminter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/objkt/13340
4. See error: (http 410) Object is restricted and/or from a copyminter

**Expected behavior**
Before I can se

[2021-05-21 17:50] gexahedron opened #727 "Our artist page fails to load (due to several heavy glb files)"
Hi,

Hi! Our artist page is failing to load in Safari (on MacBook Air M1)

Here's the link to our artist page - https://www.hicetnunc.xyz/tz/tz1gSWL6m42ozC1CPzeQMvccxeKEsrjfwBFw
At first Safari writes "This web page was reloaded because it was using significant memory", this repeats several times, then Safari just gives a gray page with message "A problem repeatedly occured with..."

I guess the p

[2021-05-21 18:01] mtyka commented on #726
Unfortunately this objkt was a copymint and not from the original artist. The copyminting account that minted it
(https://www.hicetnunc.xyz/tz/tz1X1QzFdfAtzCF7E4UjnGSSFU1ADoXBRhSf) has been banned as have all their copymints.
This is the image the objkt pointed to : https://cloudflare-ipfs.com/ipfs/QmXvcmCBcBc7pAZ1oUHuZCR5fsnFZix1SrYUK9jZ4L6hLE

[2021-05-21 18:01] #726 closed, assigned to nobody

[2021-05-21 19:03] elalish commented on #717
working on it: https://github.com/google/model-viewer/pull/2411

[2021-05-22 05:43] kylegrover commented on #721
I tried to fork the git wiki but apparently that's not really a thing. Anyway here's the markdown for someone with access to add:
`* [hicetnunc.tools](https://hicetnunc.tools) An unofficial list of community hicetnunc projects`

I was also going to add my swaps tool under selling tools if that h=n feature isn't live yet:
`* [hicettum/swaps](https://ufffd.com/hicettum/swaps) by �: View your pending

[2021-05-22 05:54] kylegrover commented on #699
I don't understand the use of having it not go full screen. I think all objkts would benefit from a full screen display option without finding a hidden link (there is no indication that "ipfs" is clickable), and I can't think of any reason someone would prefer or expect the 80% view height option over a true full-screen view when clicking on the 'full screen' icon.

[2021-05-22 07:07] kylegrover commented on #727
This is an interesting issue. I see broadly two solutions: catch the performance error on the fly (if possible) and swap for thumbnail, or have model-viewer OBJKTs checked for compilation time when saved, and show thumbnails for OBJKTs over a certain threshold compilation time. An example of something similar to this second option is Shadertoy - when you save a heavy compiling shader they flag it

[2021-05-22 10:00] andrevenancio commented on #699
What do you consider fullscreen? Adjusting the image width to the full browser width and then having scroll bars to scroll up and down? Or do you consider fullscreen opening the image on 1x1 resolution and having vertical and horizontal scroll bars?

[2021-05-22 18:15] KuismaArt opened #729 "2 problems with my NFTs"
Hello.

My name is Kuisma. I am an artist.

My hicetnunc page:
https://www.hicetnunc.xyz/tz/tz1UV4EomFA8SUyE3d291YbNFb9uTS56pjzC

I've got 2 problems and need some help.

Problem 1:
3 days ago I minted my work "Hyperloop" on hicetnunc in 5 copies. But on my "creations" she only appeared in one copy. In addition, this copy immediately passed into the ownership of another user, who does not know abo

[2021-05-23 00:16] rawlikesushix opened #730 "why my nft stuck at "preparing OBJKT""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-05-23 06:19] christopheradams commented on #119
There's also the Hen user discovery tool: https://commodum.xyz/

Enter the address of the creator, scroll down to find the work you're interested and click the "History' link.

[2021-05-23 16:55] andrevenancio commented on #730
Please provide actual feedback beyond the title.

[2021-05-23 16:55] #730 closed, assigned to nobody

[2021-05-23 17:10] lauzaki opened #734 "FAQ: Add hicetnunc-radio to the Tools made by the community"
**Summary of change to FAQs you wish to make:**

Add HEN Radio to the Tools made by the community page

**Text change**

HEN radio: A simple OBJKT audio player By working group 7.2 with @__orderandchaos , during the first Hicathon. Supports MP3, WAV, and OGG. Can be embedded into any websites.

[2021-05-23 17:51] felipelopezv1 opened #735 "Hello, can someone help me with the following: when entering my gallery, I only see 4 creations of the 20 that I have"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-05-23 17:58] violetforest commented on #734
hey @lauzaki do you have the link?

[2021-05-23 17:59] violetforest commented on #721
added to "discover tools", thanks guys!

[2021-05-23 17:59] #721 closed, assigned to violetforest

[2021-05-23 18:13] animanoir opened #736 "None of my own OBJKTs appear in my profile/creations"
**Describe the bug**
None of my OBJKTs seem to load or something in my profile. I had 3. I CAN see my _collection_ tho.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/tz/tz1UCeiavj9Hz5s7jbwdYYNuhaQRfQv9uxSj
2. Click on **creations**
3. Scroll down to the bottom.
4. See error (or not see anything)

**Expected behavior**
To see my 3 OBJKTs

**Screenshots**
If a

[2021-05-23 18:27] Taezoo opened #737 "My NFT artwork is Disappeared."
Hi Hic et Nunc,

Around one hour ago, I found my NFT artwork is disappeared on your platform.
I don't know what's going on.

Here is my screen shot, my wallet and page address.
<img width="1060" alt="Screen Shot 2021-05-23 at 1 24 53 PM" src="https://user-images.githubusercontent.com/84681000/119272056-3617fc80-bbd2-11eb-8009-c7c364844b57.png">
Wallet address: tz1Pbpx6455DGPJ1vAfRWgL7cn2BsQ12Zd1r

[2021-05-23 19:03] 2o2es commented on #737
Same issue. I have minted 2 OBJKTs and today neither of them appear under my "creations" tab:
https://www.hicetnunc.xyz/tz/tz1LNVymUKpP8boRCKT7hrEUPAUL13C1K63b

![image](https://user-images.githubusercontent.com/84680934/119273100-526a6800-bbd7-11eb-927c-b33565c25334.png)

The individual OBJKT links still work:
https://www.hicetnunc.xyz/objkt/92562
https://www.hicetnunc.xyz/objkt/93966

but they d

[2021-05-23 19:14] violetforest commented on #737
https://twitter.com/hicetnunc2000/status/1396516829208719366?s=20 There was a temporary quick fix that went out about 30 minutes ago to address a serious issue we were having. Some of your OBJKTs might be missing from your creations page but they should still be available in your wallet. We will fix the issue of missing OBJKTS from your creation ASAP. Thank you for your patience :pray:

[2021-05-23 19:14] violetforest commented on #736
https://twitter.com/hicetnunc2000/status/1396516829208719366?s=20 There was a temporary quick fix that went out about 30 minutes ago to address a serious issue we were having. Some of your OBJKTs might be missing from your creations page but they should still be available in your wallet. We will fix the issue of missing OBJKTS from your creation ASAP. Thank you for your patience :pray:

[2021-05-23 19:14] violetforest commented on #735
https://twitter.com/hicetnunc2000/status/1396516829208719366?s=20 There was a temporary quick fix that went out about 30 minutes ago to address a serious issue we were having. Some of your OBJKTs might be missing from your creations page but they should still be available in your wallet. We will fix the issue of missing OBJKTS from your creation ASAP. Thank you for your patience :pray:

[2021-05-23 19:15] animanoir commented on #736
@violetforest ok, thanks for the response! Hopefully everything works well again.

[2021-05-23 21:20] felipelopezv1 commented on #735
Muchas gracias , ya esta ok.

Felipe

El dom, 23 may 2021 a las 21:14, Violet Forest ***@***.***>)
escribió:

[2021-05-24 03:47] depatchedmode opened #738 "Storybook Support"
**Is your feature request related to a problem? Please describe.**
WG 9.4 from the Hicathon will have some UX contributions to make in the form of a design system. While trying to follow the README to get setup to contribute, I've encountered some issues with packages not installing correctly, and also running the API.

These are solvable issues, but ideally running the whole site wouldn't be requ

[2021-05-24 04:12] depatchedmode opened #739 "Error installing `webcrypto-shim` package during local setup"
**Describe the bug**
When attempting to run the UI locally, I get this error during package installation:
`Could not install from "node_modules/libp2p-crypto/webcrypto-shim@github:dignifiedquire/webcrypto-shim#master" as it does not contain a package.json file.`

Npm `6.14.6`
Node  `v12.18.3`

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. Run `nmp i`

**Expected behavior**
Ins

[2021-05-24 08:40] KimLaughton commented on #717
Sorry sorry - delayed response, glad to see it working again!

Not a big deal in this case of course, but I can see that it gets tricky in the NFT future with viewers for more complex formats changing and losing backward compatibility.

[2021-05-24 08:45] Wilco1975 opened #741 "lower gas fees for collecting small amounts of curated hDAO"
Collecting small amounts of hDAO from my OBJKTS (0.00004 hDAO for example) incurs a gas fee of 0.03 TEZ.  So, essentially all those small amounts of hDAO are lost both to me and to whomever granted them.  This is bad for small artists that very few curated pieces or aren't as well known while rewarding the bigger, already established artists that have been curated multiple times on multiple OBJKTS

[2021-05-24 14:09] MikeiLL commented on #734
I'd like to see this as well. Not finding it via search engine.

[2021-05-24 14:10] violetforest commented on #734
done

[2021-05-24 14:10] #734 closed, assigned to violetforest

[2021-05-24 14:10] MikeiLL commented on #734
Here it is https://github.com/OrderAndCh4oS/hicetnunc-radio

[2021-05-24 14:19] #736 closed, assigned to nobody

[2021-05-24 14:20] #735 closed, assigned to nobody

[2021-05-24 14:20] #737 closed, assigned to nobody

[2021-05-24 14:24] violetforest opened #743 "Temple Wallet backtrack minting log results in "minted successfully""
**Describe the bug**
when minting with Temple Wallet, if the transaction backtracks, the screen still shows "minted successfully"

**To Reproduce**
Steps to reproduce the behavior:
1. Mint an objkt with temple wallet
2. Let the transaction backtrack
3. See "minted successfully" screen

**Expected behavior**
Should say "minting failed"

**Screenshots**
![Screen_Shot_2021-05-23_at_11 09 33_AM](https

[2021-05-24 14:25] animanoir commented on #736
They appear now. Thx.

[2021-05-24 15:21] violetforest commented on #627
This should be working with the latest update!

[2021-05-24 15:21] #627 closed, assigned to nobody

[2021-05-24 15:37] violetforest commented on #743
This was reported by a user but I can't reproduce it because I cant get temple wallet to backtrack. Closing for now.

[2021-05-24 15:37] #743 closed, assigned to andrevenancio

[2021-05-24 15:42] violetforest commented on #312
this should be done

[2021-05-24 15:42] #312 closed, assigned to andrevenancio

[2021-05-24 15:43] kylegrover commented on #741
Gas fees are simply part of transacting on Tezos, they can't just be removed. I like the idea of collecting all hDAO in one transaction to minimize fees though. I think it's okay that people can't withdraw until they've earned a certain amount. Currently it sounds like that threshold is about 10 cents (USD).

[2021-05-24 16:09] kylegrover commented on #699
For me I think it should retain its proportions, if it's smaller than the screen then it should be shown at original resolution in the center of the screen, if it's larger than the screen then it should fill as much of the screen as possible without scroll bars. ie:
max-width: 100vw; max-height 100vh; object-fit/background-sizing: contain

The ability to click to zoom full-resolution would be a ni

[2021-05-24 16:31] kylegrover commented on #729
I'd like to note that Kukai said you minted 5 editions of OBJKT#**87070** but you're asking about and linking to OBJKT#**87068**. Interesting that https://www.hicetnunc.xyz/objkt/87069 and https://www.hicetnunc.xyz/objkt/87070 show errors. There's definitely something strange going on here.

[2021-05-24 16:44] andrevenancio commented on #699
The thinking behind this was to remove all HTML elements so you could display the art piece fullscreen. If you imagine the context of an installation where there's no mouse/keyboard but simply the art is displayed on a screen. Feel free to submit a PR with your changes. as far as I understand object-fit only works on images and videos, but we render a lot more mediaTypes. So there might be some co

[2021-05-24 16:45] andrevenancio commented on #739
What is your node and npm version?

[2021-05-24 16:47] andrevenancio commented on #738
As far as I'm aware nobody has submitted a PR with Storybook. I think its a great idea. feel free to submit a PR

[2021-05-24 19:03] thiagodini opened #745 "Use images lazy loading to avoid extra data and browser crash"
When we try to see our gallery or the feed for new objkts, the browser tries to load a lot of content, doing more job than necessary most of the time. Maybe a simple solution to this case can be the new native HTML5 lazy loading, like these examples:
https://developer.mozilla.org/en-US/docs/Web/Performance/Lazy_loading

[2021-05-24 20:27] zmnv opened #746 "Thumbnails generator for GLB/GLTF objects"
Hello. Does hicetnunc.xyz has thumbnail generation process when minting? Because all objects (i.e. the first 85k objects dataset) has the same thumbnail now:

<img src="https://cloudflare-ipfs.com/ipfs/QmNrhZHUaEqxhyLfqoq1mtHSipkWHeT31LNHb1QEbDHgnc" width="128" />

Actually the creation process is very simple but.. I don't know how to store files right way...

Many object's sources has size around

[2021-05-24 20:53] sosias opened #747 "Improve performance: laggy or freezing because objkt previews"
When I open a collection, the page lags and becomes unresponsive. Sometimes when the objects are heavy or many, the whole browser freezes.

This is because all objects are loaded in full size and gifs and videos are played at the same time. A good solution would be to show only a thumbnail and play the animation on hover. Or add an enable/disable button to choose if you want to see the thumbnails

[2021-05-24 20:57] earthbound19 opened #748 "Failure to detect Temple wallet on Firefox + Windows 10; change suggestion"
**Describe the bug**
Under unknown circumstances, Hic et Nunc fails to detect Temple wallet (Firefox addon). Possible path to duplication detailed.

**To Reproduce**
Steps to reproduce the behavior:
- Install Temple wallet addon with an active (logged in) wallet.
- At Hic et Nunc, click "sync" in the upper right. Maybe this won't work on your first try. But if it does, maybe this will make it not

[2021-05-24 21:42] crzypatchwork opened #749 "broken /collection path"
an old feature was depracted during the implementation of subjkts smart contracts. being necessary to adapt hicetnunc.xyz/crzypatchwork/collection and hicetnunc.xyz/tz/tz1.../collection

[2021-05-24 23:57] andrevenancio commented on #749
Just pushed to `develop` and `main` give it a test.
you should be able to get both routes working

[2021-05-25 00:07] #749 closed, assigned to andrevenancio

[2021-05-25 03:46] christopheradams opened #752 "FAQ: WG 5.7 - Improve Maintenance fees FAQ"
**Summary of change to FAQs you wish to make:**

This issue comes from Hicathon WG 5.7 "Where do the fees go?"

* Improve the information in the FAQ about the maintenance fees to increase transparency about how the fees are calculated and where the funds go.
* Add new page `Maintenance-fees.md`

**If it's a new page, which navigation heading does it come under**

Add page "Maintenance fees" under

[2021-05-25 04:28] depatchedmode commented on #739
Might have noted in the wrong place in the issue, but:

Npm `6.14.6`
Node `v12.18.3`

[2021-05-25 05:11] earthbound19 commented on #748
For me, Hic et Nunc also fails to detect Temple wallet on a clean, new install of Chrome + Temple wallet browser extension on Windows 10.

[2021-05-25 05:16] earthbound19 commented on #748
Until it randomly did just now?! So, intermittent issue. Unreliable enough to be unusable :(

[2021-05-25 05:46] depatchedmode commented on #738
Ok great. Draft PR opened:
https://github.com/hicetnunc2000/hicetnunc/pull/754

[2021-05-25 06:31] christopheradams commented on #752
@violetforest Can we add the above as a separate wiki page titled "Maintenance Fees" and link to in the sidebar under the FAQs heading?

[2021-05-25 11:08] 360fun opened #755 "💡 Dark/Light switch: GET variable in links"
**PROBLEM**
I would like to be able to decide in which mode (dark/light) people see my links on HEN.

**SOLUTION**
I propose to add a GET variable to whatever link:
https://www.hicetnunc.xyz/tz/tz1cYe4ueZsd6pErnpyXHNDX4tHBjtJy89w3?switch=on
or shorter:
https://www.hicetnunc.xyz/objkt/73232?s=1

**BUTTONS**
In order to make this functionality visible to everybody I was thinking about 2 small button

[2021-05-25 11:20] supergraphik commented on #112
Hey thanks for looking into this —My question is - if I mint my GLTF before your 'autoplay': true' fix - will it work once the fix is implemented?

thx
SG

[2021-05-25 11:36] leonardschoelch commented on #112
This was implemented two months ago and should still work as far as I know :)

[2021-05-25 11:54] supergraphik commented on #112
Could it be something I'm not exporting that H=N needs?

thx
SG

[2021-05-25 12:13] supergraphik commented on #112
I figured it out!! - OK for the benefit of all others - it is a Blender GLTF export setting that is hidden away : I you have different animation tracks - then you must uncheck 'Group by NLA Track' - before you export!

![GLTF_Blender](https://user-images.githubusercontent.com/84778837/119495997-eca6e900-bd5a-11eb-8e72-863eefee5275.jpg)

[2021-05-25 13:15] andrevenancio commented on #755
Personally as a user I think the theme choice is up to me to decide. Either by personal preference, or accessibility reasons. Its not for the author of an NFT to decide the theme IMHO.

[2021-05-25 13:17] andrevenancio commented on #747
There's been a lot of work in the last couple of weeks towards this. Thumbnails need to be generated on old OBJKT and cache layers are being implemented

[2021-05-25 13:21] andrevenancio commented on #746
There is already work underway to generate other metadata fields besides `artifactUri`. We're generating `displayUri` and `thumbnailUri` for all old OBJKT before enabling this feature. It takes a while.

Secondly, as personal preference from hicetnunc founder we're deciding to explicitely disable the thumbnailUri generation [here](https://github.com/hicetnunc2000/hicetnunc/blob/main/src/data/ipfs.

[2021-05-25 13:23] andrevenancio commented on #745
The site already implements lazy loading. The issue is that currently we display the art that the user uploads. so if they upload a 4k image that's the image that gets served. there is a parallel stream of work where we're generating lower resolution thumbnails that should help speed up things, its currently being developed.

[2021-05-25 14:11] thiagodini commented on #745
Nice, @andrevenancio! But for me the lazy loading still not working, maybe add this HTML5 solution can
maximize the compatibility with this technique.

Check the attachment...
And thank you for all the job done! :)

![Screenshot_2021-05-24 hic et nunc](https://user-images.githubusercontent.com/1469596/119512321-954c4d00-bd49-11eb-9beb-ba91ff97a30d.png)

[2021-05-25 15:41] tarwin commented on #746
Yeah, I've got a solution for every file time. I've generated up to OBJKT 60,000 so far and ready to do the rest.

[2021-05-25 23:00] TechAes opened #756 "Call Swap "operation was rejected due to unknown operation branch.""
Hi!

I'm an artist on hicetnunc, and got my swap transaction stuck. This is the status on tzkt.io:
"Pre-validation error
An operation was rejected due to unknown operation branch."

Operation hash: opGvab6TKV8nU8RbsaV7FLWUsLtJbh4SfLnX687wGD6FKd5sGbj
Objkt link: https://www.hicetnunc.xyz/objkt/91071
Profile: https://www.hicetnunc.xyz/tz/tz1YtEizVqbuVW2StfFRL7PsZguFwqQbyUrh

In the Kukai wallet the

[2021-05-25 23:13] TechAes commented on #756
This somehow has solved. After one more swap everything is Okay.
Thanks)

[2021-05-25 23:13] #756 closed, assigned to nobody

[2021-05-25 23:44] crzypatchwork opened #757 "UI/UX components"
- [x] </> icon on interactive objkts
- [ ] menu/header changes
- [ ] play icon for videos/3d icons review
- [x] galleries fix
- [x] pagination for creations/collections
- [x] loading centralized horizontally/vertically :)) ( +/- )
- [x] different tags/sizes for texts depending on title/paragraph/warnings ( +/- )
- [x] css on settings/config/explore page
- [ ] profiles royalties/sales activity
**ob

[2021-05-25 23:49] andrevenancio commented on #757
Can we move the `/tags/SOMETAG` page to `/explore/SOMETAG` ? I think a explore page would be nice

[2021-05-25 23:51] crzypatchwork commented on #757
yes we could actually use only /explore instead of having /search /tags

[2021-05-26 00:19] animanoir opened #758 "Storage quota exceeded for the operation"
**Describe the bug**
I can´t mint a file.

I was trying to mint a photo with 4160 x 2340 of size, 9mb. Got at first an error saying something like: "Storage quota exceeded for the operation". I tried it again compressing the image and got a [backtracked](https://tzkt.io/op8TeZYfm8LAXtWfxgkxyPF2ggVjueMoaZoWsGVFxD4X7JG1fM4) failure. I tried again and got again the "Storage quota exceeded for the ope

[2021-05-26 01:30] Musikmang65 opened #759 "Loading OBJKT error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem. Network error
![image](https://user-ima

[2021-05-26 01:39] matenji commented on #759
Hello devs, I am also receiving the same error on one my object: https://www.hicetnunc.xyz/objkt/60426

[2021-05-26 01:44] Ccriswell44 opened #760 "My air gap stopped syncing"
My air gap wallet stopped syncing and its not allowing me to sync up anymore. I'd like to buy more nfts but can this please be fixed I don't know what else to do. It was working fine

[2021-05-26 01:53] violetforest commented on #757
https://github.com/hicetnunc2000/hicetnunc/pull/751 heres some HTML tags for accessibility

[2021-05-26 01:55] AllyAlejandra commented on #759
Hi :) having problem loading OBJKT

![image](https://user-images.githubusercontent.com/84801560/119591011-d6714b00-bda3-11eb-948e-27c48408abbd.png)

[2021-05-26 01:59] AllyAlejandra commented on #759
![image](https://user-images.githubusercontent.com/84801560/119591249-48e22b00-bda4-11eb-9227-af6ea750c003.jpeg)

[2021-05-26 01:59] AllyAlejandra commented on #759
![image](https://user-images.githubusercontent.com/84801560/119591384-7c24ba00-bda4-11eb-9503-914facf9228b.jpeg)

[2021-05-26 02:08] AllyAlejandra commented on #759
1st one
![image](https://user-images.githubusercontent.com/84801560/119592003-a3c85200-bda5-11eb-9ed0-6fb68181b553.png)

[2021-05-26 02:23] violetforest commented on #758
Hey, this is a template wallet issue. Here is some troubleshooting steps:

https://github.com/hicetnunc2000/hicetnunc/wiki/Troubleshooting#help-i-keep-getting-the-backtracked-error-and-im-using-temple-wallet

[2021-05-26 02:23] #758 closed, assigned to nobody

[2021-05-26 02:32] AllyAlejandra commented on #759
![image](https://user-images.githubusercontent.com/84801560/119593761-88127b00-bda8-11eb-8536-61a3b47da136.jpeg)

[2021-05-26 02:38] cindlin opened #761 "Problem loading OBJKT"
I currently own 2 of these objkts and listed 1 for a swap which went through last week, however after checking today noticed my id was not on the collectors section with a current swap order, while still showing I own 2.
I tried to swap again but the transactions did not go through.

https://www.hicetnunc.xyz/objkt/88542

[2021-05-26 02:40] AllyAlejandra commented on #759
305.850.1525
![image](https://user-images.githubusercontent.com/84801560/119594660-35d25980-bdaa-11eb-8fee-bacd180b3e31.png)

[2021-05-26 02:40] AllyAlejandra commented on #759
![image](https://user-images.githubusercontent.com/84801560/119594689-41258500-bdaa-11eb-9164-59768d769f5a.png)

[2021-05-26 02:45] AllyAlejandra commented on #759
917.703.0899
![image](https://user-images.githubusercontent.com/84801560/119595040-e7718a80-bdaa-11eb-8472-bedbb620b808.jpeg)

[2021-05-26 02:45] AllyAlejandra commented on #759
![image](https://user-images.githubusercontent.com/84801560/119595058-ee000200-bdaa-11eb-9eb0-43dd7d625dfc.jpeg)

[2021-05-26 03:06] jazzcomputer commented on #759
Object not loading here too

https://www.hicetnunc.xyz/objkt/66037

Google Chrome
Version 90.0.4430.212 (Official Build) (x86_64)

Big Sur 11.2.3

[2021-05-26 03:18] mtyka commented on #761
What's your wallet id ?

[2021-05-26 04:37] cindlin commented on #761
tz1cxbTVpHuEtdkQWCTnBYAZRPx7tvGBECub

Cindy Lin
***@***.***

On Wed, May 26, 2021 at 11:19 AM Mike Tyka ***@***.***> wrote:

[2021-05-26 11:57] christopheradams opened #763 "Cannot navigate to a PDF from a collection page"
**Describe the bug**

Since the recent changes that removed the ID overlay from each on a collection page, you can't click on a PDF OBJKT and navigate to its own page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/tz/tz1LfkiegSFauPXzh4pwsAKC2ddqHgNKy89J
2. You can interact with the PDF but you cannot reach the OBJKT page

**Expected behavior**
You should be

[2021-05-26 15:14] felipelopezv1 commented on #735
Hi Violet, I've been doing the steps to customize my profile, photo, name
and twitter for more than 5. days, but there are still no changes, can you
please help me
gracias
Felipe https://www.hicetnunc.xyz/tz/tz2K7ZBbBQ9CBZqdTM5GzMPSASXaQZKbmkQx

Hola Violet,
Hace ya mas de 5. días que realice los pasos para personalizar mi perfil,
foto, nombre y twitter.Pero ahun no hay cambios, puedes ayudarme po

[2021-05-26 15:30] violetforest commented on #205
closing due to inactivity

[2021-05-26 15:30] #205 closed, assigned to nobody

[2021-05-26 15:31] violetforest commented on #463
the svg has been changed, thank for the feedback!

[2021-05-26 15:31] #463 closed, assigned to nobody

[2021-05-26 15:31] bilgekaan opened #765 "Tags do not work"
**Describe the bug**
I got a blank page and the error below when I try to view a tag.

![image](https://user-images.githubusercontent.com/2965842/119688198-71bffa00-be50-11eb-8fce-b242a2507fe4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click any tag on a post. For example https://www.hicetnunc.xyz/tags/hiceturco

[2021-05-26 15:34] violetforest commented on #58
closing due to the issue being addressed with the hDAO / verified profile parameters

[2021-05-26 15:34] #58 closed, assigned to andrevenancio, crzypatchwork

[2021-05-26 15:35] violetforest commented on #436
closing due to this being addressed currently in development

[2021-05-26 15:35] #436 closed, assigned to andrevenancio

[2021-05-26 15:36] violetforest commented on #700
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/276

[2021-05-26 15:36] #700 closed, assigned to nobody

[2021-05-26 15:39] violetforest commented on #551
closing due to inactivity

[2021-05-26 15:39] #551 closed, assigned to nobody

[2021-05-26 15:44] violetforest commented on #694
@cryptoaliens Is this still a problem? Do you have a screenshot?

[2021-05-26 15:50] violetforest commented on #752
wiki changes are done, have to do a PR for the faq sidebar

[2021-05-26 15:52] violetforest commented on #633
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/546

[2021-05-26 15:52] #633 closed, assigned to crzypatchwork

[2021-05-26 15:52] violetforest commented on #729
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/546

[2021-05-26 15:52] #729 closed, assigned to nobody

[2021-05-26 16:01] violetforest commented on #752
PR done

[2021-05-26 16:01] #752 closed, assigned to violetforest

[2021-05-26 16:02] violetforest commented on #676
@zmnv are you still having this issue?

[2021-05-26 16:03] christopheradams commented on #752
Thanks @violetforest!

[2021-05-26 16:04] violetforest commented on #618
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/546

[2021-05-26 16:04] #618 closed, assigned to nobody

[2021-05-26 16:18] violetforest commented on #694
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/526

[2021-05-26 16:18] violetforest commented on #390
seems like this was resolved, closing

[2021-05-26 16:18] #390 closed, assigned to nobody

[2021-05-26 17:43] cryptoaliens commented on #694
I can get a screen shot give me a minute thanks. I’m pretty sure it will
work if I use my desktop and temple wallet

[2021-05-26 17:51] cryptoaliens commented on #694
I can’t get past this window I have funded the account

[2021-05-26 17:55] violetforest commented on #694
@cryptoaliens please send a screenshot

[2021-05-26 18:00] violetforest commented on #757
" fetch more information on FAQ/about"

what does this mean @crzypatchwork ?

[2021-05-26 18:02] violetforest commented on #664
duplicates of https://github.com/hicetnunc2000/hicetnunc/issues/667 and hicetnunc2000/hicetnunc-api#70

[2021-05-26 18:02] #664 closed, assigned to nobody

[2021-05-26 18:05] violetforest commented on #224
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/49

[2021-05-26 18:05] #224 closed, assigned to nobody

[2021-05-26 18:06] skenaja commented on #760
This is most likely an Airgap issue - you might want to obtain support from their Telegram group:

https://t.me/AirGap

[2021-05-26 18:06] #760 closed, assigned to nobody

[2021-05-26 18:06] violetforest commented on #412
this should be added to the wiki

[2021-05-26 18:09] violetforest commented on #588
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/285

[2021-05-26 18:09] #588 closed, assigned to nobody

[2021-05-26 18:10] violetforest commented on #426
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/276

[2021-05-26 18:10] #426 closed, assigned to crzypatchwork

[2021-05-26 18:11] skenaja commented on #748
The wallet detection is provided by Beacon, a third-party component.

This could be a possible cause:
https://github.com/airgap-it/beacon-sdk/issues/137

If you experience this behaviour again, please can you raise a ticket with the Airgap Beacon team? Thanks!

[2021-05-26 18:11] #748 closed, assigned to nobody

[2021-05-26 18:13] violetforest commented on #476
duplicate of https://github.com/hicetnunc2000/hicetnunc/issues/342

[2021-05-26 18:13] #476 closed, assigned to nobody

[2021-05-26 18:16] violetforest commented on #745
closing -- this is in development

[2021-05-26 18:16] #745 closed, assigned to nobody

[2021-05-26 18:16] violetforest commented on #747
closing -- this is in development

[2021-05-26 18:16] #747 closed, assigned to nobody

[2021-05-26 19:41] violetforest commented on #586
https://www.youtube.com/watch?v=AysjDjQYivE #hicathon Team 3-2 : Collaborative NFT with revenue sharing

[2021-05-26 19:55] zmnv commented on #676
@violetforest yes. just tried and the same situation.

I can see video in a preview area.

[2021-05-26 19:59] violetforest commented on #676
@zmnv what codec r u saving your video as? h.264 isn't supported in most browsers

[2021-05-26 20:01] kylegrover opened #767 "inputs missing "name" attribute / no autofill"
**Describe the bug**
On the minting page none of the input fields have a 'name' attribute set, resulting in them all defaulting to `name="input-name-not-set"`. As a result of this, the text fields do not remember your previous entries. This is bothersome to users when their mint fails and they lose their description, title, and tags.

**To Reproduce**
Mint an objkt. Return to the mint page and cli

[2021-05-26 20:26] KuismaArt commented on #729
Exactly!..

[2021-05-26 20:28] KuismaArt commented on #729
what does "duplicate" mean ?! this is my problem, with my particular thing ... and my money!
about this at least something is said in #546?
Who are you and how did you help me by closing my question?

[2021-05-26 21:44] kylegrover commented on #676
h.264 / mpeg-4 is actually probably the best codec to use, it's what I've used for all of my objkts. _h.265_ (aka hevc) is not widely supported.
see https://caniuse.com/mpeg4 and https://caniuse.com/hevc for browser support details.
@zmnv can you provide your video file, maybe something's unusual.

edit: if you're uncomfortable providing the video file for an unminted piece please provide info abo

[2021-05-26 21:49] kylegrover commented on #676
Also have you tried uploading other large files? And have you tried a different browser or different internet connection? Could be more to do with internet connection or browser than with the file itself.

[2021-05-26 21:55] Solido commented on #551
Sorry I did not take the time to clarify.
On home feed I would like to see the name of the NFT not objkt:00000
Thx

[2021-05-26 22:07] andrevenancio commented on #767
@kylegrover would you have time to submit a PR with the proposed change? Looks like its something we should have!

[2021-05-26 22:14] violetforest commented on #729
I am a developer in the hicetnunc team.

Your NFT is safe, its just a display issue.

You said it yourself when you said "At the same time, I see all 5 copies in my wallet and they belong to me ..."

@KuismaArt duplicate of issue means that you raised an issue that has already been raised and addressed. I sent the link to the issue where you can read what the problem is.

The problem is that the A

[2021-05-27 00:44] schonschoncrypt opened #771 "http 410) Object is restricted and/or from a copyminter"
*Describe the bug
When I click on the object in my gallery, the following message appears: (http 410) Object is restricted and/or from a copyminter

To Reproduce

Expected behavior
When I click on the object the message above appears

Screenshots
![![image](https://user-images.githubusercontent.com/84883080/119748503-e3487a00-be49-11eb-903a-90e4e96934f6.png)](https://user-images.githubusercontent.

[2021-05-27 04:47] KuismaArt commented on #729
Excellent! Thank you very much!
Now I have the answer I was waiting for! ;-)

Sorry... I'm just a poor artist trying to make money with my art. I invest my time in promoting my work.
This place is the only place where I can get this help. And the answer "closed cos duplicate" was not help ...

But now I hope that the problem will be solved soon! ;-(

Thanks in advance !
Best wishes! ;-)

[2021-05-27 12:04] zmnv commented on #676
@kylegrover

Can you provide your codec settings? Resolution and bitrate please?

Sorry I forgot to say my video's props:

1. Resolution: 3840x2160 (does it supported? I can see my video in a preview and play it. everything is fine.)
2. Bitrate: i tried aroud 10 000 kbit/s.
3. codec: I've tried h.264 AVC and HEVC and dont have any problems anywhere to play it.

I have a bad situation only when pre

[2021-05-27 12:21] zmnv commented on #676
I've  tried MPEG4 and... it doesnt preview...

![image](https://user-images.githubusercontent.com/25253501/119825019-34ff0c00-beff-11eb-93de-a25e00bf76d9.png)

[2021-05-27 13:24] #767 closed, assigned to nobody

[2021-05-27 16:44] violetforest commented on #676
have you tried an mp4? this is what i usually use @zmnv

[2021-05-27 19:47] crzypatchwork commented on #765
andre some of your commits are bringing issues to the stack. you should reconsider some of these contributions as they are not even tested... while there are some other bugs/fixes of the same genre

[2021-05-27 19:58] crzypatchwork commented on #765
I must also say that the use of hooks didn't quite went well in the design of the platform.

[2021-05-27 20:44] outcassed commented on #49
what about doing it by sending the artist a little tip $?

[2021-05-27 20:45] #765 closed, assigned to andrevenancio

[2021-05-27 21:48] bilgekaan opened #775 "interactive objects' thumbnails are broken on tag view"
**Describe the bug**
The interactive objects' thumbnail doesn't show on tag view.

![image](https://user-images.githubusercontent.com/2965842/119901223-4d4a4780-bf4e-11eb-9e16-87fae433f29a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. You can check this tag for example https://www.hicetnunc.xyz/tags/html

[2021-05-27 21:51] bilgekaan opened #776 "burned objects appears on tag view"
**Describe the bug**
I burned an object yesterday but it appears when you view one of its tags.

**To Reproduce**
Steps to reproduce the behavior:
This is the tag: https://www.hicetnunc.xyz/tags/hiceturco
And this is the burned object: https://www.hicetnunc.xyz/objkt/97853

[2021-05-27 21:56] bilgekaan opened #777 "tags are case-sensitive"
**Describe the bug**
After the tag fix, they became case-sensitive. For example, https://www.hicetnunc.xyz/tags/Html and https://www.hicetnunc.xyz/tags/html links go to different pages. When you mint, all tags are converted to upper-case so case-sensitive tag links might be confusing.

**Expected behavior**
tag links should be case-insensitive

[2021-05-27 23:41] sodomstar commented on #761
I got same problem!

tz1VxfP7JYR7ANiqfDobivHq88ieJgA4opSY

[2021-05-28 00:13] sodomstar commented on #676
Same problem for me.I cant upload my video. I see «preparing OBJKT» and nothing happens.

[2021-05-28 01:00] fabiomorreale commented on #586
That looks amazing @violetforest ! Any idea of when is this feature going to be available?

[2021-05-28 01:04] kylegrover commented on #771
You must have bought a copymint / counterfeit. People upload john's art a lot and it takes a moment to catch it and take it down. For now it's best to check the wallet that you're purchasing from to see if it's the real one.

[2021-05-28 01:36] kylegrover commented on #777
I think this requires changes in hicetnunc-api

[2021-05-28 02:41] lenie-blue opened #778 "Bug report of PDF minted"
![Screenshot_20210528-041928](https://user-images.githubusercontent.com/84947825/119920959-7d551300-bf6d-11eb-8a44-3cebd2060a2d.png)
![unknown](https://user-images.githubusercontent.com/84947825/119920962-7e864000-bf6d-11eb-9154-823c5455728f.png)
![Screenshot_20210528-042710](https://user-images.githubusercontent.com/84947825/119920965-7e864000-bf6d-11eb-8a30-9635c7083ea4.png)

Hi everyone and tha

[2021-05-28 10:48] sodomstar opened #780 "I can't upload video file"
this is a 33mb mp4 video

Uploaded video. Go to preview.
When .mp4 -- I see my video as preview and I can play
Mint
I see **«preparing OBJKT»**

and than nothing happen just stucking forever!

I tried it on another computer and internet connection and another browser.Same situation..

 - OS: Windows10
 - Browser Chrome
 - Version 91.0.4472.77

My wallet: tz1VxfP7JYR7ANiqfDobivHq88ieJgA4opSY

[2021-05-28 14:35] Anshulrawal opened #781 "Problem in (post)minting"
I submitted my work for minting[Hicetnunc], payment request was received on the wallet (Kukai) and i submitted it. However on the site nothing happened. I checked my [Hicetnunc] profile for my Objkts, nothing seems to appear.

The minting amount has been deducted. I tried again and same thing happened. Amount has been deducted yet nothing is showing on the mint page or my profile.

Process that I

[2021-05-28 18:24] schonschoncrypt opened #782 "Receiving tezos for swaps"
Hi,
I had to sales 3-4 days ago but did not receive any tezos. How is the transfer from the hicetnunc wallet back to mine happening? And when can I expect them? I use the temple wallet.
Thanks!

[2021-05-28 19:17] earthbound19 commented on #748
I may do that, thx.

[2021-05-28 22:22] klassare opened #785 "Truncation error in swaps"
**Describe the bug**
Swaps can result in a truncation error that will cause the operation to fail in wallets.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `price per OBJKT` to a value that will result in a truncation error. For example: `32.99`
2. Click on the `swap` button

**Expected behavior**
The int in the operation request should always be an integer. (e.g. 32990000 instead of 3

[2021-05-28 23:00] kylegrover commented on #671
I believe this would be addressed by #513

[2021-05-29 12:12] zmnv commented on #676
I've tried mp4. mov. avc. hevc. h264. mpeg4. ITS ALL WORKS in my browser and other browsers I've checked this and it's works.

the **uploading** doesn't work for my file.

Can you check is any country blocked or something?... I have no problems when upload and play my video to IPFS directly without hic.

[2021-05-29 17:07] kylegrover commented on #676
Yeah I don't think it's the video codec. All I can recommend is trying to isolate factors. Can you successfully mint smaller videos? Can you mint images, small or of the same size? Is there any other internet connection or devices you can try? (You can mint from a second account and/or burn after minting to do tests)

[2021-05-29 20:44] zur19 opened #787 "Cannot swap OBJKT"
Cannot swap OBJKT#101089, tried for 3 days and with different parameters...  (I have no problem with an identic objkt which I have created later, with same edition, same #number of copies, same price). I have enough TEZ on balance.

Error message: Parameters Invalid Some of the parameters you provided are invalid and the request could not be completed. Please check your inputs and try again.

Kuka

[2021-05-30 11:27] technosmith opened #789 "Alert me when my favorite piece becomes available on the secondary market"
**Is your feature request related to a problem? Please describe.**
When collectors are looking for a piece/s that is no longer available “not for sale” they would need to go into the specific object every time to see the availability of that object. Collectors are looking to acquire many objects that are not for sale, it is difficult to manage.

**Describe the solution you'd like**
It'll be good t

[2021-05-30 15:22] dadadaduts opened #791 "Wrong transaction"
I was collecting an NFT from https://www.hicetnunc.xyz/tz/tz1NMz59VkcbWRqg2ms1rKsebJrnKwFRMidU. When I checked my collections, it did not appear on them. My Temple wallet was deducted 5tz to an unknown account: https://www.hicetnunc.xyz/tz/KT1Hkg5qeNhfwpKW4fXvq7HGZB9z2EnmCCA9

[2021-05-30 15:34] peerkriesel opened #792 "HTML OBJKT: image source link is broken after upload"
I have a display problem OBJKT (HTML): https://www.hicetnunc.xyz/objkt/105730
The Problem is, that there must be a problem with the upload of the files in the ZIP-folder. So the images/graphics  are not available, so that the image source links are broken or the index.html could't find the PNG and JPG files. Just one "alt" is displayed.

The problem must have been at the upload/minting procedure.

[2021-05-30 15:51] tb9jen opened #793 "Galleon verification issue for curation"
Similar to another bug posted, I get "Could not estimate fee due to operation error"  when attempting to curate my first piece.
error details:
backtracked
failed (temporary: proto.009.PsFLoren.michaelson_v1.runtime_error

No fields appear when attempting to curate, it just tries to connect to the wallet immediately, so this may be the real issue.

**Desktop
 - OS: 10.14.6
 - Browser: Chrome
 - Ver

[2021-05-30 17:41] JamDevCore commented on #737
An NFT of mine went completely missing via hicetnunc - I thought maybe it sold but nothing came but but I can see a transfer in the blockchain to hicecnunc but I didn't make this transfer

[2021-05-30 18:37] peerkriesel commented on #792
It was a Problem with the ZIP file.

[2021-05-30 18:37] #792 closed, assigned to nobody

[2021-05-31 09:46] zmnv commented on #676
@sodomstar try to connect a some VPN service first and then try to upload again. did you try it?

I can mint my video only from another computer with vpn enabled...... I think this is a some connection issue....

[2021-05-31 12:58] KuismaArt opened #796 "Invisible art on profile."
Hi.
My name is Kuisma. I am an artist.

This is my profile:
https://www.hicetnunc.xyz/tz/tz1UV4EomFA8SUyE3d291YbNFb9uTS56pjzC

My works are not displayed in the profile.
Nobody can see my art. I have been unable to sell my NFT for several weeks ...

It's really sad ;-(

Help me, please!

[2021-05-31 14:02] katzworld opened #797 "TIME LOCK / TIME DROP scheduling"
time lock drops ( mint cool down?)  or add some random times to the swap to site to prevent bots from sniping items

options to hold item and list at a specific time midnight on friday 13th (IE) dropping said item at 00:00:00 ready for sale
item would be minted and ready to sale but H=N would go live at midnight with item already in the que

currently the flow on TZ explorer from start to finish o

[2021-05-31 14:41] skenaja commented on #797
I'm pretty sure that bots are just watching for `swap` operations for their favourite artists, so dropping at random times might not solve this. I can see a use for scheduled drops, as this helps collectors in different timezones to the artist.

The root cause of the bot problem is caused by artificial scarcity of editions created by the artist. If they swapped & priced according to more realistic

[2021-05-31 15:47] katzworld commented on #797
if it could be pre=swapped? and being held for the last possible time... not sure on all the checks in the system if this is even an options ... I do watch for swap via the tz.io after I get the telegram notification that there was money moved on an account I want to purchase from ...    from there I know any moment that the item would drop from the minter out to sale ... is there a time in that c

[2021-05-31 16:44] skenaja commented on #797
Unfortunately, this is not possible - the nature of the blockchain is that all transactions are transparent & visible to all. Bots watch the transactions 24x7, and can get notifications of a swap happening within a few seconds.

[2021-05-31 22:33] lurex666 opened #798 "hicenunc.xyz has been blocked by CORS policy"
hi!
i'm having problem minting, stays on "preparing objkt" screen forever and the temple wallet pop-up doesn't even appear
tried reinstalling chrome, alternative browsers, reloading the modem, cleaning the cache, kukai wallet... but nothing yet
already tried compressing the file to like 9mb but no success

this is what the codes stuff page shows

![erro](https://user-images.githubusercontent.com/8

[2021-06-01 03:47] kylegrover commented on #789
One question/thought I've had about this - should an objkts 'wish list' status persist after you've been notified of a listing? For example you wish list an item, get an email (or whatever) that it's available, and by the time you check it's already sold out again. For convenience I want to say it stays until you buy it, but for the servers sake that might get crazy.

I also think functionality li

[2021-06-01 03:56] AlexandreRangel opened #800 "Add interactivity icon </> to SVG file thumbs"
Add interactivity icon </> to SVG file reduced thumbs on browse page.

[2021-06-01 04:32] damondpham commented on #660
I was trying to mint an interactive OBJKT with subfolders, and indeed, I had trouble getting it to work. Then when I flattened it as @keaukraine suggests, it started to work! My file paths were all relative; the only difference is that I moved everything outside the nested folder.

[2021-06-01 04:36] damondpham commented on #660
But @pichiste your test zip works for me too, so I'm not sure what the problem is.

[2021-06-01 07:02] technosmith commented on #789
Makes sense that there be some Tez/hDAO commitment for a feature like this. It will probably reduce its use to the more committed collectors in turn reduce the tech resource needs for the feature. I would prefer persist until buy.

[2021-06-01 07:13] pichiste commented on #660
Hey @damondpham, could you share a sample zip file that exhibits the error with the subfolders? I'm unable to reproduce the problem so it would be very helpful. Thanks

[2021-06-01 08:09] damondpham commented on #660
Sure, here is an example. The html file should show a white square against a blue background, but the white square is absent in the H=N preview.
[HEN_bug.zip](https://github.com/hicetnunc2000/hicetnunc/files/6574544/HEN_bug.zip)

[2021-06-01 08:17] damondpham commented on #660
If I replace the div having the image background with a regular <img> tag that also doesn't work. Here the white square becomes a 404 icon for me.
[HEN_bug2.zip](https://github.com/hicetnunc2000/hicetnunc/files/6574587/HEN_bug2.zip)

[2021-06-01 08:42] pichiste commented on #660
@damondpham Thanks for posting the test file – strangely, if I unzip, then re-zip your test file, it works for me (I'm on mac). Can you try with this one?

[HEN_bug_rezipped.zip](https://github.com/hicetnunc2000/hicetnunc/files/6574735/HEN_bug_rezipped.zip)

Are you on Windows by chance? There was a case before where a similar issue occurred, where a zip created on Windows didn't work, but did wor

[2021-06-01 08:43] crzypatchwork opened #801 "wrong semantics"
this is not a "thumbnail" it's a display on feeds/profiles, in this sense that blue wording is misplaced
![Screenshot from 2021-06-01 05-42-46](https://user-images.githubusercontent.com/24375224/120294194-59127280-c29c-11eb-9d97-43f08909e1c5.png)

[2021-06-01 08:45] damondpham commented on #660
Your re-zipped file works for me. Yes, I'm on Windows! So that seems to be the issue.

[2021-06-01 08:48] pichiste commented on #660
Ok, good to know. I will need look further into this when I can get access to a windows machine to test on. Will report back here with findings. Thanks for helping track this down!

[2021-06-01 14:46] crzypatchwork commented on #800
we're still considering it since svgs can be also used for another purposes

[2021-06-01 15:26] kayaman347 opened #802 "objkt page displays wrong edition numbers"
**Describe the bug**
https://www.hicetnunc.xyz/objkt/108682 displays 7 editions priced super cheap, so I bought, after the transaction the edition number jumped to 25. asked on twitter what others saw, it was both 7 and 25.
https://twitter.com/kaya45816520/status/1399732958555250689

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2021-06-01 15:49] ertdfgcvb commented on #746
Slightly unrelated question: will the thumbnails also be generated for (interactive) SVGs uploaded without .ZIP packaging?

[2021-06-01 16:08] szostek commented on #629
Hey guys, was there any resolution to this? I have the exact issue when building to HTML from UE4. I have an FPS experience that works perfectly on a local server, and works when minted on HEN, however, the mouse cursor leaves the canvas when moved past an edge. I get the exact same error message in console:

"Blocked pointer lock on an element because the element's frame is sandboxed and the 'all

[2021-06-01 16:20] noonenoise commented on #796
I have the same problem . 2 of my artworks are not showing
hic.art/Noonenoise

[2021-06-01 16:37] ShararehFaryadi commented on #796
Hey there, It's Sharareh
I have the same problem,
this is my account link and I just found that one of my works and almost all of my collection is invisible !!!
https://www.hicetnunc.xyz/tz/tz1h1S2w7rTSJ5zSeRPtWtRAoCVEkkCjBsKQ
Please help me!

[2021-06-01 16:40] DamsDraws commented on #796
Me too 15mn ago, almost half of the gallery :/
screenshot before/after -> https://imgur.com/l3lMqiC

[2021-06-01 16:52] felinoo opened #803 "Thumbnails stop working"
Hello!
when i minted my NFTs they were all working well, they just stoped working. I know its not the code cause it worked once..
Anyone knows if i gotta do something?
https://www.hicetnunc.xyz/tz/tz1YNGWkQTyNvEvuukFhLehZv7niyAdmuWEp
![image](https://user-images.githubusercontent.com/84288686/120361786-a7496500-c2e0-11eb-912d-8913e76562b2.png)

[2021-06-01 16:55] KuismaArt commented on #796
My problem was solved!
And ican see your collection too!

[2021-06-01 16:56] KuismaArt commented on #796
My problem was solved!
Thanks!!!
![Uploading IMG_20210601_195044.jpg…]()

[2021-06-01 17:01] #796 closed, assigned to nobody

[2021-06-01 17:08] ShararehFaryadi commented on #796
No, that's only 2 of my pieces, I had more :(

[2021-06-01 17:20] tarwin commented on #746
The solution I have does create for interactive SVGs. I don't know if the frontend one does.

[2021-06-01 17:52] bilgekaan commented on #803
yeah, old interactive nft thumbnails are broken now

[2021-06-01 18:01] felinoo commented on #803
oh no
does dthis happen often? do they go back to normal?

[2021-06-01 19:13] makeitrad opened #804 "Collection Sorting"
This started this morning around 930am PST.

The collection tab sorting is no longer happening by OBJKT number. I'm not sure how its sorting but its showing some really old ones first. Many are reporting the same issues on Discord in the bug channel. Also interactive thumbnails seem to not be working. Burned copies of copy minted work are now being displayed in the collections as well and should n

[2021-06-01 19:37] bilgekaan opened #805 "Older interactive nft thumbnails are broken."
**Describe the bug**
Older interactive nft thumbnails are broken. We were uploading them inside the zip file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/tz/tz1VZUTpbJQiQZvpXE9kTCydgyTTxpW49G5o
2. Last two thumbnails are uploaded with the new method so they are fine. Other thumbnails were inside the zip file.

**Screenshots**
![image](https://user-images.g

[2021-06-01 19:50] bilgekaan commented on #803
I opened a bug report about this here https://github.com/hicetnunc2000/hicetnunc/issues/805

[2021-06-01 20:20] spacegoodies opened #806 "/collection showing pieces on secondary already sold"
**Description**
As a user, if I navigate to my profile /collection, I see all pieces owned and being sold on secondary. At the moment, it currently includes pieces already sold on secondary, which should not be shown because the collector no longer owns them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/tz/tz.../collection
2. Navigate and find an item sold

[2021-06-01 20:56] EL314B opened #809 "Creations Profile Playback (Desktop)"
BUG
OBJKTS on my creations profile aren't loading on desktop and playing back at slow speed.

To Reproduce
1. Go to https://www.hicetnunc.xyz/tz/tz1LLSwj6gGNX1eFHAvnt4tkC8WQryeRBpPW
2. See error
3. Click on OBJKTS and will reproduce at right speed. Scroll down and older OBJKTS will load perfect.

Expected behavior
OBJKTS on creations profile playback at same speed on browser just like on the smart

[2021-06-01 21:46] felinoo commented on #803
UPDATES
I minted a jpg this time and hic said this
![image](https://user-images.githubusercontent.com/84288686/120394399-bc86b980-c309-11eb-8bd3-0842c97ad83b.png)

[2021-06-01 22:15] ries9112 commented on #522
Seems to be fixed now on my side 🙌 Thank you very much for all the hard work, I think this one can probably be closed now based on what I see for my profile 🙂

[2021-06-01 22:46] Mandana-Behdad opened #811 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-06-01 22:46] Mandana-Behdad opened #812 "FAQ: [summary of change]"
**Summary of change to FAQs you wish to make:**
* For example: new page `foo.md`, edit to page `bar.md`.
* If want to reorder any existing page, note this here too.

[*enter change here*]

**If it's a new page, which navigation heading does it come under**
* For example: Minting guide, FAQs, Misc

[*enter navigation change here*]

**Text change**
* Add here the new text (and old text it's replacin

[2021-06-02 00:00] rodellwarner commented on #804
Would like to add that in my collection all OBJKTs that have ever been in the collection are currently being displayed in apparent random order, even OBJKTs that have been sold or sent to other wallets that do not currently exist in my wallet.

In another collection of mine, on my second hicetnunc account, the issue is that only two OBJKTS are being displayed in my collection and they are both OBJ

[2021-06-02 01:09] #811 closed, assigned to nobody

[2021-06-02 05:39] myth05 opened #814 "Some Objkts I bought do not appear on my collection page"
**Describe the bug**
Some objkts that I recently bought do not appear on my collection page. They appear in my wallet, and appear on chain, but they do not show up on my collection page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.hicetnunc.xyz/objkt/110037
2. Click on 'collectors' and I'm the only one. Click on my address. Click on 'collection'
3. Scroll down the page

[2021-06-02 07:13] youtopia2 opened #815 "Avatar not uploading, can't make profile on HEC"
**Describe the bug**
In the create profile google doc, I have been trying to upload my avatar (512px squared PNG) for two days now but it keeps failing. I have tried reducing resolution, reducing px size, I've also been uploading on PC so it shouldn't even be a device problem but it just won't upload and it's keeping me from making an account.

**Desktop (please complete the following information)

[2021-06-02 07:28] tarwin opened #816 "Licensing option on Mint"
Saw this great post today where an NFT creator was offering the use of different types of licenses for NFTs.

https://twitter.com/YKarkai/status/1398387574977273865?s=19

It might be useful to add an option when minting to add a license (or none) from a list like this. Could also include any kind of CC ones as well although they may not make sense for NFTs.

[2021-06-02 13:06] SableRaf commented on #805
Looks like it just got fixed. Did https://github.com/hicetnunc2000/hicetnunc/commit/3ab8eb6fe9d77e8c9ec673976df532808447ed55 do it?

[2021-06-02 13:35] #814 closed, assigned to nobody

[2021-06-02 14:09] sodomstar commented on #676
I can uploaded the video but I can't get preview on some mobile devices.

and I use H264

[2021-06-02 14:22] #805 closed, assigned to nobody

[2021-06-02 14:23] #775 closed, assigned to nobody

[2021-06-02 14:27] bilgekaan opened #819 "Can't upload interactive objkts (HTML)"
**Describe the bug**
When you try to upload/preview an HTML zip, it stuck at the empty gray screen and I got the error below on the console.

![image](https://user-images.githubusercontent.com/2965842/120498474-eacace80-c3c7-11eb-921b-b27989a31787.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Try to upload/preview an HTML zip

[2021-06-02 16:22] Andmat7 commented on #819
same bug

[2021-06-02 16:35] crzypatchwork commented on #806
this was troubleshooted. could you share more info though, as an objkt id?

[2021-06-02 16:36] crzypatchwork commented on #797
we could have some oracle which holds objkts and triggers a swap though

[2021-06-02 17:21] CandleCove commented on #819
same

[2021-06-02 18:48] spacegoodies commented on #806
Looks like you rolled back... Here's 1 item I regret selling https://www.hicetnunc.xyz/objkt/375 Wallets seem to show sold items as a 0 asset so there has to be a way to isolate what is sold and what is for sale on secondary, which is also displayed as a 0 asset. Thanks for all the great work! Artists and collectors all love the platform.

[2021-06-02 19:05] pichiste commented on #819
Fix has been merged to `main`, awaiting deployment: https://github.com/hicetnunc2000/hicetnunc/pull/813 @crzypatchwork

[2021-06-02 19:05] #819 closed, assigned to pichiste, andrevenancio

[2021-06-02 21:53] kylegrover commented on #816
I think this is good. Having a default "all rights reserved" setting would also take out any ambiguity people have about art NFTs currently (have seen people saying ie "does this mean I can use this as album art?"). Mockup:
![image_623](https://user-images.githubusercontent.com/26558614/120556780-d24fb980-c3b1-11eb-8686-ecddd6790b6e.png)

some questions: should there be an "Other"/type your own op

[2021-06-02 21:56] kylegrover commented on #815
This is handled outside of hicetnunc, contact baking-bad. More info here https://baking-bad.org/blog/2021/05/01/f-a-q-hic-et-nunc/
And the upload bug is a problem with Google, you'll need to contact google support (good luck with that) or ask baking-bad for a workaround, I think they respond to email or twitter dms

[2021-06-02 22:00] kylegrover commented on #812
You need to actually fill out the issue, this is just the boilerplate text.

[2021-06-02 22:00] #812 closed, assigned to violetforest

[2021-06-03 05:26] bilgekaan opened #821 "hdao shows zero"
**Describe the bug**
I have some hdao but it says zero on my profile for the last two days.

[2021-06-03 09:38] jamesdelaneyie opened #822 "Missing a bold weight of new font, resulting in faux bolding"
Currently, there is only a single font used across the site. However <strong> is being used to bold via font-weight: 700, but there is no 700 weight of the font. Resulting in faux bolding. Bad Typography! Naughty!

Full family is available to buy here: https://www.atipofoundry.com/fonts/basier-mono/pay-what-you-want

I'm gonna purchase the font family and figure out how to make a pull request with

[2021-06-03 13:51] AlexandreRangel commented on #800
Maybe you could read the content of the SVG file, looking for <script> tags.

[2021-06-03 14:42] crzypatchwork commented on #822
don't worry we can do this with monospace. but bringing some font/UI fixes are welcome.

[2021-06-03 14:57] jamesdelaneyie commented on #822
I'm not sure I follow what you mean when you say you 'can do this with monospace'? using the browser's bolding instead of loading the bold weight of the font designed by the type designer? . EDIT this is a bit curt in tone, apologies

[2021-06-03 16:36] Dell95 opened #823 "I minted my nft and my tezos are deducted but my nft is not visible"
recently i have minted my a nft on hic et nunc and my tezos are deducted but my nft is not visible
please someone fix this issue

[2021-06-03 23:29] ghost opened #824 "(http 410) Object is restricted and/or from a copyminter"
An objkt appeared on our collection which we don't want. We don't know how exactly this objkt came to our collection. When we try to burn it, the system gives the alert that is the topic of this thread. How can we get rid of it?
objkt nr is 101611.

Our profile link is;
https://www.hicetnunc.xyz/tz/tz1f2V6kGGUmBQoQwSFkSDihXcvfSZ7mvZmj

Thanks,
Vodoo Dao

[2021-06-04 00:35] anaresende0 opened #825 "Can't swap a piece on HEN"
**Describe the bug**
All day I've been trying to swap a piece and a message of error appears:
Error
Failed to send request to https://mainnet-node.madfish.solutions/chains/main/blocks/head/helpers/forge/operations. Invalid request provided or RPC node is temporarily unreachable.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'manage assets
2. Click on swap
3. click on confirm
4. See er

[2021-06-04 11:07] wolfbooy opened #829 "Media File Not Supported on one objkt"
Hello!

I am having an issue on my Manage Assets profile page. In the last objkt that i minted it shows me the message, MEDIA FILE NOT SUPPORTED. It is a .png image. Maybe some kind of a bug. When i click the OBJKT everything is displaying fine.
![medi](https://user-images.githubusercontent.com/79932927/120792382-1d96d300-c53e-11eb-91ff-99f592cee59f.JPG)

[2021-06-04 15:03] sodomstar commented on #780
I can uploaded the video but I can't get preview on some mobile devices.

[2021-06-04 15:14] tenineight opened #830 "HTML mint preview shows blank page"
The page is blank (white/black) when trying to ´preview´a HTML (*.zip) OBJKT during the mint-process.

I already tried to unsync/sync the wallet. Tried another browser. Tried a very simple HTML OBJKT (which I attached for reproduction purpose).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/mint'
2. Upload an interactive HTML OBJKT (*.zip)  '....'
3. Click `preview`
4. See that the

[2021-06-04 17:01] tenineight commented on #830
Somehow it now works without doing anything differently.

[2021-06-04 17:12] kylegrover commented on #830
Should be fixed with 5cdd24571c7d70a72816d75bda84a186364f047a

[2021-06-05 00:14] holonick opened #831 "Paid for NFT, no NFT in wallet"
**Describe the bug**
I made a purchase last night https://tzkt.io/oo4B4uW54gfwxC4DBJH4quNyEPEvk5eUs3yVrukeMBYmNYKrgsU
I look in my wallet and there is no NFT but the Tez is gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://www.hicetnunc.xyz/objkt/56542
2. Click purchase
3. Maybe it works for you, maybe not, didnt work for me
4. See error

**Expected behavior**
I expected t

[2021-06-05 15:00] bilgekaan commented on #803
it seems fixed now, you can close this

[2021-06-05 17:09] #809 closed, assigned to nobody

[2021-06-05 19:53] #803 closed, assigned to nobody

[2021-06-05 20:15] crzypatchwork commented on #831
it seems that it was just a glitch in the API. it takes some times to update informations from the blockchain.

[2021-06-05 20:15] #831 closed, assigned to nobody

[2021-06-05 20:15] #830 closed, assigned to nobody

[2021-06-05 20:50] MishtaZero commented on #829
its the same, i've tried to min a JPEG and show me this message:

(http 500) <!DOCTYPE html> <html lang="en"> <head> <meta charset="utf-8"> <title>Error</title> </head> <body> <pre>TypeError: Cannot read property &#39;creators&#39; of undefined<br> &nbsp; &nbsp;at readObjkt (/var/task/lib/router/readObjkt.js:14:54)<br> &nbsp; &nbsp;at runMicrotasks (&lt;anonymous&gt;)<br> &nbsp; &nbsp;at processTi

[2021-06-05 22:57] mikus95 opened #832 "Buy transaction Complete but swap option not showing up."
I purchased object #116116 and it shows that the transaction was applied. However, when I click on the object in Hen it only shows 3 collectors which didn't include me. It also doesn't give me the option to swap even though i see it in my collection. It was done on my computer using chrome. Below is the transaction.

https://tzkt.io/ooNiQxz1LZRxHrK3PhugzE8LnfqKaMZRYLcVqz5TCzSRVhgfN9B

[2021-06-05 23:08] spicysmoke commented on #829
This has happened to me as well, with a jpg

[2021-06-05 23:38] #832 closed, assigned to nobody

[2021-06-06 00:32] kylegrover commented on #787
@zur19 Is this still occurring or resolved now?

[2021-06-06 00:33] kylegrover commented on #782
The money goes directly to you from the smart contract, hicetnunc doesn't hold onto it. It should be instant. check your transactions/wallet

[2021-06-06 00:37] kylegrover commented on #824
You can send it to the burn wallet `tz1burnburnburnburnburnburnburjAYjjX` directly from your wallet, the title of this objkt is 'THE SATOSHI DOLLAR'. There will be a better system for this eventually.

[2021-06-06 05:55] verybadacid commented on #821
I've had this same issue for several days now, as has my partner.

[2021-06-06 06:15] kidartprojects opened #833 "Last 3 mints stuck saying "updating metadata info""
My last 3 mints are not displaying correctly in my collection. They also say this sometimes when I try to open them.

(http 500) <!DOCTYPE html> <html lang="en"> <head> <meta charset="utf-8"> <title>Error</title> </head> <body> <pre>TypeError: Cannot read property &#39;creators&#39; of undefined<br> &nbsp; &nbsp;at readObjkt (/var/task/lib/router/readObjkt.js:14:54)<br> &nbsp; &nbsp;at processTick

[2021-06-06 06:45] holonick commented on #831
Ok thnak you

[2021-06-06 08:49] erphanmalek opened #834 "Last mint stuck saying "updating metadata info"
My last mint is not displaying correctly in my creations.

(http 500) <!DOCTYPE html> <html lang="en"> <head> <meta charset="utf-8"> <title>Error</title> </head> <body> <pre>TypeError: Cannot read property &#39;creators&#39; of undefined<br> &nbsp; &nbsp;at readObjkt (/var/task/lib/router/readObjkt.js:14:54)<br> &nbsp; &nbsp;at runMicrotasks (&lt;anonymous&gt;)<br> &nbsp; &nbsp;at processTicksAndR

[2021-06-06 09:12] ashwhite opened #835 "I can I burn all editions of a piece of art?"
I minted an OBJKT and created 100 editions of that artwork. I retained one edition with the remaining 99 available to buy. I now want to burn all editions, but I'm only able to burn the one edition I 'collected', not all remaining pieces.

How can I completely remove all editions of the artwork?

[2021-06-06 10:08] zur19 commented on #787
hello
still occurring, this objkt got definitely stuck!!
can you remove it maybe? (I cannot burn either)
thanks

    En domingo, 6 de junio de 2021 2:32:52 CEST, Kyle Grover ***@***.***> escribió:

@zur19 Is this still occurring or resolved now?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-06 10:14] laryssavg commented on #833
I have the same problem
![Captura de Tela (66)](https://user-images.githubusercontent.com/85436613/120920762-6eb5dc80-c68e-11eb-919d-65614f4698bb.png)

[2021-06-06 10:18] drkoyaanisqatsi commented on #829
I exactly have the same issue. I have tried other resolutions and low PPI versions but all I get is that issue. It will be my 3rd burnt NFTs If I can't get any solution.

[2021-06-06 10:23] drkoyaanisqatsi commented on #833
I had also same problem, its gone when Im reset my modem with /flushdns. Idk maybe it will help you too. Goodluck!

[2021-06-06 10:59] erphanmalek opened #836 "I can't see my editions on my last mint"
![Hic page 0](https://user-images.githubusercontent.com/83771575/120921971-c464a600-c6db-11eb-88d2-cc7fb75747df.jpg)

https://www.hicetnunc.xyz/objkt/116742

[2021-06-06 11:20] JenkM8 opened #837 "Error after minting"
![image](https://user-images.githubusercontent.com/82592415/120922525-a12cfd00-c6c1-11eb-8bb1-4a42afc342f0.png)

[2021-06-06 13:06] kidartprojects commented on #833
It also says my objects are 1/x. One of them says x/x. What does this mean?

On Sun, Jun 6, 2021, 5:24 AM drkoyaanisqatsi ***@***.***>
wrote:

[2021-06-06 13:25] Stereohopper commented on #836
I had the same problem, but after one hour everything will be fine and there is the right "edition-number" :)

[2021-06-06 15:45] mikus95 opened #838 "Objkts showing up in collection but not in wallet"
This seems to only be an issues with the purchases I made yesterday on HEN, but the pieces I bought are only showing up in my collection. However, when I check my Temple wallet, I don't see any of them listed as assets.

My wallet address tz1ZGQ9DKUy8JeSS6WrYrDr1rC68bjgwbxVB

Some of the pieces I purchased yesterday that are not showing up in my wallet are objkt 116034, 116511, 116116, 116236, 116